.orb__navbar
  .orb__nav
    .orb__nav-item
      span(href="#") Главное
    .orb__nav-item
      a(href="#") Система образования
    .orb__nav-item
      a(href="#") Информатизация образования
    .orb__nav-item
      a(href="#") Документы

