.orb__hambourger
  a.orb__nav-hambourger(href="#") =
  .orb__nav.orb__js-nav
    a.orb__js-nav-close(href="#") ×
    .orb__nav-item
      a(href="#") Главное
    .orb__nav-item
      a(href="#") Система образования
    .orb__nav-item
      a(href="#") Информатизация образования
    .orb__nav-item
      a(href="#") Документы
    .orb__nav-item
      a(href="#") Поиск
    .orb__nav-item
      a(href="#") Техподдержка
    .orb__nav-item
      a(href="#") Войти


.orb__navbar
  .orb__nav
    .orb__nav-item
      span(href="#") Главное
    .orb__nav-item
      a(href="#") Система образования
    .orb__nav-item
      a(href="#") Информатизация образования
    .orb__nav-item
      a(href="#") Документы
  .orb__search
    input(type="text" placeholder="Поиск")
    .orb__search-icon
      include /icons/search-icon


