
.edu-header
  .orb-logo
    .orb-emblem
      //- figure
      //-   img(src="/images/ORB_digital-emblem-colored.svg")
      include /partials/emblem
    .orb-caption Приемка образовательных организаций к новому учебному году и инфраструктура системы образования

  .orb__auth
    .orb__auth-item
      a(href="#") Техподдержка
    .orb__auth-item
      a(href="#") Регистрация
    .orb__auth-item.orb__auth-button
      a(href="#") Войти


