extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-empty.png" )
  
block content
  .digit-colors.small-at-1000
    include /edu/_edu-tmp-header
    include /edu/_edu-tmp-navbar


    .orb__wrapper.full-width
      h1 Реестр образовательных организаций и органов управления образованием
      .orb__text

        p Региональный реестр образовательных организаций и органов управления образованием создан чтобы обеспечить периодический обмен информацией между информационными системами.

        p Региональный реестр содержит основную информацию об образовательной организации (органе управления образованием), включая код, наименование, юридический адрес, сведения о лицензиях и свидетельствах об аккредитации образовательных программ (для образовательных организаций и иных организаций и учреждений, ведущих образовательную деятельность) и т.д.

        section.S
          aside Справочные данные представляют собой дополнительную информацию, касающуюся организаций и органов управления образования, например: фамилия, имя и отчество руководителя, телефоны, адрес электронной почты и адрес сайта, сведения о зданиях, включая информацию об их географическом положении (геокоординаты) и назначении.

        p Электронная школа (модуль «Мониторинг образования») используется для выполнения следующих функций:

        ul 
          li ведение сведений об учащихся образовательных организаций, в том числе принимающих участие в контрольных и диагностических процедурах, включая государственную итоговую аттестацию выпускников общеобразовательных организаций Оренбургской области (далее – государственная итоговая аттестация) в формах основного государственного экзамена, единого государственного экзамена, государственного выпускного экзамена, региональные диагностические процедуры;
          li ведение расписания экзаменов (испытаний);
          li загрузка результатов экзаменов и предоставление к ним доступа образовательным организациям и органам, осуществляющим функции управления в сфере образования;
          li ведение информации о работниках образовательных организаций, включая информацию о возрасте, стаже, результате аттестации, повышении квалификации;
          li внесение информации о классах (учебных группах), содержании обучения, в том числе об используемых учебниках, уровне изучения материала;
          li обмен данными с региональными информационными системами;
    



    include /edu/_edu-footer


block footer