.palette {
  display: flex;
  flex-wrap: wrap;

  &.hidden {
    display: none;
  }

  &.brand-palette {
    margin: 1.5em 0 2em -1.2em;

    @media #{$mobile} {
      margin: 1em 0 3em 0;
    }

    .brand-palette-sample {
      width: 13em;
      height: 13em;
      border-radius: 50%;
      margin-right: -2em;
      padding: 3.5em 1.2em;

      .rgb,
      .cmyk {
        font-size: 0.8em;
        @media #{$mobile} {
          font-size: 0.8em;
        }
      }

      @media #{$mobile} {
        width: 12em;
        height: 12em;
        margin-right: -1.5em;
        margin-bottom: -1.5em;
        padding: 3em 1.5em;
      }
    }
  }

  &.interface-palette {
    margin-bottom: 1em;

    .palette-bar {
      width: 25%;
      height: 6em;
      padding: calc(#{$orb__density} * 0.4) calc(#{$orb__density} * 0.5);

      @media #{$mobile} {
        width: 50%;
      }

      &.half-width {
        width: 12.5%;
        @media #{$mobile} {
          width: 25%;
        }
      }

      .rgb {
        font-size: 0.9em;
        font-family: "Golos UI", sans-serif;
        font-weight: 400;

        @media #{$mobile} {
          font-size: 0.8em;
        }
      }
    }
  }
}

.font-letter {
  font-size: 2.5em;
  line-height: calc(#{$orb__density} / 1.2);
  margin-bottom: 0.5em;

  &.regular {
    font-weight: 400;
  }
  &.demibold {
    font-weight: 600;
  }
  &.bold {
    font-weight: 700;
  }
  &.ui-regular {
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
  }
  &.ui-medium {
    font-family: "Golos UI", sans-serif;
    font-weight: 500;
  }
  &.ui-bold {
    font-family: "Golos UI", sans-serif;
    font-weight: 700;
  }

  @media #{$mobile} {
    font-size: 2.2em;
  }
}

.props {
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // background: rgba(var(--surface-RGB), 0.5);
  // padding: calc(#{$orb__density} * 0.5);

  @media #{$mobile} {
    display: none;
  }

  .prop {
    width: 10em;
    margin-bottom: 0.5em;

    &.double-width {
      width: 20em;
    }

    .prop-caption {
      font-size: 0.75em;
      line-height: 1em;
      padding-bottom: 0.3em;
      border-bottom: 1px solid rgba(var((--text-RGB)), 0.1);
      margin-bottom: 0.5em;
    }

    .value {
      display: inline-block;
      margin: 0 0.5em 0.5em 0;

      .em {
        &::after {
          content: " em ";
        }
      }
      .px {
        &::after {
          content: " px ";
        }
      }

      .em,
      .px {
        display: inline;
      }

      &.arrow-up {
        .em,
        .px {
          &::before {
            content: "↑ ";
          }
        }
      }
      &.arrow-right {
        .em,
        .px {
          &::before {
            content: "→ ";
          }
        }
      }
      &.arrow-down {
        .em,
        .px {
          &::before {
            content: "↓ ";
          }
        }
      }
      &.arrow-left {
        .em,
        .px {
          &::before {
            content: "← ";
          }
        }
      }
    }
  }
}

h3 {
  u {
    text-decoration: none;
    color: rgba(var((--text-RGB)), 0.2);
  }
}

.orb {
  .units-selector {
    display: inline-flex;

    margin-right: 3em;
  }

  .em-converter {
    display: none;
    // opacity: 0;

    &.visible {
      display: inline-flex;
      // opacity: 1;
    }

    input {
      position: relative;
      width: 5em;
      top: -0.28em;
    }
  }
}

.crest {
  padding-right: 30%;
  .st0 {
    fill: rgba(var(--text-RGB), 1);
  }

  // &.shield {
  //   svg {
  //     width: 40%;
  //   }
  // }
}

.logo-plate {
  padding: 1.5em 2em 2em;
  display: flex;
  background-color: rgba(var(--surface-RGB), 0.5);

  .logo {
    width: 50%;
    display: flex;
  }

  .emblem {
    width: 3.8em;
    margin-top: 0.2em;

    &.shield {
      margin-top: 0.7em;
      width: 1.9em;
    }

    svg {
      .st0 {
        fill: rgba(var(--text-RGB), 1);
      }
    }
  }

  .caption {
    width: 30%;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
  }
}

.section-wide {
  margin-right: -10%;
}

.logo-download {
  &.S {
    @media #{$desktop} {
      display: inline-block;
    }

    .download-plate {
      .download-plate-container {
        width: 100%;
        margin: 0;
        padding: 1em 1em 2em 1em;

        img {
          width: auto;
          height: 3em;
        }
      }
    }
  }

  .download-plate {
    position: relative;
    margin-top: -0.5em;
    width: 100%;

    .download-plate-container {
      position: relative;
      margin: 0 -5%;
      width: 110%;
      padding: 1em 5% 2em;
      top: 0;
      box-sizing: border-box;
      background-color: rgba(242, 239, 239, 0);
      border-radius: 0.5em;
      transition: top 0.1s ease, background-color 0.3s ease;

      @media #{$mobile} {
        margin: 0;
        width: 100%;
        padding: 1em 1em 2em 1em;
      }
    }

    .download-caption {
      opacity: 0;
      position: absolute;
      bottom: 0.5em;
      left: 0;
      width: 100%;
      text-align: center;
      color: rgba(0, 0, 0, 0.4);

      font-size: 0.8em;

      transition: opacity 0.5s ease;
    }

    &.hover {
      cursor: pointer;

      .download-plate-container {
        background-color: rgba(var(--surface-RGB), 0.3);
        top: -0.2em;
      }

      .download-caption {
        opacity: 1;
        transition: opacity 0.2s ease;
      }
    }

    .download-menu {
      position: relative;
      text-align: center;
      width: 100%;

      .download-menu-plate {
        display: inline-block;
        position: absolute;
        top: -1.5em;
        z-index: 1;
        width: 18em;
        margin-left: -9em;

        font-size: 0.9em;
        line-height: 1.3;
        text-align: left;

        padding: 0.5em 0.8em 0.2em 0.8em;
        box-sizing: border-box;

        border-radius: 0.5em;
        background-color: rgba(var(--background-RGB), 1);
        box-shadow: 0 1em 2em 0 rgba(var(--surface-RGB), 1);

        opacity: 0;

        transition: top 0.2s ease, opacity 0.2s ease;
        pointer-events: none;

        @media all and (max-width: $mobile) {
          width: 27em;
          margin-left: -13.5em;
          font-size: 0.85em;
          line-height: 1.3;
        }

        p {
          width: 90%;
        }

        .logo-download-links {
          .logo-download-link {
            width: 100%;

            a {
              padding-bottom: 0.3em;

              span {
                font-size: 0.85em;
                opacity: 0.5;
                letter-spacing: 0.1em;
              }
            }

            &:last-child {
              a {
                border-bottom: 0;
              }
            }
          }
        }
      }

      &.visible {
        .download-menu-plate {
          top: -1.7em;
          pointer-events: auto;
          opacity: 1;
          // transition: top .2s ease, opacity .2s ease;
        }
      }
    }
  }
}
