:root {
  --background-color: white;
  --text-color: black;
  --main-color: rgba(0, 100, 200, 1);
  --accent-color: rgba(0, 200, 100, 1);
  --surface-color: rgba(0, 220, 220, 1);
  --mark-color: rgba(255, 230, 0, 1);
  --link-color: rgba(0, 100, 240, 1);
  --link-underline-color: rgba(0, 100, 240, 0.2);
  --link-hover-color: rgba(0, 220, 0, 1);
  --link-underline-hover-color: rgba(0, 220, 0, 0.2);
}
