// Цифра

:root,
.digit-colors {
  --brand-color-1: rgba(12, 34, 72, 1);
  --brand-color-2: rgba(6, 67, 146, 1);
  --brand-color-3: rgba(0, 100, 250, 1);

  --background-RGB: 255, 255, 255;
  --background-color: rgb(var(--background-RGB));

  --text-RGB: 12, 34, 72;
  --text-color: rgb(var(--text-RGB));
  --text-transparent-color: rgba(var(--text-RGB), 0.5);

  --accent-RGB: 0, 100, 220;
  --accent-color: rgb(var(--accent-RGB));

  --surface-RGB: 200, 220, 240;
  --surface-color: rgba(var(--surface-RGB), 0.3);
  --surface-hover-color: rgba(var(--surface-RGB), 0.5);
  --surface-opaque-color: rgba(var(--surface-RGB), 1);

  --link-RGB: 0, 60, 160;
  --link-color: rgb(var(--link-RGB));
  --link-underline-color: rgba(var(--link-RGB), 0.2);

  --hover-RGB: 0, 110, 250;
  --hover-color: rgb(var(--hover-RGB));
  --underline-hover-color: rgba(var(--hover-RGB), 0.2);

  --mark-color: rgba(255, 230, 0, 1);

  --success-color: rgba(60, 180, 0, 1);

  --error-RGB: 180, 0, 60;
  --error-color: rgba(var(--error-RGB), 1);
  --error-surface-color: rgba(var(--error-RGB), 0.1);
}

// Степь

.steppe-colors {
  --brand-color-1: rgba(0, 5, 66, 1);
  --brand-color-2: rgba(46, 50, 177, 1);
  --brand-color-3: rgba(236, 89, 70, 1);
  --brand-color-4: rgba(248, 212, 206, 1);

  --background-RGB: 255, 255, 255;
  --background-color: rgb(var(--background-RGB));

  --text-RGB: 0, 5, 66;
  --text-color: rgb(var(--text-RGB));

  --accent-RGB: 236, 89, 70;
  --accent-color: rgb(var(--accent-RGB));

  --surface-RGB: 248, 212, 206;
  --surface-color: rgba(var(--surface-RGB), 0.3);
  --surface-hover-color: rgba(var(--surface-RGB), 0.8);
  --surface-opaque-color: rgba(var(--surface-RGB), 1);

  --link-RGB: 46, 50, 177;
  --link-color: rgb(var(--link-RGB));
  --link-underline-color: rgba(var(--link-RGB), 0.2);

  --hover-RGB: 255, 105, 85;
  --hover-color: rgb(var(--hover-RGB));
  --underline-hover-color: rgba(var(--hover-RGB), 0.2);

  --mark-color: rgba(255, 230, 100, 1);

  --success-color: rgba(60, 180, 0, 1);

  --error-RGB: 180, 0, 60;
  --error-color: rgba(var(--error-RGB), 1);
  --error-surface-color: rgba(var(--error-RGB), 0.1);
}

// Осень

.autumn-colors {
  --brand-color-1: rgb(10, 48, 80);
  --brand-color-2: rgb(0, 74, 155);
  --brand-color-3: rgb(203, 92, 63);
  --brand-color-4: rgb(255, 215, 68);

  --background-RGB: 255, 255, 255;
  --background-color: rgb(var(--background-RGB));

  --text-RGB: 10, 48, 80;
  --text-color: rgb(var(--text-RGB));

  --accent-RGB: 203, 92, 63;
  --accent-color: rgb(var(--accent-RGB));

  --surface-RGB: 223, 215, 213;
  --surface-color: rgba(var(--surface-RGB), 0.5);
  --surface-hover-color: rgba(var(--surface-RGB), 1);
  --surface-opaque-color: rgba(var(--surface-RGB), 1);

  --link-RGB: 0, 74, 155;
  --link-color: rgb(var(--link-RGB));
  --link-underline-color: rgba(var(--link-RGB), 0.2);

  --hover-RGB: 215, 152, 45;
  --hover-color: rgb(var(--hover-RGB));
  --underline-hover-color: rgba(var(--hover-RGB), 0.2);

  --mark-color: rgba(255, 215, 68, 1);

  --success-color: rgba(0, 150, 40, 1);

  --error-RGB: 230, 60, 60;
  --error-color: rgba(var(--error-RGB), 1);
  --error-surface-color: rgba(var(--error-RGB), 0.2);
}

// Актив

.active-colors {
  --brand-color-1: rgba(240, 240, 240, 1);
  --brand-color-2: rgba(0, 200, 50, 1);
  --brand-color-3: rgba(0, 50, 200, 1);
  --brand-color-4: rgba(15, 15, 15, 1);

  --background-RGB: 255, 255, 255;
  --background-color: rgb(var(--background-RGB));

  --text-RGB: 15, 15, 15;
  --text-color: rgb(var(--text-RGB));

  --accent-RGB: 0, 180, 45;
  --accent-color: rgb(var(--accent-RGB));

  --surface-RGB: 240, 240, 240;
  --surface-color: rgba(var(--surface-RGB), 0.5);
  --surface-hover-color: rgba(var(--surface-RGB), 1);
  --surface-opaque-color: rgba(var(--surface-RGB), 1);

  --link-RGB: 0, 50, 200;
  --link-color: rgb(var(--link-RGB));
  --link-underline-color: rgba(var(--link-RGB), 0.2);

  --hover-RGB: 0, 200, 50;
  --hover-color: rgb(var(--hover-RGB));
  --underline-hover-color: rgba(var(--hover-RGB), 0.2);

  --mark-color: rgba(255, 230, 0, 1);

  --success-color: rgba(0, 150, 40, 1);

  --error-RGB: 220, 0, 0;
  --error-color: rgba(var(--error-RGB), 1);
  --error-surface-color: rgba(var(--error-RGB), 0.1);
}
