.orb {
  img {
    width: 100%;
    display: block;
  }
  .wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;

    @media #{$mobile} {
      width: 100%;
      padding: 0 1em;
    }

    &.full-width {
      width: 100%;
      padding: 0 1em;
    }

    &.edge-to-edge {
      width: 100%;
    }

    &.shift-right {
      @media #{$desktop} {
        padding-left: 6em;
      }
    }

    &.shift-left {
      @media #{$desktop} {
        padding-right: 6em;
      }
    }
  }

  .orb__header {
    padding: 1em 1.2em;

    display: flex;
    justify-content: space-between;

    .orb__identity {
      display: flex;
      border-bottom: none;

      .orb__identity-item {
        margin-right: 0.4em;

        .orb-emblem {
          width: 4em;

          .st0 {
            fill: var(--brand-color-3);
          }
        }

        .orb-logo {
          width: 4em;
        }
      }
    }
  }

  .orb__footer {
    display: flex;
    justify-content: space-between;

    margin-top: 7em;
    padding: 1em 1em 1.5em;
    border-top: 3px solid rgba(var(--surface-RGB), 1);
    // background-color: var(--surface-color);

    .orb__identity {
      display: flex;
      border-bottom: none;
      margin-right: 1em;

      .orb__identity-item {
        margin-right: 0.4em;

        .orb-emblem {
          width: 2em;

          .st0 {
            fill: var(--brand-color-3);
          }
        }

        .orb-logo {
          width: 2em;
        }
      }
    }

    .orb__footer-nav {
      width: 65%;
      margin-right: 1em;

      .links {
        margin-bottom: 0.7em;
      }
      .orb__footer-nav-item {
        display: inline-block;
        margin: 0 1em 0.5em 0;
      }
    }

    .orb__footer-contact {
      width: 35%;
    }

    section {
      margin: 0.4em 0 0.8em;
    }
  }

  .orb__promo-container {
    padding: 0 1.2em;
  }

  .orb__promo {
    position: relative;
    background-color: var(--surface-color);
    height: 26em;
    padding: 1.5em;
    overflow: hidden;
    border-radius: 0.5em;

    .orb__promo-image {
      position: absolute;
      left: 35%;
      width: 75%;
      top: 5.5em;

      img {
        width: 100%;
      }
    }

    .orb__promo-title {
      position: relative;
      // margin-top: 1em;
    }

    .orb__promo-nav {
      position: absolute;
      display: flex;
      left: 0em;
      right: 0em;
      bottom: 0em;

      .orb__promo-nav-item {
        width: 100%;
        flex-grow: 1;
        border-bottom: 0;

        font-size: 1.2em;
        @include orb__normalize-line-height;

        padding: 0.6em 1em 1em 0.8em;

        background-color: var(--surface-color);
        backdrop-filter: blur(1em);

        border-right: 1px solid rgba(0, 0, 0, 0.05);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(var(--surface-RGB), 0.6);
        }

        &:first-child {
          background-color: var(--accent-color);
          color: var(--background-color);
          // border-radius: .5em 0 0 .5em;
          border-right: none;
          &:hover {
            background-color: rgba(var(--hover-RGB), 1);
          }
        }

        &:last-child {
          // border-radius: 0 .5em .5em 0 ;
          border-right: none;
        }
      }
    }
  }

  .orb__grid {
    margin-top: calc(#{$orb__density} * 1);
    display: flex;
    flex-wrap: wrap;

    &.orb__grid-align-bottom {
      align-items: flex-end;
    }

    &.orb__grid-size-XXL {
      .orb__grid-cell {
        width: calc(100% / 2);

        @media #{$mobile} {
          width: 100%;
        }
      }
    }

    &.orb__grid-size-XL {
      .orb__grid-cell {
        width: calc(100% / 3);

        @media #{$mobile} {
          width: 100%;
        }
      }
    }

    &.orb__grid-size-L {
      .orb__grid-cell {
        width: calc(100% / 4);

        @media #{$mobile} {
          width: calc(100% / 2);
        }
      }
    }

    &.orb__grid-size-M {
      .orb__grid-cell {
        width: calc(100% / 5);

        @media #{$mobile} {
          width: calc(100% / 3);
        }
      }
    }

    &.orb__grid-size-S {
      .orb__grid-cell {
        width: calc(100% / 6);

        @media #{$mobile} {
          width: calc(100% / 3);
        }
      }
    }

    &.orb__grid-size-XS {
      .orb__grid-cell {
        width: calc(100% / 7);

        @media #{$mobile} {
          width: calc(100% / 4);
        }
      }
    }

    &.orb__grid-size-XXS {
      .orb__grid-cell {
        width: calc(100% / 8);

        @media #{$mobile} {
          width: calc(100% / 4);
        }
      }
    }

    &.orb__grid-inset-L {
      .orb__grid-cell {
        padding-right: calc(#{$orb__density} * 2);
        padding-bottom: calc(#{$orb__density} * 2);
      }
    }
    &.orb__grid-inset-M {
      .orb__grid-cell {
        padding-right: calc(#{$orb__density} * 1);
        padding-bottom: calc(#{$orb__density} * 1);
      }
    }
    &.orb__grid-inset-S {
      .orb__grid-cell {
        padding-right: calc(#{$orb__density} * 0.5);
        padding-bottom: calc(#{$orb__density} * 0.5);
      }
    }

    .orb__grid-cell {
      width: 50%;

      &.orb__grid-cell-align-bottom {
        align-self: flex-end;
      }

      @media #{$mobile} {
        width: 100%;
      }
    }
  }

  .orb__nav-card {
    display: block;
    padding: 0.8em 1em 1.2em 0.8em;
    background-color: var(--surface-color);
    border-bottom: none;
    // margin-bottom: .5em;
    height: 9em;

    .orb__nav-card__icon {
      svg {
        width: 2em;
        margin-bottom: 0.5em;
        path {
          fill: var(--link-color);
        }
      }
    }

    &:hover {
      border-bottom: none;
      background-color: var(--surface-hover-color);

      .orb__nav-card__icon {
        svg {
          path {
            fill: var(--hover-color);
          }
        }
      }
    }
  }
}
