$orb__density: 1.3em;

.orb {
  .orb__top-space-S {
    margin-top: $orb__density;
  }
  .orb__top-space-M {
    margin-top: calc(#{$orb__density} * 2);
  }
  .orb__top-space-L {
    margin-top: calc(#{$orb__density} * 5);
  }
}
