$orb__mobile: "(max-device-width: 767px)";
$orb__desktop: "(min-device-width: 768px)";

.orb {
  font-size: 20px;
  @include orb__normalize-line-height;

  @media #{$mobile} {
    font-size: 16px;
    @include orb__normalize-line-height;
  }

  section {
    margin-top: 3em;
  }

  a {
    color: var(--link-color);
    border-bottom: 1px solid var(--link-underline-color);
    text-decoration: none;

    &:hover {
      color: var(--hover-color);
      border-bottom: 1px solid var(--underline-hover-color);
    }
  }

  .orb__button-link {
    display: inline-block;
    padding: 0.3em 1em 0.4em;
    border: 2px solid var(--link-underline-color);
    border-radius: 0.3em;

    &:hover {
      border: 2px solid var(--underline-hover-color);
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .orb__text-L {
    font-size: 1.3em;
    @include orb__normalize-line-height;
  }

  .orb__text-S {
    font-size: 0.85em;
    @include orb__normalize-line-height;
  }

  .orb__lead {
    font-size: 1.2em;
    font-weight: 500;
    @include orb__normalize-line-height;
    margin-bottom: calc(#{$orb__density} * 0.4);

    @media #{$mobile} {
      font-size: 1em;
      @include orb__normalize-line-height;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 600;

    mark {
      background: none;
      box-shadow: inset 0 -0.15em var(--background-color),
        inset 0 -0.5em var(--mark-color);
    }
  }

  h1 {
    font-size: 4.2em;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0.4em;

    @media #{$mobile} {
      font-size: 2.7em;
    }
  }

  h2 {
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 700;
    margin-bottom: 0.5em;

    @media #{$mobile} {
      font-size: 2.2em;
    }
  }

  h3 {
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 0.5em;

    @media #{$mobile} {
      font-size: 1.6em;
    }
  }

  h4 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 0.6em;
  }

  h5 {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0.7em;
  }

  h6 {
    font-size: 0.8em;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.7em;
  }

  strong,
  b {
    font-weight: 600;
  }

  mark {
    color: var(--text-color);
    background-color: var(--mark-color);
  }

  ul,
  ol {
    margin: 0 0 calc(#{$orb__density} * 0.75) 0;
    padding: 0;

    li {
      position: relative;
      margin-bottom: calc(#{$orb__density} * 0.5);
    }
  }

  ul {
    li {
      list-style-type: none;
      padding-left: calc(#{$orb__density} * 0.75);

      &:before {
        position: absolute;
        left: 0;
        // content: "⋅ ";
        content: "• ";
      }
    }
  }

  ol {
    padding-left: 1.7em;
    li {
      padding-left: 0.2em;
      list-style: decimal outside none;
    }
  }

  blockquote {
    font-size: 1.4em;
    line-height: $orb__density;
    margin: 0;
    padding-left: calc(#{$orb__density} * 0.75);
    margin-bottom: $orb__density;
  }

  aside {
    margin: 0;
    margin-bottom: 1em;
    background: var(--surface-color);
    padding: 0.75em 2.5em 1em 1em;
    padding: calc(#{$orb__density} * 0.75);
    padding-top: calc(#{$orb__density} * 0.6);
    padding-right: calc(#{$orb__density} * 2);
    border-radius: 0.2em;
  }

  code {
    font-weight: 500;
    padding: 0.1em;
    background: var(--surface-color);
    color: var(--code-color);
  }

  a.button {
  }

  figure {
    margin: 0 0 calc(#{$orb__density} * 0.5) 0;

    &.orb__figure__XXS {
      width: 25%;
    }
    &.orb__figure__XS {
      width: 50%;
    }
    &.orb__figure__S {
      width: 75%;
    }

    figcaption {
      margin-top: calc(#{$orb__density} * 0.75);
      font-size: 0.85em;
      line-height: $orb__density;
      opacity: 0.7;
    }
  }

  details {
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid var(--divider-color);
    border-radius: 0.2em summary {
      padding-bottom: 0.1em;
    }
  }

  .orb__error-color {
    color: var(--error-color);
  }

  .orb__success-color {
    color: var(--success-color);
  }

  .orb__marginal-note {
  }

  .orb__footnote {
  }

  .orb__label {
    display: inline-block;
    padding: 0.1em;
    background-color: var(--accent-color);
    color: var(--on-accent-color);
    border-radius: 0.2em;

    &.orb__label-outline {
      background-color: var(--on-accent-color);
      color: theme-color(main-color);
      border: 2px solid var(--accent-color);
    }

    &.orb__label-S {
      font-size: 0.9em;
    }
  }

  .orb__narrow-text-column {
    width: 65%;

    @media #{$mobile} {
      width: 100%;
    }
  }

  .orb__grid {
    margin-top: calc(#{$orb__density} * 1);
    display: flex;
    flex-wrap: wrap;

    &.orb__grid-align-bottom {
      align-items: flex-end;
    }

    &.orb__grid-size-XXL {
      .orb__grid-cell {
        width: calc(100% / 2);

        @media #{$orb__mobile} {
          width: 100%;
        }
      }
    }

    &.orb__grid-size-XL {
      .orb__grid-cell {
        width: calc(100% / 3);

        @media #{$orb__mobile} {
          width: 100%;
        }
      }
    }

    &.orb__grid-size-L {
      .orb__grid-cell {
        width: calc(100% / 4);

        @media #{$orb__mobile} {
          width: calc(100% / 2);
        }
      }
    }

    &.orb__grid-size-M {
      .orb__grid-cell {
        width: calc(100% / 5);

        @media #{$orb__mobile} {
          width: calc(100% / 3);
        }
      }
    }

    &.orb__grid-size-S {
      .orb__grid-cell {
        width: calc(100% / 6);

        @media #{$orb__mobile} {
          width: calc(100% / 3);
        }
      }
    }

    &.orb__grid-size-XS {
      .orb__grid-cell {
        width: calc(100% / 7);

        @media #{$orb__mobile} {
          width: calc(100% / 4);
        }
      }
    }

    &.orb__grid-size-XXS {
      .orb__grid-cell {
        width: calc(100% / 8);

        @media #{$orb__mobile} {
          width: calc(100% / 4);
        }
      }
    }

    &.orb__grid-inset-L {
      .orb__grid-cell {
        padding-right: calc(#{$orb__density} * 2);
        padding-bottom: calc(#{$orb__density} * 2);
      }
    }
    &.orb__grid-inset-M {
      .orb__grid-cell {
        padding-right: calc(#{$orb__density} * 1);
        padding-bottom: calc(#{$orb__density} * 1);
      }
    }
    &.orb__grid-inset-S {
      .orb__grid-cell {
        padding-right: calc(#{$orb__density} * 0.5);
        padding-bottom: calc(#{$orb__density} * 0.5);
      }
    }

    .orb__grid-cell {
      width: 50%;

      &.orb__grid-cell-align-bottom {
        align-self: flex-end;
      }

      @media #{$orb__mobile} {
        width: 100%;
      }
    }
  }
}
