.orb {
  button {
    display: inline-block;
    padding: 0.25em 1em 0.35em;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--background-color);
    border-radius: 0.3em;

    font-family: "Golos UI", sans-serif;
    font-size: 1.04em;

    @include orb__normalize-line-height;

    &:focus {
      box-shadow: 0 0 0 5px var(--mark-color);
      outline: none;
    }

    &:hover {
      background-color: var(--hover-color);
      border: 2px solid var(--hover-color);
    }
  }

  input[type="text"],
  input[type="number"] {
    display: inline-block;
    width: 100%;
    padding: 0.4em 0.4em 0.45em;
    border: none;
    background-color: var(--surface-color);
    color: var(--text-color);
    border-radius: 0.3em;

    font-family: "Golos UI", sans-serif;

    &::placeholder {
      color: var(--text-transparent-color);
    }

    &:focus {
      box-shadow: 0 0 0 5px var(--mark-color);
      outline: none;
    }
  }

  .orb__select {
    position: relative;
    display: inline-block;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0.3em 2em 0.4em 0.5em;
      background-color: var(--surface-color);
      border: 0;
      border-radius: 0.3em;

      font-family: "Golos UI", sans-serif;
      font-size: 1.04em;

      @media #{$mobile} {
        max-width: 16em;
      }

      &:hover {
        background-color: var(--surface-hover-color);
        // border: 2px solid var(--hover-color);
      }

      &:focus {
        // box-shadow: 0 0 0 5px var(--mark-color);
        outline: none;
      }
    }

    &:after {
      position: absolute;
      content: "〈";
      top: 0.3em;
      right: 0.9em;
      transform: rotate(-90deg) scaleX(1.2) scaleY(0.7);
      z-index: 10;
      pointer-events: none;
    }
  }

  /* CAUTION: Internet Explorer hackery ahead */
  select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
  }
  /* Target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width: 0\0) {
    select {
      background: none\9;
      padding: 5px\9;
    }
  }

  .orb__radiogroup-line {
    display: flex;
    margin-bottom: 0.5em;

    font-family: "Golos UI", sans-serif;
    font-size: 1.04em;

    .option {
      input {
        display: none;

        &:checked + label {
          background-color: var(--accent-color);
          color: var(--background-color);
        }
      }

      label {
        display: block;
        padding: 0.3em 0.5em 0.4em;
        background-color: var(--surface-color);

        &:hover {
          background-color: var(--surface-hover-color);
        }
      }

      &:first-child {
        label {
          border-radius: 0.3em 0 0 0.3em;
          padding-left: 0.8em;
        }
      }
      &:last-child {
        label {
          border-radius: 0 0.3em 0.3em 0;
          padding-right: 0.8em;
        }
      }
    }
  }

  .orb__checkbox {
    display: flex;
    margin-bottom: 0.5em;

    label {
      display: inline-block;
      margin-top: -0.2em;
      padding-left: 0.3em;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      display: inline-block;
      position: relative;
      width: 1em;
      height: 1em;
      border: 1px solid rgba(var(--text-RGB), 0.4);
      border-radius: 0.2em;
      padding: 0;
      vertical-align: baseline;
      cursor: pointer;
      flex-shrink: 0;
      overflow: hidden;

      &:hover {
        border: 1px solid rgba(var(--text-RGB), 1);
      }

      &:checked {
        border: 1px solid var(--accent-color);
        background-color: var(--accent-color);

        &:before {
          content: "";
          position: absolute;
          width: 0.4em;
          height: 0.6em;
          border-right: 2px solid var(--background-color);
          border-bottom: 2px solid var(--background-color);
          left: 0.25em;
          top: 0.025em;
          transform: rotate(45deg);

          @media #{$mobile} {
            left: 0.2em;
            top: 0.08em;
          }
        }

        // &:hover {
        //   background-color: rgba(theme-color-base(wds__text-color), .8);
        //   border: 1px solid rgba(theme-color-base(wds__accent-color), .8);
        // }
      }

      // &:disabled {
      //   opacity: .35;
      //   cursor: default;

      //   &:hover {
      //     border: 1px solid rgba(theme-color-base(wds__text-color), .4);
      //   }
      // }

      &:focus {
        box-shadow: 0 0 0 5px var(--mark-color);
        outline: none;
      }
    }
  }

  .orb__error {
    position: relative;
    padding: calc(#{$orb__density} * 0.75);
    padding-top: calc(#{$orb__density} * 0.6);
    padding-right: calc(#{$orb__density} * 2);
    border-radius: 0.2em;
    color: var(--error-color);
    background-color: var(--error-surface-color);

    &:after {
      content: "×";
      font-size: 1.5em;
      position: absolute;
      top: calc(#{$orb__density} * 0.2);
      right: calc(#{$orb__density} * 0.3);
    }
  }

  .orb__error-text-color {
    color: var(--error-color);
  }
}

.orb {
  .orb__nav {
    a,
    span {
      margin-right: 0.8em;

      &:last-child {
        margin-right: 0;
      }
    }

    span {
      font-weight: 700;
    }
  }
  .orb__icons-nav {
    margin: 2em 0 1em;
    display: flex;
    flex-wrap: wrap;

    a {
      width: 7.5em;
      border-bottom: none;
      padding-right: 2.5em;

      figure {
        figcaption {
          margin-top: 0.5em;
          opacity: 1;
        }
      }

      &:hover {
        img {
          filter: brightness(1.4);
        }
      }
    }
  }

  .orb__cards-menu {
    margin: 2em 0 1em;
    display: flex;
    flex-wrap: wrap;

    a {
      position: relative;
      width: 14em;
      height: 10em;
      padding: 0.8em;
      border-bottom: none;
      margin-right: 0.5em;
      margin-bottom: 0.5em;

      background-color: var(--surface-color);

      figure {
        img {
          position: absolute;
          bottom: 0.8em;
          left: 0.8em;
          height: 1.8em;
        }

        figcaption {
          margin-top: 0;
          opacity: 1;
          color: var(--text-color);
        }
      }

      &:hover {
        background-color: var(--surface-hover-color);

        figcaption {
          color: var(--hover-color);
        }
      }
    }
  }

  .orb__links-list {
    margin: 1em 0;
    max-width: 32em;
    a {
      display: flex;
      padding: 0.2em 0.2em 0.6em 0.2em;
      margin-bottom: 0.3em;

      .orb__link-caption {
        width: 50%;
        padding-right: 1em;
        color: var(--text-color);
      }

      .orb__link-text {
        width: 50%;
        color: var(--link-color);

        &:after {
          content: "↗";
          position: relative;
          bottom: -0.05em;
          margin-left: 0.5em;
          font-size: 0.7em;
        }
      }

      &:hover {
        border-radius: 0.3em;

        background-color: var(--surface-hover-color);
      }
    }
  }
}

.orb {
  .orb-dark {
    color: var(--background-color);
    background-color: var(--text-color);

    a {
      color: var(--background-color);
      border-bottom: 1px solid rgba(var(--background-RGB), 0.3);
      text-decoration: none;

      &:hover {
        color: var(--hover-color);
        border-bottom: 1px solid rgba(var(--hover-RGB), 0.6);
      }
    }
  }
}
