extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-poll.png" )
  
block content
  .digit-colors
    include /poll/_poll-header

    .orb__wrapper
      section
        .poll-card
          .poll-progress.orb__text-S Страница 1 из 15

          .poll-question
            h4 Город или муниципальное образование Оренбургской области, в котором проживаете?
            p.orb__text-S Выберите один вариант
            .poll-answers              
              .orb__select
                select
                  option
                  option(selected='selected') Оренбург
                  option Орск
                  option Бугуруслан
                  option Бузулук
                  option Медногорск
                  option Новотроицк
                  option Абдулинский городской округ
                  option Гайский городской округ
                  option Кувандыкский городской округ
                  option Сорочинский городской округ
                  option Соль-Илецкий городской округ
                  option Ясненский городской округ
                  option ЗАТО Комаровский
                  option Адамовский муниципальный район
                  option Акбулакский муниципальный район
                  option Александровский муниципальный район
                  option Асекеевский муниципальный район
                  option Беляевский муниципальный район
                  option Бугурусланский муниципальный район
                  option Бузулукский муниципальный район
                  option Грачевский муниципальный район
                  option Домбаровский муниципальный район
                  option Илекский муниципальный район
                  option Кваркенский муниципальный район
                  option Красногвардейский муниципальный район
                  option Курманаевский муниципальный район
                  option Матвеевский муниципальный район
                  option Новоорский муниципальный район
                  option Новосергиевский муниципальный район
                  option Октябрьский муниципальный район
                  option Оренбургский муниципальный район
                  option Первомайский муниципальный район
                  option Переволоцкий муниципальный район
                  option Пономаревский муниципальный район
                  option Сакмарский муниципальный район
                  option Саракташский муниципальный район
                  option Светлинский муниципальный район
                  option Северный муниципальный район
                  option Ташлинский муниципальный район
                  option Тоцкий муниципальный район
                  option Тюльганский муниципальный район
                  option Шарлыкский муниципальный район
                  option Другой субъект РФ (кроме Оренбургской области)
                  option Другая страна СНГ (кроме России)
                  option За пределами России и СНГ
          .poll-buttons
            a.orb__button-link.orb__button-link-accent(href="#")
              .orb__link-text Далее →

        .poll-card
          .poll-progress.orb__text-S Страница 1 из 15

          .poll-question
            h4 Город или муниципальное образование Оренбургской области, в котором вы проживаете?
            p.orb__text-S.orb__error-text-color Выберите один вариант
            .poll-answers              
              .orb__select
                select
                  option(selected='selected')
                  option Оренбург
                  option Орск
                  option Бугуруслан
                  option Бузулук
                  option Медногорск
                  option Новотроицк
                  option Другой субъект РФ (кроме Оренбургской области)
                  option Другая страна СНГ (кроме России)
                  option За пределами России и СНГ
          .poll-buttons
            a.orb__button-link.orb__button-link-accent(href="#")
              .orb__link-text Далее →


        .poll-card
          .poll-progress.orb__text-S Страница 2 из 15

          .poll-question
            h4 Какими каналами для получения информации вы пользуетесь?
            p.orb__text-S Отметьте все подходящие варианты
            

            .poll-answers  
              .poll-options.options-as-text-list
                .poll-option
                  input(type='checkbox' id="checkbox-sample-1")
                  label(for="checkbox-sample-1") Интернет
                .poll-option
                  input(type='checkbox' id="checkbox-sample-2")
                  label(for="checkbox-sample-2") Радио
                .poll-option
                  input(type='checkbox' id="checkbox-sample-3")
                  label(for="checkbox-sample-3") Телевидение
                .poll-option
                  input(type='checkbox' id="checkbox-sample-4")
                  label(for="checkbox-sample-4") Газеты, журналы

	

          .poll-question
            h4 Что для вас самое интересное?

            .poll-answers  
              .poll-options.options-as-text-list
                .poll-option
                  input(type='radio' id='radio-sample-1' name='radio-sample')
                  label(for='radio-sample-1') События в мире
                .poll-option
                  input(type='radio' id='radio-sample-2' name='radio-sample')
                  label(for='radio-sample-2') События в России
                .poll-option
                  input(type='radio' id='radio-sample-3' name='radio-sample')
                  label(for='radio-sample-3') События в Оренбургской области
                .poll-option
                  input(type='radio' id='radio-sample-4' name='radio-sample')
                  label(for='radio-sample-4') Трудно что-то выделить, всё интересно

          .poll-buttons
            a.orb__button-link(href="#")
              .orb__link-text ← Назад
            a.orb__button-link.orb__button-link-accent(href="#")
              .orb__link-text Далее →


        .poll-card
          .poll-progress.orb__text-S Страница 6 из 15

          .poll-question
            h4 Какими социальными сетями и мессенджерами вы пользуетесь?
            p.orb__text-S Можно выбрать 8 вариантов

            .poll-answers  
              .poll-options.options-as-icons-list
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s1")
                  label(for="checkbox-sample-s1")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/Facebook.png") 
                    p Facebook
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s2")
                  label(for="checkbox-sample-s2")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/TikTok.png") 
                    p TikTok
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s3")
                  label(for="checkbox-sample-s3")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/Twitter.png") 
                    p Twitter
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s4")
                  label(for="checkbox-sample-s4")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/YouTube.png") 
                    p YouTube
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s5")
                  label(for="checkbox-sample-s5")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/VK.png") 
                    p ВКонтакте
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s6")
                  label(for="checkbox-sample-s6")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/Instagram.png") 
                    p Instagram
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s7")
                  label(for="checkbox-sample-s7")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/Ok.png") 
                    p Одноклассники
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s8")
                  label(for="checkbox-sample-s8")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/Telegram.png") 
                    p Телеграм
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s9")
                  label(for="checkbox-sample-s9")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/Viber.png") 
                    p Viber
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s10")
                  label(for="checkbox-sample-s10")
                    .label-icon
                      img(src="/images/tmp/SocialLogo-png-500px/WhatsApp.png") 
                    p WhatsApp
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s11")
                  label(for="checkbox-sample-s11") Другие
                .poll-option
                  input(type='checkbox' id="checkbox-sample-s12")
                  label(for="checkbox-sample-s12") Не пользуюсь

          .poll-buttons
            a.orb__button-link(href="#")
              .orb__link-text ← Назад
            a.orb__button-link.orb__button-link-accent(href="#")
              .orb__link-text Далее →


	

        .poll-card
          .poll-progress.orb__text-S Страница 7 из 15

          .poll-question
            h4 Читаете ли вы федеральные печатные издания?
            .poll-answers  
              .orb__radiogroup-line
                .option
                  input(type="radio" id="p1-1" name="radiogroup-sample-p1")
                  label(for="p1-1") Регулярно
                .option
                  input(type="radio" id="p1-2" name="radiogroup-sample-p1")
                  label(for="p1-2") Иногда
                .option
                  input(type="radio" id="p1-3" name="radiogroup-sample-p1")
                  label(for="p1-3") Не читаю            

          .poll-question
            h4 А областные?
            .poll-answers  
              .orb__radiogroup-line
                .option
                  input(type="radio" id="p2-1" name="radiogroup-sample-p2")
                  label(for="p2-1") Регулярно
                .option
                  input(type="radio" id="p2-2" name="radiogroup-sample-p2")
                  label(for="p2-2") Иногда
                .option
                  input(type="radio" id="p2-3" name="radiogroup-sample-p2")
                  label(for="p2-3") Не читаю            

          .poll-question
            h4 А городские или районные?
            .poll-answers  
              .orb__radiogroup-line
                .option
                  input(type="radio" id="p3-1" name="radiogroup-sample-p3")
                  label(for="p3-1") Регулярно
                .option
                  input(type="radio" id="p3-2" name="radiogroup-sample-p3")
                  label(for="p3-2") Иногда
                .option
                  input(type="radio" id="p3-3" name="radiogroup-sample-p3")
                  label(for="p3-3") Не читаю            


          .poll-buttons
            a.orb__button-link(href="#")
              .orb__link-text ← Назад
            a.orb__button-link.orb__button-link-accent(href="#")
              .orb__link-text Далее →	


        .poll-card
          .poll-progress.orb__text-S Страница 3 из 11

          .poll-question
            h4 Вы удовлетворены организацией транспортного обслуживания?
            p.orb__text-S Отметьте один вариант ответа в каждой строке таблицы
            .poll-answers
              .orb-poll-table.last-option-is-neutral
                .orb-poll-th
                  .orb-poll-td Критерии оценки
                  .orb-poll-td
                    .orb-poll-th-columns      
                      .orb-poll-th-column Не<br>удов&shy;летво&shy;рён
                      .orb-poll-th-column Час&shy;тично<br>удов&shy;летво&shy;рён
                      .orb-poll-th-column В целом<br>удов&shy;летво&shy;рён
                      .orb-poll-th-column Не могу<br>оценить
                .orb-poll-tr
                  .orb-poll-td Безопасность движения
                  .orb-poll-td
                    .poll-options
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t1")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t1")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t1")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t1")
                .orb-poll-tr
                  .orb-poll-td График движения
                  .orb-poll-td
                    .poll-options
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t2")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t2")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t2")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t2")
                .orb-poll-tr
                  .orb-poll-td Количество транспорта на маршрутах где подписи совсем длинные
                  .orb-poll-td
                    .poll-options
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t3")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t3")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t3")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t3")
                .orb-poll-tr
                  .orb-poll-td Культура обслуживания
                  .orb-poll-td
                    .poll-options
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t4")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t4")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t4")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t4")
                .orb-poll-tr
                  .orb-poll-td Техническое состояние транспорта
                  .orb-poll-td
                    .poll-options
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t5")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t5")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t5")
                      .poll-option
                        label
                          input(type="radio" name="radiogroup-sample-t5")


          .poll-buttons
            a.orb__button-link(href="#")
              .orb__link-text ← Назад
            a.orb__button-link.orb__button-link-accent(href="#")
              .orb__link-text Далее →	



        .poll-card
          .poll-progress.orb__text-S Страница 7 из 15

          .poll-question
            h4 Ваш возраст
            p.orb__text-S Укажите полное число лет
            .poll-answers
              .orb__narrow-text-column
                input(type="text" placeholder="Возраст")


        
          .poll-buttons
            a.orb__button-link(href="#")
              .orb__link-text ← Назад
            a.orb__button-link.orb__button-link-accent(href="#")
              .orb__link-text Далее →	