extends /layouts/main.pug

block content
  .sidebar
    include /partials/sidebar

  .orb__wrapper.shift-right
    section
      h1 Цифровой герб Оренбургской области


      p Геральдическое описание герба:
      aside В червленом поле два золотых знамени, сопровожденные вверху украшенным на концах греко-российским крестом (с одной перекладиной в пояс и одной перекладиной в перевязь), а внизу золотым полумесяцем, повернутым рогами вверх и вправо; на полотнище каждого знамени российский орел образца 1856 года; в серебряной главе щита — бегущая лазоревая куница с червлеными глазами и языком.
      .orb__grid.orb__grid-align-bottom
        .orb__grid-cell
          .crest
            p  Цветная версия:
            figure
              img(src="/images/ORB_digital-emblem-colored.svg")
              figcaption
                a(href="/images/ORB_digital-emblem-CMYK.eps" download) Скачать в формате EPS
              
        .orb__grid-cell
          .crest
            p Одноцветная версия:
            figure
              include /partials/emblem
              figcaption 
                a(href="/images/ORB_digital-emblem-RGB-12-34-72.svg" download) Скачать в формате SVG
    section
      p Правила и ограничения
      ul
        li Охранное поле при использовании с другими гербами и логотипами — 1/2 ширины
        li Охранное поле при комбинировании с текстовыми подписями — 1/4 ширины
        li Одновцветную версию можно красить в любой цвет из любой фирменной палитры, но должен быть хороший контраст c фоном
        li Можно использовать специальную версию без обрамления
        li Не допускаются непропорциональные искажения, изменения в детализации, не допускается контурная обводка и произвольное использование цвета
