extends /layouts/main.pug

block content
  .sidebar
    include /partials/sidebar

  .orb__wrapper.shift-right
    section
      h1 Фирменный стиль Минцифры


    section
      figure(style="margin-right: -15%")
        img(src="/images/identity/ORB-identity-logos.png")
        figcaption
          a(href="/images/ORB-identity-RGB.ai" download) Скачать в формате AI