extends /layouts/main.pug

block content
  .sidebar
    include /partials/sidebar

  .orb__wrapper.shift-right
    section
      h1 Фирменный стиль Минцифры


    section.section-wide
      .orb__grid.orb__grid-inset-L
        .orb__grid-cell
          .logo-download
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/ORB-text-over-RGB.png")                
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/ORB-text-over-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/ORB-text-over-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
                  
        .orb__grid-cell
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/ORB-full-text-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/ORB-full-text-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/ORB-full-text-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
          .plug
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/ORB-short-text-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/ORB-short-text-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/ORB-short-text-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
          .plug
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/ORB-icon-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/ORB-icon-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/ORB-icon-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>

      .orb__grid.orb__grid-inset-L                  
        .orb__grid-cell
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/AG-full-text-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/AG-full-text-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/AG-full-text-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
          .plug
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/AG-short-text-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/AG-short-text-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/AG-short-text-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
          .plug
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/AG-icon-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/AG-icon-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/AG-icon-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
        .orb__grid-cell
          .logo-download
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/AG-text-over-RGB.png")                
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/AG-text-over-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/AG-text-over-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>



      .orb__grid.orb__grid-inset-L
        .orb__grid-cell
          .logo-download
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/UCO-text-over-RGB.png")                
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/UCO-text-over-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/UCO-text-over-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
                  
        .orb__grid-cell
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/UCO-full-text-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/UCO-full-text-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/UCO-full-text-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
          .plug
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/UCO-short-text-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/UCO-short-text-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/UCO-short-text-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>
          .plug
          .logo-download.S
            .download-plate
              .download-plate-container
                img(src="/images/identity/RGB/UCO-icon-RGB.png")
                .download-caption Скачать
              .download-menu
                .download-menu-plate
                  .logo-download-links
                    p.logo-download-link
                      a(href="/images/identity/RGB/UCO-icon-RGB.zip" download) Для экрана<span> ⋅ RGB ⋅ PNG, SVG</span>
                    p.logo-download-link 
                      a(href="/images/identity/CMYK/UCO-icon-CMYK.zip" download) Для печати<span> ⋅ CMYK ⋅ EPS, PDF</span>