extends /layouts/main.pug

block content
  .sidebar
    include /partials/sidebar

  .orb__wrapper.shift-right
    section
      h1 Дизайн-система цифровых сервисов Оренбургской области

    section
      p Дизайн-система представляет собой набор типовых компонентов для интерфейсов и онлайн-публикаций. 
      aside
        p Компоненты описаны в абстрактных терминах без прямой привязки к свойствам CSS. Но образцы компонентов в этом руководстве реализованы на HTML/CSS.
        p Вы можете подключить файл со стилями из репозитория <a href="https://github.com/intuition-team/orb">github.com/intuition-team/orb</a>, создать в своём проекте контейнер с классом .orb и использовать внутри него описанные классы и теги, а в качестве образца HTML-разметки взять исходный код руководства.
      //- aside
        p Для описания свойств элементов используется следующая терминология:
        p <em>inset</em> — внутреннее поле элемента (в CSS это padding)
        p <em>stack</em> — вертикальный внешний отступ от элемента или между элементами (в CSS это margin-top или margin-bottom)
        p <em>inline</em> — вертикальный внешний отступ от элемента или между элементами (в CSS это margin-right или margin-left)
        p <em>font 18px / 1.3</em> — шрифт с кеглем 18px и интерлиньяжем 130% от кегля (в CSS это font-size: 18px; line-height: 1.3em)
      p Основная единица измерения — <em>em</em>. Все размеры можно перевести в px, принимая 1&hairsp;em за 20&hairsp;px (по умолчанию) или произвольное значение от 14&hairsp;px до 24&hairsp;px.

    section.orb__top-space-S
      .units-selector-container
        span Показывать размеры в  
        .orb__radiogroup-line.units-selector.main-units-selector
          .option
            input(type="radio" id="em-units" value="em" name="units-selector" checked)
            label(for="em-units") em
          .option
            input(type="radio" id="px-units" value="px" name="units-selector")
            label(for="px-units") px
        .em-converter.main-em-converter
          span 1 em =  
          input(type="number" value="20" max="24" min="14")
          span  px
      .units-selector-breakpoint




    section#symbols
      h2 Цифровая символика Оренбургской области
      h4 Цифровой герб Оренбургской области
      p Геральдическое описание герба:
      aside В червленом поле два золотых знамени, сопровожденные вверху украшенным на концах греко-российским крестом (с одной перекладиной в пояс и одной перекладиной в перевязь), а внизу золотым полумесяцем, повернутым рогами вверх и вправо; на полотнище каждого знамени российский орел образца 1856 года; в серебряной главе щита — бегущая лазоревая куница с червлеными глазами и языком.
      .orb__grid.orb__grid-align-bottom
        .orb__grid-cell
          .crest
            p  Цветная версия:
            figure
              img(src="/images/ORB_digital-emblem-colored.svg")
              figcaption
                a(href="/images/ORB_digital-emblem-CMYK.eps" download) Скачать в формате EPS
              
        .orb__grid-cell
          .crest
            p Одноцветная версия:
            figure
              include /partials/emblem
              figcaption 
                a(href="/images/ORB_digital-emblem-RGB-12-34-72.svg" download) Скачать в формате SVG
    section
      p Правила и ограничения
      ul
        li Охранное поле при использовании с другими гербами и логотипами — 1/2 ширины
        li Охранное поле при комбинировании с текстовыми подписями — 1/4 ширины
        li Одновцветную версию можно красить в любой цвет из любой фирменной палитры, но должен быть хороший контраст c фоном
        li Можно использовать специальную версию без обрамления
        li Не допускаются непропорциональные искажения, изменения в детализации, не допускается контурная обводка и произвольное использование цвета

    //- section
      .logo-plate
        .logo
          .emblem
            include /partials/emblem
          .caption Оренбургская<br>область
        .logo
          .emblem.shield
            include /partials/shield
          .caption Оренбургская<br>область
    section
      h4 Логотипы проектов Минцифры Оренбургской области
    section
      figure(style="margin-right: -15%")
        img(src="/images/identity/ORB-identity-logos.png")
        figcaption
          a(href="/images/ORB-identity-RGB.ai" download) Скачать в формате AI

    section.orb__top-space-L#colors
      h2 Цветовые палитры
      p Есть несколько цветовых схем для разных проектов, подразделений и контекстов. Каждая схема — это самостоятельная палитра фирменных цветов, которые используются в интерфейсах и на любых других носителях.
      
    section.orb__top-space-S
      .orb__radiogroup-line.color-switch.main-color-switch
        .option
          input(type="radio" id="digit-color" value="digit-colors" name="color-switcher" checked)
          label(for="digit-color") Цифра
        .option
          input(type="radio" id="steppe-color" value="steppe-colors" name="color-switcher" )
          label(for="steppe-color") Степь
        .option
          input(type="radio" id="autumn-color" value="autumn-colors" name="color-switcher")
          label(for="autumn-color") Осень
        .option
          input(type="radio" id="card-color" value="card-colors" name="color-switcher")
          label(for="card-color") Карта
        .option
          input(type="radio" id="active-color" value="active-colors" name="color-switcher")
          label(for="active-color") Актив
      .color-switcher-breakpoint

    section
      p Базовая палитра
      .brand-palettes
        .palette.brand-palette.digit-colors-palette
          .brand-palette-sample(style="background-color: var(--brand-color-3); color: AliceBlue")
            .rgb RGB 0 100 250
            //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-2); color: AliceBlue")
            .rgb RGB 6 67 146
            //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-1); color: AliceBlue")
            .rgb RGB 12 34 72
            //- .cmyk CMYK 0 0 0 0

        .palette.brand-palette.steppe-colors-palette.hidden
          .brand-palette-sample(style="background-color: var(--brand-color-4)")
            .rgb RGB 248 212 206
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-3)")
            .rgb RGB 236 89 70
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-2); color: AliceBlue")
            .rgb RGB 46 50 177
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-1); color: AliceBlue")
            .rgb RGB 0 5 66
            //- //- .cmyk CMYK 0 0 0 0

        .palette.brand-palette.autumn-colors-palette.hidden
          .brand-palette-sample(style="background-color: var(--brand-color-4)")
            .rgb RGB 255 215 68
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-3); color: AliceBlue")
            .rgb RGB 203 92 63
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-2); color: AliceBlue")
            .rgb RGB 0 74 155
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-1); color: AliceBlue")
            .rgb RGB 10 48 80
            //- //- .cmyk CMYK 0 0 0 0

        .palette.brand-palette.card-colors-palette.hidden
          .brand-palette-sample(style="background-color: var(--brand-color-4)")
            .rgb RGB 255 225 0
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-3); color: AliceBlue")
            .rgb RGB 253 47 75
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-2); color: AliceBlue")
            .rgb RGB 0 60 190
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-1); color: AliceBlue")
            .rgb RGB 0 20 40
            //- //- .cmyk CMYK 0 0 0 0

        .palette.brand-palette.active-colors-palette.hidden
          .brand-palette-sample(style="background-color: var(--brand-color-2)")
            .rgb RGB 0 200 50
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-3); color: AliceBlue")
            .rgb RGB 0 50 200
            //- //- .cmyk CMYK 0 0 0 0
          .brand-palette-sample(style="background-color: var(--brand-color-4); color: AliceBlue")
            .rgb RGB 15 15 15
            //- //- .cmyk CMYK 0 0 0 0

      p Интерфейсная
      .palette.interface-palette.digit-colors-palette
        .palette-bar(style="background-color: var(--text-color); color: var(--background-color)")
          .caption text
          .rgb rgb(12, 34, 72), #0c2248
        .palette-bar(style="background-color: var(--link-color); color: var(--background-color)")
          .caption link
          .rgb rgb(0, 60, 160), #003ca0
        .palette-bar(style="background-color: var(--accent-color); color: var(--background-color)")
          .caption accent
          .rgb rgb(0, 100, 220), #0064dc
        .palette-bar(style="background-color: var(--hover-color); color: var(--background-color)")
          .caption hover
          .rgb rgb(0, 110, 250), #006efa
        
        .palette-bar(style="background-color: var(--error-color); color: var(--background-color)")
          .caption error
          .rgb rgb(180, 0, 60)
        .palette-bar(style="background-color: var(--mark-color)")
          .caption mark
          .rgb rgb(255, 230, 0)
        .palette-bar(style="background-color: var(--surface-color)")
          .caption surface
          .rgb rgba(200, 220, 240, .3), #eef4fa
        .palette-bar(style="background-color: var(--background-color)")
          .caption background
          .rgb rgb(255, 255, 255)


      .palette.interface-palette.steppe-colors-palette.hidden
        .palette-bar(style="background-color: var(--text-color); color: var(--background-color)")
          .caption text
          .rgb rgb(0, 5, 66)
        .palette-bar(style="background-color: var(--link-color); color: var(--background-color)")
          .caption link
          .rgb rgb(46, 50, 177)
        .palette-bar(style="background-color: var(--accent-color); color: var(--background-color)")
          .caption accent
          .rgb rgb(236, 89, 70)
        .palette-bar(style="background-color: var(--hover-color); color: var(--background-color)")
          .caption hover
          .rgb rgb(255, 105, 85)
        
        .palette-bar(style="background-color: var(--error-color); color: var(--background-color)")
          .caption error
          .rgb rgb(180, 0, 60)
        .palette-bar(style="background-color: var(--mark-color)")
          .caption mark
          .rgb rgb(255, 230, 100)
        .palette-bar(style="background-color: var(--surface-color)")
          .caption surface
          .rgb rgba(248, 212, 206, .3)
        .palette-bar(style="background-color: var(--background-color)")
          .caption background
          .rgb rgb(255, 255, 255)


      .palette.interface-palette.autumn-colors-palette.hidden
        .palette-bar(style="background-color: var(--text-color); color: var(--background-color)")
          .caption text
          .rgb rgb(10, 48, 80)
        .palette-bar(style="background-color: var(--link-color); color: var(--background-color)")
          .caption link
          .rgb rgb(0, 74, 155)
        .palette-bar(style="background-color: var(--accent-color); color: var(--background-color)")
          .caption accent
          .rgb rgb(203, 92, 63)
        .palette-bar(style="background-color: var(--hover-color); color: var(--background-color)")
          .caption hover
          .rgb rgb(215, 152, 45)
        
        .palette-bar(style="background-color: var(--error-color); color: var(--background-color)")
          .caption error
          .rgb rgb(230, 60, 60)
        .palette-bar(style="background-color: var(--mark-color)")
          .caption mark
          .rgb rgb(255, 215, 68)
        .palette-bar(style="background-color: var(--surface-color)")
          .caption surface
          .rgb rgba(223, 215, 213, .5)
        .palette-bar(style="background-color: var(--background-color)")
          .caption background
          .rgb rgb(255, 255, 255)

      .palette.interface-palette.card-colors-palette.hidden
        .palette-bar(style="background-color: var(--text-color); color: var(--background-color)")
          .caption text
          .rgb rgb(0, 20, 40)
        .palette-bar(style="background-color: var(--link-color); color: var(--background-color)")
          .caption link
          .rgb rgb(0, 60, 190)
        .palette-bar(style="background-color: var(--accent-color); color: var(--background-color)")
          .caption accent
          .rgb rgb(253, 47, 75)
        .palette-bar(style="background-color: var(--hover-color); color: var(--background-color)")
          .caption hover
          .rgb rgb(175, 208, 20)
        
        .palette-bar(style="background-color: var(--error-color); color: var(--background-color)")
          .caption error
          .rgb rgb(220, 0, 20)
        .palette-bar(style="background-color: var(--mark-color)")
          .caption mark
          .rgb rgb(255, 225, 0)
        .palette-bar(style="background-color: var(--surface-color)")
          .caption surface
          .rgb rgba(233, 221, 229, .5)
        .palette-bar(style="background-color: var(--background-color)")
          .caption background
          .rgb rgb(255, 255, 255)


      .palette.interface-palette.active-colors-palette.hidden
        .palette-bar(style="background-color: var(--text-color); color: var(--background-color)")
          .caption text
          .rgb rgb(15, 15, 15)
        .palette-bar(style="background-color: var(--link-color); color: var(--background-color)")
          .caption link
          .rgb rgb(0, 50, 200)
        .palette-bar(style="background-color: var(--accent-color); color: var(--background-color)")
          .caption accent
          .rgb rgb(0, 180, 45)
        .palette-bar(style="background-color: var(--hover-color); color: var(--background-color)")
          .caption hover
          .rgb rgb(0, 200, 50)
        
        .palette-bar(style="background-color: var(--error-color); color: var(--background-color)")
          .caption error
          .rgb rgb(220, 0, 0)
        .palette-bar(style="background-color: var(--mark-color)")
          .caption mark
          .rgb rgb(255, 230, 0)
        .palette-bar(style="background-color: var(--surface-color)")
          .caption surface
          .rgb rgba(240, 240, 240, .5)
        .palette-bar(style="background-color: var(--background-color)")
          .caption background
          .rgb rgb(255, 255, 255)

      p В интерфейсной палитре каждый цвет привязан к определённой функциональному назначени и назван соответственно:
      ul
        li <strong>background</strong> — цвет фона
        li <strong>text</strong> — цвет текста
        li <strong>link</strong> — цвет гиперссылки
        li <strong>accent</strong> — цвет для кнопок и других элементов, которые должны быть заметными
        li <strong>hover</strong> — цвет для подсветки активных элементов при наведении курсора
        li <strong>error</strong> — цвет для сообщений об ошибках; нужно использовать какой-то оттенок красного
        //- li <strong>success</strong> — цвет для сообщений об успешном завершении процесса, всегда какой-то зелёный
        li <strong>mark</strong> — цвет для смыслового выделения отдельных слов в тексте, обязательно светлый
        li <strong>surface</strong> — цвет для плашек, обязательно светлый; для более точной дифференциации интерфейсных слоёв можно использовать градации прозрачности этого цвета — 0.25, 0.5, 0.75, 1


    section.orb__top-space-L#type
      h2 Типографика
      p В дизайне сайтов Орегбургской области используется шрифт Golos. Это универсальный закрытый гротеск, разработанный в студии Паратайп по инициативе компании Смена специально для сайтов государственных и социальных сервисов.
      p Дизайн-система использует три начертания: Regular, Demibold и Bold.
      .orb__grid.orb__grid-size-XS
        .orb__grid-cell
          .font-letter.bold Аа
        .orb__grid-cell
          .font-letter.bold Бб
        .orb__grid-cell
          .font-letter.bold Вв
        .orb__grid-cell
          .font-letter.bold Гг
        .orb__grid-cell
          .font-letter.bold Дд
        .orb__grid-cell
          .font-letter.bold Её
        .orb__grid-cell
          .font-letter.bold Жж
        .orb__grid-cell
          .font-letter.bold Зз
        .orb__grid-cell
          .font-letter.bold Ий
        .orb__grid-cell
          .font-letter.bold Кк
        .orb__grid-cell
          .font-letter.bold Лл
        .orb__grid-cell
          .font-letter.bold Мм
        .orb__grid-cell
          .font-letter.medium НН
        .orb__grid-cell
          .font-letter.medium Оо
        .orb__grid-cell
          .font-letter.medium Пп
        .orb__grid-cell
          .font-letter.medium Рр
        .orb__grid-cell
          .font-letter.medium Сс
        .orb__grid-cell
          .font-letter.medium Тт
        .orb__grid-cell
          .font-letter.medium Уу
        .orb__grid-cell
          .font-letter.medium Фф
        .orb__grid-cell
          .font-letter.medium Хх
        .orb__grid-cell
          .font-letter.medium Цц
        .orb__grid-cell
          .font-letter.medium Чч
        .orb__grid-cell
          .font-letter.medium Шш
        .orb__grid-cell
          .font-letter.regular Щщ
        .orb__grid-cell
          .font-letter.regular Ьъ
        .orb__grid-cell
          .font-letter.regular Ыы
        .orb__grid-cell
          .font-letter.regular Ээ
        .orb__grid-cell
          .font-letter.regular Юю
        .orb__grid-cell
          .font-letter.regular Яя
        .orb__grid-cell
          .font-letter.regular 1₽
        .orb__grid-cell
          .font-letter.regular ×2
        .orb__grid-cell
          .font-letter.regular №3
        .orb__grid-cell
          .font-letter.regular ↑4
        .orb__grid-cell
          .font-letter.regular 5%
        .orb__grid-cell
          .font-letter.regular ±6
        .orb__grid-cell
          .font-letter.regular §7
        .orb__grid-cell
          .font-letter.regular 8*
        .orb__grid-cell
          .font-letter.regular 9˚
        .orb__grid-cell
          .font-letter.regular 0

    section
      h3 Абзац текста<u>, &lt;p&gt;</u>
      p «Программа реализуется в целях ускорения технологического развития Российской Федерации, увеличения количества организаций, осуществляющих технологические инновации, создания сквозных цифровых технологий на основе отечественных разработок, внедрения цифровых технологий и платформенных решений, имеющих значительный потенциал коммерциализации»
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em 1
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.3
            .px

    section
      h3 Лидер-абзац<u>, p.orb__text-L</u>
      p.orb__text-L «Программа реализуется в целях ускорения технологического развития Российской Федерации, увеличения количества организаций, осуществляющих технологические инновации, создания сквозных цифровых технологий на основе отечественных разработок, внедрения цифровых технологий и платформенных решений, имеющих значительный потенциал коммерциализации»
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 1.3
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.3
            .px
    section
      h3 Мелкий текст<u>, p.orb__text-S</u>
      p.orb__text-S «Программа реализуется в целях ускорения технологического развития Российской Федерации, увеличения количества организаций, осуществляющих технологические инновации, создания сквозных цифровых технологий на основе отечественных разработок, внедрения цифровых технологий и платформенных решений, имеющих значительный потенциал коммерциализации»
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 0.85
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.3
            .px
    section
      h3 Заголовки
      h3 <u>&lt;h1&gt;</u>
      h1 Главный заголовок страницы
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 4.2
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1
            .px
        .prop
          .prop-caption Начертание
          .value bold

    section
      h3 <u>&lt;h2&gt;</u>
      h2 Заголовок второго уровня
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 3
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.1
            .px
        .prop
          .prop-caption Начертание
          .value bold

    section
      h3 <u>&lt;h3&gt;</u>
      h3 Заголовок третьего уровня
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 2
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.2
            .px
        .prop
          .prop-caption Начертание
          .value demibold


    section
      h3 <u>&lt;h4&gt;</u>
      h4 Заголовок четвёртого уровня
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 1.3
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.3
            .px

    section
      h3 <u>&lt;h5&gt;</u>
      h5 Заголовок пятого уровня
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 1
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.3
            .px

    section
      h3 <u>&lt;h6&gt;</u>
      h6 Заголовок шестого уровня
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 0.8
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.3
            .px
        .prop
          .prop-caption Разрядка
          .value
            .em 0.1
            .px




      
    section.orb__top-space-L#components
      h2 Базовые интерфейсные компоненты
    section
      h3 Кнопка<u>, &lt;button&gt;</u>
      button Сохранить
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 1
            .px
        .prop
          .prop-caption Цвет текста
          .value background
        .prop
          .prop-caption Цвет фона
          .value accent
        .prop
          .prop-caption Скругление
          .value
            .em 0.3
            .px
        .prop.double-width
          .prop-caption Внутренние поля
          .value.arrow-up
            .em 0.3
            .px
          .value.arrow-right
            .em 1
            .px
          .value.arrow-down
            .em 0.4
            .px
          .value.arrow-left
            .em 1
            .px


    section
      //- h3 Чекбокс
      
      h3 Радиогруппа<u>, .orb__radiogroup-line</u>
      p Используется для выбора единственного варианта из множества, а также для переключения состояний интерфейса.
    section.orb__top-space-S
      .orb__radiogroup-line
        .option
          input(type="radio" id="v1" name="radiogrout-sample" checked)
          label(for="v1") Первый
        .option
          input(type="radio" id="v2" name="radiogrout-sample")
          label(for="v2") Второй
        .option
          input(type="radio" id="v3" name="radiogrout-sample")
          label(for="v3") Третий
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 1
            .px
        .prop.double-width
          .prop-caption Внутренние поля
          .value.arrow-up
            .em 0.3
            .px
          .value.arrow-right
            .em 1
            .px
          .value.arrow-down
            .em 0.4
            .px
          .value.arrow-left
            .em 1
            .px
        .prop
          .prop-caption Скругление
          .value
            .em 0.3
            .px
        .prop
          .prop-caption Цвет фона
          .value surface
        .prop
          .prop-caption Цвет текста
          .value text
        .prop
          .prop-caption Фон активного пункта
          .value accent
        .prop
          .prop-caption Цвет активного пункта
          .value background



    section
      h3 Текстовое поле<u>, input[type=text]</u>
      .orb__narrow-text-column
        input(type="text" placeholder="Эл. почта")
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 1
            .px
        .prop.double-width
          .prop-caption Внутренние поля
          .value.arrow-up
            .em 0.4
            .px
          .value.arrow-right
            .em 0.4
            .px
          .value.arrow-down
            .em 0.45
            .px
          .value.arrow-left
            .em 0.4
            .px
        .prop
          .prop-caption Скругление
          .value
            .em 0.3
            .px
        .prop
          .prop-caption Цвет фона
          .value surface
        .prop
          .prop-caption Цвет текста
          .value text

    section
      h3 Сообщение об ошибке<u>, .orb__error</u>
      .orb__narrow-text-column
        .orb__error
          h5 Публикация не сохранилась
          p.orb__text-S Ошибка сервера: 505
    section.orb__top-space-L#components
      h2 Составные интерфейсные компоненты

    section
      h3 Горизонтальное меню<u>, .orb__nav</u>

      aside
        .orb__nav
          a(href="#") Возможности
          span(href="#") Партнеры
          a(href="#") Новости
          a(href="#") Поддержка
          a(href="#") Документы
      aside.orb-dark
        .orb__nav
          a(href="#") Возможности
          span(href="#") Партнеры
          a(href="#") Новости
          a(href="#") Поддержка
          a(href="#") Документы

    //- section
      h3 Горизонтальное меню с иконками
      .orb__icons-nav
        a(href="#")
          figure
            img(src="/images/icon1.svg")
            figcaption Сообщайте о проблемах
        a(href="#")
          figure
            img(src="/images/icon2.svg")
            figcaption Узнавайте о развитии области
        a(href="#")
          figure
            img(src="/images/icon3.svg")
            figcaption Голосуйте по важным вопросам
        a(href="#")
          figure
            img(src="/images/icon4.svg")
            figcaption Предлагайте идеи
        a(href="#")
          figure
            img(src="/images/icon5.svg")
            figcaption Открытые данные

    section.orb__top-space-L
      h2 Редакционные форматы

    section
      h3 Плашка<u>, &lt;aside&gt;</u>
      aside
        //- h3 Конкурс для IT-лидеров, проектов и организаций
        p Фонд содействия инновациям объявил о начале отбора проектов по программе «Старт» в рамках федерального проекта «Цифровые технологии» национальной программы «Цифровая экономика».
      .props
        .prop
          .prop-caption Размер шрифта
          .value
            .em.base 1
            .px
        .prop
          .prop-caption Интерлиньяж
          .value
            .em 1.3
            .px
        .prop
          .prop-caption Цвет фона
          .value background
        .prop
          .prop-caption Скругление
          .value
            .em 0.2
            .px
        .prop.double-width
          .prop-caption Внутренние поля
          .value.arrow-up
            .em 0.75
            .px
          .value.arrow-right
            .em 2.5
            .px
          .value.arrow-down
            .em 1
            .px
          .value.arrow-left
            .em 1
            .px


    section
      h3 Нумерованный список<u>, &lt;ol&gt; &lt;li&gt;</u>
      .orb__narrow-text-column
        p Документы, предъявляемые гражданином РФ при оформлении заявления на выпуск карты:
        ol
          li Один из документов, удостоверяющих личность гражданина РФ: паспорт гражданина РФ, военный билет или удостоверение личности военнослужащего РФ;
          li Страховое свидетельство обязательного пенсионного страхования (СНИЛС);
          li Полис обязательного медицинского страхования (за исключением военнослужащих).
    section
      h3 Ненумерованный список<u>, &lt;ul&gt; &lt;li&gt;</u>
      .orb__narrow-text-column
        p На Универсальной карте оренбуржца размещаются данные о держателе в электронном и графическом виде:
        ul
          li фамилия, имя, отчество;
          li дата рождения;
          li паспортные данные;
          li СНИЛС владельца карты;
          li номер полиса ОМС ;
          li фотография владельца карты;
          li прочие идентификационные данные.


    section
      h3 Маркер<u>, &lt;mark&gt;</u>
      p Документы, предъявляемые гражданином РФ при оформлении заявления на выпуск карты: <mark>паспорт</mark> гражданина РФ, <mark>СНИЛС</mark> и <mark>полис ОМС</mark>.






    //- section
      h3 Меню из карточек
      .orb__cards-menu
        a(href="#")
          figure
            figcaption Цифровое развитие и формирование цифровой экономики Оренбургской области
            img(src="/images/gos.svg")
        a(href="#")
          figure
            figcaption Региональная информатизация и внедрение информационных технологий в Оренбургской области
            img(src="/images/orb-tech.svg")
        a(href="#")
          figure
            figcaption Развитие электронного правительства и информационного общества в Оренбургской области
            img(src="/images/e-gov.svg")
        a(href="#")
          figure
            figcaption Развитие телекоммуникаций и связи в Оренбургской области
            img(src="/images/comm.svg")
        a(href="#")
          figure
            figcaption Информационная безопасность в органах исполнительной власти Оренбургской области
            img(src="/images/security.svg")
        a(href="#")
          figure
            img(src="/images/icon1.svg")
            figcaption Все проекты

    section
      h3 Кнопка-ссылка<u>, .orb__button-link</u>
      a.orb__button-link(href="#")
        .orb__link-text Заполнить заявку

    //- section
      h3 Таблица<u>, &lt;table&gt; &lt;td&gt;</u>
      table
        th
          td 
          td 
          td 
        tr
          td 
          td 
          td 


    section
      h3 Таблица ссылок
      .orb__links-list
        a(href="http://smev.orb.ru/statisticheskaya-informaciya/rating-omsu")
          .orb__link-caption Рейтинги ОМСУ
          .orb__link-text smev.orb.ru/&NegativeMediumSpace;statisticheskaya-informaciya/&NegativeMediumSpace;rating-omsu
        a(href="http://smev.orb.ru/informacionnye-sistemy")
          .orb__link-caption Информационные системы
          .orb__link-text smev.orb.ru/&NegativeMediumSpace;informacionnye-sistemy
        a(href="https://www.gosuslugi.ru")
          .orb__link-caption Услуги в цифровом виде
          .orb__link-text www.gosuslugi.ru
        a(href="https://cit.orb.ru/ucit")
          .orb__link-caption Удостоверяющий центр
          .orb__link-text cit.orb.ru/ucit
        a(href="https://ag.orb.ru")
          .orb__link-caption Активный гражданин
          .orb__link-text ag.orb.ru

      a.orb__button-link(href="#")
        .orb__link-text Предложить сервис




    section
    figure.marten
      include /partials/marten
    p C любыми вопросами о дизайн-системе и продуктах Минцифры Оренбургской области вы можете обратиться к начальнику отдела мониторинга интернет-ресурсов Центра информационных технологий Оренбургской области Юлии Хрипковой: <a href="mailto:udh@mail.orb.ru">udh@mail.orb.ru</a>, <a href="https://t.me/Uliya_Hripkova">@Uliya_Hripkova</a>
    p.orb__text-S Сделано <a href="https://intuition.team">с Интуицией</a> в 2020 году






      