extends /layouts/main.pug

block content
  .nav
    .nav-title
      h6 Дизайн-система Оренбургской области
    .nav-link
      a(href="#symbols") Символика
    .nav-link
      a(href="#design-system") О системе
    .nav-link
      a(href="#colors") Цветовые схемы
    .nav-link
      a(href="#type") Типографика
    .nav-link
      a(href="#components") Компоненты
  
  .wrapper.shift-right
    section
      h1 Дизайн-система Оренбургской области

      p В министерстве здравоохранения Оренбургской области состоялось совещание по выпуску «Универсальной карты жителя Оренбургской области», организованное региональным министерством цифрового развития и связи. В нем приняли участие вице-губернатор – заместитель председателя Правительства области по социальной политике Татьяна Савинова и министр цифрового развития и связи области Денис Толпейкин.

      p В ходе заседания обсуждался опыт внедрения единой карты петербуржца в сфере здравоохранения. 

      h2 Символика Оренбургской области
