extends /layouts/main.pug

block content
  .nav
    .nav-title
      h6 Дизайн-система Оренбургской области
    .nav-link
      a(href="#symbols") Символика
    .nav-link
      a(href="#colors") Цветовые схемы
    .nav-link
      a(href="#type") Типографика
    .nav-link
      a(href="#components") Компоненты
  
  .wrapper.shift-right
    section
      h1 Дизайн-система Оренбургской области

    section
      p Дизайн-система представляет собой набор типовых компонентов для интерфейсов и онлайн-публикаций. 
      p Дизайн система описывает компоненты без привязки к свойствам CSS. Но вы можете подключить css-файл из репозитория <a href="https://github.com/intuition-team/orb">github.com/intuition-team/orb</a>, создать в проекте контейнер-инициализатор с классом .orb и использовать внутри него все описанные классы и теги. 
      aside
        p Для описания свойств элементов используется следующая терминология:
        p <em>inset</em> — внутреннее поле элемента (в CSS это padding)
        p <em>stack</em> — вертикальный внешний отступ от элемента или между элементами (в CSS это margin-top или margin-bottom)
        p <em>inline</em> — вертикальный внешний отступ от элемента или между элементами (в CSS это margin-right или margin-left)
        p <em>font 18px / 1.3</em> — шрифт с кеглем 18px и интерлиньяжем 130% от кегля (в CSS это font-size: 18px; line-height: 1.3em)
      p Основная единица измерения — em. Все значения можно перевести в px, принимая за базовое значение 1em за 20px (по умолчанию) или другое значение в диапазоне от 12px до 28px
      p Показывать размеры [в em | в px ], 1 em = [20] px

    section
      h2 Символика Оренбургской области
      p (Здесь будут все логотипы)

    section
      h2 Цветовые схемы
      p Есть несколько цветовых схем для разных проектов, подразделений и контекстов. Каждая схема — это самостоятельная палитра фирменных цветов, которые используются в интерфейсах и на любых других носителях.
      
      .orb__radiogroup-line.js-color-switch
        .option
          input(type="radio" id="steppe-option" name="color-switcher" checked)
          label(for="steppe-option") Степь
        .option
          input(type="radio" id="active-option" name="color-switcher")
          label(for="active-option") Актив
        .option
          input(type="radio" id="digit-option" name="color-switcher")
          label(for="digit-option") Цифра
        .option
          input(type="radio" id="contrast-option" name="color-switcher")
          label(for="contrast-option") Контраст

    section
      p Базовая палитра
      .palette
        .palette-bar(style="background-color: var(--brand-color-1)") RGB 248 212 206
        .palette-bar(style="background-color: var(--brand-color-2)") RGB 236 89 70
        .palette-bar(style="background-color: var(--brand-color-3); color: AliceBlue") RGB 46 50 177
        .palette-bar(style="background-color: var(--brand-color-4); color: AliceBlue") RGB 0 5 66

      p Интерфейсная
      .palette
        .palette-bar(style="background-color: var(--text-color); color: AliceBlue") text
        .palette-bar(style="background-color: var(--link-color); color: AliceBlue") link
        .palette-bar(style="background-color: var(--link-hover-color)") hover
        
        .palette-bar(style="background-color: var(--error-color)") error
        .palette-bar(style="background-color: var(--success-color)") success
        //- .palette-bar(style="background-color: rgba(0, 0, 0, 0.3)") disabled
        //- .palette-bar(style="background-color: rgba(200, 0, 0)") code
        .palette-bar(style="background-color: var(--mark-color)") mark
        .palette-bar(style="background-color: var(--surface-color)") surface
        .palette-bar(style="background-color: var(--background-color)") background

    section
      h2 Типографика
      p В дизайне сайтов Орегбургской области используется шрифт Golos. Это универсальный закрытый гротеск, разработанный в студии Паратайп по инициативе компании Смена специально для сайтов государственных и социальных сервисов. Дизайн-система использует три начертания: Regular, DemiBold и Black.
      h3 Текст
      aside
        h3 Конкурс для IT-лидеров, проектов и организаций
        p Фонд содействия инновациям объявил о начале отбора проектов по программе «Старт» в рамках федерального проекта «Цифровые технологии» национальной программы «Цифровая экономика».
        p Программа реализуется в целях ускорения технологического развития Российской Федерации, увеличения количества организаций, осуществляющих технологические инновации, создания сквозных цифровых технологий на основе отечественных разработок, внедрения цифровых технологий и платформенных решений, имеющих значительный потенциал коммерциализации.
      h3 Заголовки
      
    section
      h2 Компоненты
      h3 Кнопка
      h3 Чекбокс
      
      h3 Радиогруппа
      p Используется для выбора единственного варианта из множества, а также для переключения состояний интерфейса.

      .orb__radiogroup-line
        .option
          input(type="radio" id="v1" name="radiogrout-sample" checked)
          label(for="v1") Первый
        .option
          input(type="radio" id="v2" name="radiogrout-sample")
          label(for="v2") Второй
        .option
          input(type="radio" id="v3" name="radiogrout-sample")
          label(for="v3") Третий
    section
      h3 Ввод текста

    section
      h3 Горизонтальное меню с иконками
      .orb__icons-menu
        a(href="#")
          figure
            img(src="/images/icon1.svg")
            figcaption Сообщайте о проблемах
        a(href="#")
          figure
            img(src="/images/icon2.svg")
            figcaption Узнавайте о развитии области
        a(href="#")
          figure
            img(src="/images/icon3.svg")
            figcaption Голосуйте по важным вопросам
        a(href="#")
          figure
            img(src="/images/icon4.svg")
            figcaption Предлагайте идеи
        a(href="#")
          figure
            img(src="/images/icon5.svg")
            figcaption Открытые данные

    section
      h3 Меню из карточек
      .orb__cards-menu
        a(href="#")
          figure
            figcaption Цифровое развитие и формирование цифровой экономики Оренбургской области
            img(src="/images/gos.svg")
        a(href="#")
          figure
            figcaption Региональная информатизация и внедрение информационных технологий в Оренбургской области
            img(src="/images/orb-tech.svg")
        a(href="#")
          figure
            figcaption Развитие электронного правительства и информационного общества в Оренбургской области
            img(src="/images/e-gov.svg")
        a(href="#")
          figure
            figcaption Развитие телекоммуникаций и связи в Оренбургской области
            img(src="/images/comm.svg")
        a(href="#")
          figure
            figcaption Информационная безопасность в органах исполнительной власти Оренбургской области
            img(src="/images/security.svg")
        //- a(href="#")
        //-   figure
        //-     img(src="/images/icon1.svg")
        //-     figcaption Все проекты

    section
      h3 Таблица ссылок
      .orb__links-list
        a(href="http://smev.orb.ru/statisticheskaya-informaciya/rating-omsu")
          .orb__link-caption Рейтинги ОМСУ
          .orb__link-text smev.orb.ru/&NegativeMediumSpace;statisticheskaya-informaciya/&NegativeMediumSpace;rating-omsu
        a(href="http://smev.orb.ru/informacionnye-sistemy")
          .orb__link-caption Информационные системы
          .orb__link-text smev.orb.ru/&NegativeMediumSpace;informacionnye-sistemy
        a(href="https://www.gosuslugi.ru")
          .orb__link-caption Услуги в цифровом виде
          .orb__link-text www.gosuslugi.ru
        a(href="https://cit.orb.ru/ucit")
          .orb__link-caption Удостоверяющий центр
          .orb__link-text cit.orb.ru/ucit
        a(href="https://ag.orb.ru")
          .orb__link-caption Активный гражданин
          .orb__link-text ag.orb.ru

      .orb__button-link
        a(href="#")
          .orb__link-text Предложить сервис






      