extends /layouts/main.pug

block content
  
  .wds__wrapper
    section
      a.huge-link(href="/jobs")
        .txt ВАКАНСИИ
        .txt 3
    section
      figure
        img(src="/images/tmp-game-promo1.png")
    section
      a.huge-link(href="/about")
        .txt КОМПАНИЯ
        .txt →
    section
      figure
        img(src="/images/tmp-game-promo2.png")
