extends /layouts/main.pug

block content
  .top.o-top.digit-colors
    .top-header
      .logos
        .orb-emblem
          include /partials/emblem
        .project-logo
          img(src="/images/identity/ORB_O-logo.svg")
        .project-caption
          h1 Министерство цифрового<br>развития и связи
          p Оренбургской области

          
      .nav-menu
        .orb__nav
          a(href="#") Министерство
          a(href="#") Деятельность
          a(href="#") Обращения
          a(href="#") Документы
          a(href="#") Пресс-центр
  //- img(src="/images/tmp-photo_2020-11-16 11.46.50.jpeg" style="width:100%")
    

    




      