.orb__header
  +a.orb__identity(href="/designs/ag-main")
    .orb__identity-item
      .orb-logo
        img(src="/images/ORB_AG-logo-box.svg")
    .orb__identity-item
      .orb-logo-caption
        p Активный гражданин<br>Оренбургской области

  a.orb__nav-hambourger(href="#") =
  .orb__nav.orb__js-nav
    a.orb__js-nav-close(href="#") ×
    a(href="#") О проекте
    a(href="#") Новости
    a(href="#") Войти

