.orb__footer
  +a.orb__identity(href="/designs/ag-main")
    .orb__identity-item
      .orb-emblem
        include /partials/emblem
    .orb__identity-item
      .orb-logo
        img(src="/images/ORB_AG-logo-box.svg")

  .orb__footer-nav
    section
      p Активный гражданин Оренбургской области
    section
      .orb__footer-nav-item
        a(href="#") Новости
      .orb__footer-nav-item
        a(href="#") Голосования
      .orb__footer-nav-item
        a(href="/designs/ag-report") Итоги работы правительства
      .orb__footer-nav-item
        a(href="#") Открытые данные
      .orb__footer-nav-item
        a(href="#") О проекте
    section
      a.orb__button-link(href="/designs/ag-message")
        .orb__link-text Сообщить о проблеме

  .orb__footer-contact
    section
      p Скачать приложение:
      a.orb__app-store-badge(href="#")
        img(src="/images/tmp/App_Store_Badge_RU_RGB_blk_100317.svg")
      a.orb__app-store-badge(href="#")
        img(src="/images/tmp/google-play-badge.png")

    section
      p.orb__text-S C вопросами и предложениями обращайтесь по адресу<br><a href="mailto:ag@mail.orb.ru">ag@mail.orb.ru</a>

