.orb__grid.orb__grid-size-L.orb__grid-inset-S 
  .orb__grid-cell
    a.orb__nav-card(href="#")
      include /icons/icon-rubbish.pug
      h5 Мусор
      p Мусор во дворах, на дорогах
  .orb__grid-cell
    a.orb__nav-card(href="#")
      include /icons/icon-snow.pug
      h5 Уборка снега
      p Уборка снега во дворах, на дорогах
  .orb__grid-cell
    a.orb__nav-card(href="#")
      include /icons/icon-ads.pug
      h5 Рекламные конструкции
      p Незаконное размещение рекламы
  .orb__grid-cell
    a.orb__nav-card(href="#")
      include /icons/icon-lights.pug
      h5 Уличное освещение
      p Нарушения в работе уличных приборов освещения
  .orb__grid-cell
    a.orb__nav-card(href="#")
      include /icons/icon-public-transport.pug
      h5 Общественный транспорт
      p Проблемы в транспорте и на остановках
  .orb__grid-cell
    a.orb__nav-card(href="#")
      include /icons/icon-roads.pug
      h5 Дороги
      p Содержание, строительство, ремонт
  .orb__grid-cell
    a.orb__nav-card(href="#")
      include /icons/icon-courtyard.pug
      h5 Дворы
      p Благоустройство придомовых территорий
  .orb__grid-cell
    a.orb__nav-card(href="#")
      include /icons/icon-eco.pug
      h5 Парки
      p Благоустройство и содержание общественных территорий