.orb__footer.print__hidden
  .orb__identity.orb-report-2021
    .orb__identity-item
      .orb-emblem
        include /partials/emblem
  .orb-logo
    .orb-emblem
      include /partials/emblem

  .orb__footer-nav
    section
      p Министерство цифрового развития и связи<br>Оренбургской области
    section
      .orb__text-S
        p +7 (3532) 78-62-42
        p
          a(href="http://digital.orb.ru" target="_blank" rel="noopener noreferrer") digital.orb.ru
        p 
          a(href="mailto:office46@mail.orb.ru") office46@mail.orb.ru

  .orb__footer-contact
    section
      .orb__text-S
        p <b>Telegram для СМИ</b>
        p @volkovpchel
      .orb-report-footer-socials.orb__top-space-S
        a(href="https://vk.com/dminoren" target="_blank" rel="noopener noreferrer")
          img(src="/images/orb-report/VK.svg")
        a(href="https://www.instagram.com/dminoren/" target="_blank" rel="noopener noreferrer")
          img(src="/images/orb-report/INST.svg")
        a(href="https://www.facebook.com/dminoren/" target="_blank" rel="noopener noreferrer")
          img(src="/images/orb-report/FB.svg")
        a(href="https://ok.ru/group/57513902932189" target="_blank" rel="noopener noreferrer")
          img(src="/images/orb-report/OK.svg")
        a(href="https://www.youtube.com/channel/UCLrOu81xujluA3QyixMOzzg/featured" target="_blank" rel="noopener noreferrer")
          img(src="/images/orb-report/YT.svg")
     

