.orb__footer.print__hidden
  .orb__identity.orb-report-2021
    .orb__identity-item
      .orb-emblem
        include /partials/emblem
  .orb-logo
    .orb-emblem
      include /partials/emblem

  .orb__footer-nav
    section
      p Министерство цифрового развития и связи<br>Оренбургской области
    section
      .orb__footer-nav-item
        a(href="#") Новости
      .orb__footer-nav-item
        a(href="#") Голосования
      .orb__footer-nav-item
        a(href="/designs/ag-report") Итоги работы правительства
      .orb__footer-nav-item
        a(href="#") Открытые данные
      .orb__footer-nav-item
        a(href="#") О проекте

  .orb__footer-contact
    section
      p.orb__text-S C вопросами и предложениями обращайтесь по адресу<br><a href="mailto:office46@mail.orb.ru">office46@mail.orb.ru</a>

