.orb__footer.print__hidden
  .orb__identity.orb-report-2021
    .orb__identity-item
      .orb-emblem
        include /partials/emblem
  .orb-logo
    .orb-emblem
      include /partials/emblem

  .orb__footer-nav
    section
      p Министерство цифрового развития и связи<br>Оренбургской области
    section
      .orb__text-S
        .orb__grid.orb__grid-size-XL.orb__grid-inset-M
          .orb__grid-cell 
            b Приёмная Минцифры
            p +7 (3532) 78-62-42
          .orb__grid-cell
            b Задать вопрос по связи
            p +7 (3532) 900-555
          .orb__grid-cell
            b Сайт
            p 
              a(href="http://digital.orb.ru" target="_blank" rel="noopener noreferrer") digital.orb.ru
          .orb__grid-cell
            b Электронная почта
            p
              a(href="mailto:office46@mail.orb.ru") office46@mail.orb.ru
          .orb__grid-cell
            b Telegram для СМИ
            p @volkovpchel

  .orb__footer-contact
    section
      .orb-report-footer-socials
        img(src="/images/orb-report/VK.svg")
        img(src="/images/orb-report/INST.svg")
        img(src="/images/orb-report/FB.svg")
        img(src="/images/orb-report/OK.svg")
        img(src="/images/orb-report/YT.svg")
      p.orb__text-S.orb__top-space-S @dminoren
      //- p.orb__text-S C вопросами и предложениями обращайтесь по адресу<br><a href="mailto:office46@mail.orb.ru">office46@mail.orb.ru</a>

