.orb__widget-content
  .orb__widget-logo
    .orb__widget-logo-image
      img(src="/images/identity/ORB_AG-logo.svg")
    .orb__widget-logo-wordmark
      | Активный гражданин<br>Оренбургской области
  .orb__widget-text
    p «Активный гражданин» решает вопросы городского хозяйства и развития территорий
  .orb__widget-text.orb__text-SM
    a.orb__button-link.orb__button-link-accent(href="#")
      .orb__link-text Сообщить о проблеме
    a.orb__button-link(href="#")
      .orb__link-text Участвовать в голосованиях
.orb__widget-image   
  img(src="/images/tmp/orb_pics_ag21.png")   
.orb__widget-footer
  .orb__widget-footer-text.orb__text-SM
    p Скачать приложение:
    a.orb__app-store-badge(href="#")
      img(src="/images/tmp/App_Store_Badge_RU_RGB_blk_100317.svg")
    a.orb__app-store-badge(href="#")
      img(src="/images/tmp/google-play-badge.png")

    




      