.orb__widget-content
  .orb__widget-logo
    .orb__widget-logo-image
      img(src="/images/identity/ORB_OC-logo.svg")
    .orb__widget-logo-wordmark
      | Карта<br>Оренбуржца
  .orb__widget-text
    p Карта платежной системы «Мир» с нефинансовыми сервисами

.orb__widget-image
    img(src="/images/tmp/orb-identity_CMYK-2.png")
    
.orb__widget-footer
  .orb__widget-footer-text.orb__text-SM
    a.orb__button-link.orb__button-link-accent(href="#")
      .orb__link-text О карте
    a.orb__button-link(href="#")
      .orb__link-text Как получить

    //- p Скачать приложение:
    //- a.orb__app-store-badge(href="#")
    //-   img(src="/images/tmp/App_Store_Badge_RU_RGB_blk_100317.svg")
    //- a.orb__app-store-badge(href="#")
    //-   img(src="/images/tmp/google-play-badge.png")




      