extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .orb__promo-container
      .orb__promo
        .orb__promo-image
          img(src="/images/identity/AG-top-image.png")
        .orb__promo-title
          h1 Улучшаем<br>Оренбургскую<br>область!
        .orb__promo-nav
          a.orb__promo-nav-item(href="/designs/ag-message") Сообщить о проблеме
          a.orb__promo-nav-item(href="/designs/ag-votings") Участвовать в голосованиях
          //- a.orb__promo-nav-item(href="#") Открытые<br>данные
          //- a.orb__promo-nav-item(href="/designs/ag-report") Итоги работы правительства
    
    .wrapper.full-width
      section
        h3 Баннеры
      section._S
        .banners
          .banners-column.wide
            include /designs/banner1

            .ag-widget
              .bg-logo
                img(src="/images/tmp/orb_pics_ag6.png")
              h4 Активный гражданин<br>Оренбургской области

              .buttons
                .button
                  a.orb__button-link.orb__button-link-accent(href="#")
                    .orb__link-text Сообщить о проблеме
                .button      
                  a.orb__button-link(href="#")
                    .orb__link-text Участвовать в голосованиях
              .apps
                //- p Скачать приложение:
                a.badge(href="#")
                  img(src="/images/tmp/google-play-badge.png")
                a.badge(href="#")
                  img(src="/images/tmp/App_Store_Badge_RU_RGB_blk_100317.svg")


          .banners-column.narrow
            include /designs/banner2



      //- section._S
        a.orb__button-link(href="/designs/ag-message")
          .orb__link-text Все новости
      section
        h4 Сообщить о проблеме

        include /designs/_ag-themes

      section
        .orb__narrow-text-column
          .orb__narrow-text-column
            .orb__window
              p Удалить сообщение без сохранения данных?
              section._S
                button.orb__right-space-XS Удалить
                a.orb__button-link.orb__button-link-light-accent(href="#") Сохранить черновик
          



    .wrapper
    include /designs/_ag-footer



block footer
      