extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .wrapper.full-width
      section
      h1 Сообщить о проблеме

      .problem-form
        input(type="text" placeholder="Что случилось?")
        button Продолжить   →
      section._L
        h6 О чём можно сообщить

        include /designs/_ag-themes



    include /designs/_ag-footer



      