extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .wrapper.full-width
      section
      h2 Сообщить о проблеме

      .problem-form
        input(type="text" placeholder="Что случилось?")
        button Продолжить   →
      section
        h4 О чём сообщают:

        .orb__grid.orb__grid-size-L.orb__grid-inset-S 
          .orb__grid-cell
            a.orb__nav-card(href="#") Мусор
          .orb__grid-cell
            a.orb__nav-card(href="#") Мусор во дворах, на дорогах
          .orb__grid-cell
            a.orb__nav-card(href="#") Уборка снега
          .orb__grid-cell
            a.orb__nav-card(href="#") Уборка снега во дворах, на дорогах
          .orb__grid-cell
            a.orb__nav-card(href="#") Рекламные конструкции
          .orb__grid-cell
            a.orb__nav-card(href="#") Незаконное размещение рекламы
          .orb__grid-cell
            a.orb__nav-card(href="#") Уличное освещение
          .orb__grid-cell
            a.orb__nav-card(href="#") Нарушения в работе уличных приборов освещения
          .orb__grid-cell
            a.orb__nav-card(href="#") Общественный транспорт
          .orb__grid-cell
            a.orb__nav-card(href="#") Проблемы в транспорте и на остановках
          .orb__grid-cell
            a.orb__nav-card(href="#") Дороги
          .orb__grid-cell
            a.orb__nav-card(href="#") Содержание, строительство, ремонт
          .orb__grid-cell
            a.orb__nav-card(href="#") Дворы
          .orb__grid-cell
            a.orb__nav-card(href="#") Благоустройство придомовых территорий
          .orb__grid-cell
            a.orb__nav-card(href="#") Парки
          .orb__grid-cell
            a.orb__nav-card(href="#") Благоустройство и содержание общественных территорий

    include /designs/_ag-footer



      