extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .orb__promo-container
      .orb__promo
        .orb__promo-image
          img(src="/images/identity/AG-top-image.png")
        .orb__promo-title
          h1 Улучшаем<br>Оренбургскую<br>область!
        .orb__promo-nav
          a.orb__promo-nav-item(href="/designs/ag-message") Сообщить о проблеме
          a.orb__promo-nav-item(href="/designs/ag-votings") Участвовать в голосованиях
          //- a.orb__promo-nav-item(href="#") Открытые<br>данные
          //- a.orb__promo-nav-item(href="/designs/ag-report") Итоги работы правительства
    
    .wrapper.full-width
      section
        h3 Новости
      section._S
        img(src="/images/tmp/Screenshot3245.png")
        //- img(src="/images/tmp/Screenshot3245.png" style="transform: scaleX(-1)")
        //- img(src="/images/tmp/Screenshot3245.png")
      section._S
        a.orb__button-link(href="/designs/ag-message")
          .orb__link-text Все новости
      section
        .orb__narrow-text-column
          .orb__narrow-text-column
            .orb__window
              p Удалить сообщение без сохранения данных?
              section._S
                button.orb__right-space-XS Удалить
                a.orb__button-link.orb__button-link-light-accent(href="#") Сохранить черновик
          


      section
        h4 Сообщить о проблеме

        include /designs/_ag-themes


    .wrapper
    include /designs/_ag-footer



block footer
      