extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .orb__promo-container
      .orb__promo
        .orb__promo-image
          img(src="/images/identity/AG-top-image.png")
        .orb__promo-title
          h3 В голосованиях приняли участие 23 523 жителя Оренбургской области, решено 567 проблем

          p В 2021 году 23 523 пользователя сайта опубликовали 45 672 сообщения
          section.S
            a.orb__button-link.orb__button-link-accent.L(href="/designs/ag-message") Сообщить о проблеме

          


          //- h1 Улучшаем<br>Оренбургскую<br>область!
      section.S
        .orb__promo-nav
          //- a.orb__promo-nav-item(href="/designs/ag-message") Сообщить о проблеме
          a.orb__promo-nav-item(href="/designs/ag-votings") Голосования по важным вопросам
          a.orb__promo-nav-item(href="/designs/ag-report") Итоги работы правительства
          .orb__promo-nav-item.soon(href="#") Открытые<br>данные
    
    .orb__wrapper.full-width
      //- section
        h3 Баннеры
      //- section.S
        .banners
          .banners-column.wide
            include /designs/banner1

            .ag-widget
              .bg-logo
                img(src="/images/tmp/orb_pics_ag6.png")
              h4 Активный гражданин<br>Оренбургской области

              .buttons
                .button
                  a.orb__button-link.orb__button-link-accent(href="#")
                    .orb__link-text Сообщить о проблеме
                .button      
                  a.orb__button-link(href="#")
                    .orb__link-text Участвовать в голосованиях
              .apps
                //- p Скачать приложение:
                a.orb__app-store-badge(href="#")
                  img(src="/images/tmp/google-play-badge.png")
                a.orb__app-store-badge(href="#")
                  img(src="/images/tmp/App_Store_Badge_RU_RGB_blk_100317.svg")


          .banners-column.narrow
            include /designs/banner2



      //- section.S
        a.orb__button-link(href="/designs/ag-message")
          .orb__link-text Все новости
      section
        h4 Сообщить о проблеме

        include /designs/_ag-themes

      section
        .orb__narrow-text-column
          .orb__narrow-text-column
            .orb__window
              p Удалить сообщение без сохранения данных?
              section.S
                button.orb__right-space-XS Удалить
                a.orb__button-link.orb__button-link-light-accent(href="#") Сохранить черновик
          



    .orb__wrapper
    include /designs/_ag-footer


block footer