extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .orb__wrapper.full-at-1000
      section
        h2 Итоги работы Правительства Оренбургской области 

        .year-selector 
          .orb__radiogroup-links
            +a(href='/designs/ag-report') 2019
            +a(href='/designs/ag-report-2020') 2020

        .report-nav.report-2020
          .orb__grid.orb__grid-size-L
            .orb__grid-cell
              a.orb__nav-card.school-design.js-scroll-link(href="#school")
                .orb__nav-card__caption Образование
                .orb__nav-card__image
                  img(src="/images/report/book.svg")
            .orb__grid-cell
              a.orb__nav-card.trolley-design.js-scroll-link(href="#demo")
                .orb__nav-card__caption Демография
                .orb__nav-card__image
                  img(src="/images/report/trolley-icon.png")
            .orb__grid-cell
              a.orb__nav-card.med-design.js-scroll-link(href="#med")
                .orb__nav-card__caption Здравоохранение
                .orb__nav-card__image
                  img(src="/images/report/med-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.sport-design.js-scroll-link(href="#sport")
                .orb__nav-card__caption Спорт
                .orb__nav-card__image
                  img(src="/images/report/sport-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.music-design.js-scroll-link(href="#culture")
                .orb__nav-card__caption Культура
                .orb__nav-card__image
                  img(src="/images/report/music-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.tourism-design.js-scroll-link(href="#tourism")
                .orb__nav-card__caption Туризм
                .orb__nav-card__image
                  img(src="/images/report/tourism-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#roads")
                .orb__nav-card__caption Дорожная инфраструктура
                .orb__nav-card__image
                  img(src="/images/report/construction-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#housekeeping")
                .orb__nav-card__caption Жилищно-коммунальное хозяйство
                .orb__nav-card__image
                  img(src="/images/report/paint-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.city-design.js-scroll-link(href="#city")
                .orb__nav-card__caption Жилье<br>и городская<br>среда
                .orb__nav-card__image
                  img(src="/images/report/city-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.eco-design.js-scroll-link(href="#eco")
                .orb__nav-card__caption Экология
                .orb__nav-card__image
                  img(src="/images/report/recycled-bin-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.city-design.js-scroll-link(href="#digit")
                .orb__nav-card__caption Цифровизация
                .orb__nav-card__image
                  img(src="/images/report/digit.svg")
            .orb__grid-cell
              a.orb__nav-card.tourism-design.js-scroll-link(href="#media")
                .orb__nav-card__caption Интернет, мобильная связь, радио, ТВ
                .orb__nav-card__image
                  img(src="/images/report/radio.svg")
      .report        
        section.orb__top-space-L#school
          h2 Образование
        section 
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                .report-icon-in-text.plus-margin
                  img(src="/images/report/laptop-icon.svg")

                p Обновлена материально-техническая база для детей с ОВЗ в специальной (коррекционной) школе-интернате г. Новотроицка. 
                .orb__top-space-S
                p Получено современное компьютерное оборудование для внедрения цифровой образовательной среды <mark>в 88 школах</mark> и <mark>13 колледжах</mark>: поступило 3838 ноутбуков, 202 интерактивные доски, 101 МФУ. 
            .orb__grid-cell
              .report-50-percent-width-illustration
                img(src="/images/report/school.svg")
              .report-text 
                p Построена 1 школа на 150 мест в посёлке Река Дема Пономаревского района. 
                p Выполнен комплексный капитальный ремонт <mark>25 спортивных залов</mark> в 25 сельских муниципалитетах.

            .orb__grid-cell
              p Открыты:
              ul
                li 42 центра цифрового и гуманитарного профилей «Точка роста» в 32 сельских районах и малых городах области;
                li центр выявления и поддержки одаренных детей «Гагарин»;
                li мобильный технопарк «Кванториум»;
                li 19 мастерских на базе 4-х профессиональных образовательных организаций;
                li центр цифрового образования детей «IT-куб» на базе Оренбургского колледжа экономики и информатики.
            .orb__grid-cell
              p Объем финансирования — 1,5 млрд рублей.
              p Региональные проекты:
              ul
                li «Современная школа»;
                li «Успех каждого ребенка»;
                li «Цифровая образовательная среда»;
                li «Молодые профессионалы»;
                li «Поддержка семей, имеющих детей»;
                li «Учитель будущего».







        section#demo
          h2 Демография
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              p 465 тысяч граждан включены в электронный социальный регистр. Каждый пятый из них получает <nobr>4-5 мер</nobr> поддержки. 
              p Социальные пособия получили около 80 тысяч семей с детьми.
              p Решен жилищный вопрос для 1024 граждан льготных категорий.
              p Получили услуги учреждений социального обслуживания и СОНКО 82,2 тыс. человек. 
              p Проведен капитальный ремонт 4 учреждений на сумму 6,6 млн. руб.

            .orb__grid-cell
              .report-big-illustration.shift-top
                img(src="/images/report/family.svg")

            .orb__grid-cell
              .report-big-illustration.shift-top
                img(src="/images/report/elders.svg")
              p Региональный проект «Финансовая поддержка семей при рождении детей»

              p Финансирование 2,7 млрд. рублей.
              p Социальные выплаты предоставлены около 28,0 тыс. семей с детьми;
              p Сертификаты на региональный материнский капитал получили 3553 семьи;
              p Проведен 1101 цикл ЭКО семьям, страдающим бесплодием.

              p Региональный проект «Разработка и реализация программы системной поддержки и повышения качества жизни граждан старшего поколения»

              p Финансирование 24,1 млн. рублей.
              p Проведены профилактические осмотры (диспансеризация) для 14,7% представителей старшего поколения;

              p Улучшены условия социального обслуживания для 51,2% постоянно проживающих в стационарных организациях социального обслуживания;
              p Охвачено системой долговременного ухода 7,0% пенсионеров;
              p Создано 30 приемных семей;

              p Обучение компьютерной грамотности прошли 1255 человек;

              p Вовлечено в волонтерскую деятельность 576 человек;

              p Участие в социальном туризме приняли 6628 человек;

              p Организовано переобучение и дополнительное профессиональное образование для 433 человек предпенсионного и пенсионного возраста;

              p Вовлечены в культурную жизнь общества 19527 человек;

              p Систематически занимаются физической культурой и спортом 15,5%, в областной спартакиаде «Спортивное долголетие» приняли участие 1235 человек;

              p Досуговые мероприятия в дистанционном формате проведены для более 4700 пожилых граждан, в том числе находившихся на самоизоляции.
                
            .orb__grid-cell
              p Проведены мероприятия по повышению антитеррористической и противопожарной безопасности в 29 учреждениях.
              p Организованными формами отдыха охвачено более 157 тыс. детей
              p Региональная программа «Снижение доли населения с доходами ниже прожиточного минимума в Оренбургской области»
              p Поддержку получили 670,8 тыс. человек на общую сумму 14,0 млрд. рублей.
              p Подпрограмма «Формирование системы комплексной реабилитации и абилитации инвалидов, в том числе детей инвалидов»
              .orb__top-space-S
              p Финансирование 26,4 млн. рублей.
              p Предоставлены социальные услуги 8,6 тыс. инвалидам в рамках ИПРА.
              p Приобретено 518 ед. средства реабилитации по 14 видам, не вошедшим в  федеральный перечень.
              p Доля инвалидов, положительно оценивающих уровень доступности приоритетных объектов и услуг составляет 86,6%.

        section#med

          .orb__grid.orb__grid-inset-S
            .orb__grid-cell
              h2 Здравоохранение
            .orb__grid-cell
              .report-big-icon(style="width: 10em; margin: .5em -.5em 1em 1em")
                img(src="/images/report/logotip-zdrav-804x804.png")
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              
              .report-plate
                p Объем финансирования — 25, 869 млрд рублей.
                p Региональные проекты:
                ul
                  li «Развитие системы оказания первичной медико-санитарной помощи»
                  li «Борьба с сердечно-сосудистыми заболеваниями»
                  li «Борьба с онкологическими заболеваниями»


                p «Развитие детского здравоохранения, включая создание современной инфраструктуры оказания медицинской помощи детям»

                p «Создание единого цифрового контура в здравоохранении на основе единой государственной информационной системы здравоохранения (ЕГИСЗ)»

                p «Обеспечение здравоохранения квалифицированными кадрами»
                p «Развитие экспорта медицинских услуг»
              

              h4 Лекарственная помощь

              p Общий объем льготной лекарственной помощи амбулаторным больным за счет средств федерального и областного бюджетов составил 3,639 млрд рублей. Аптечными организациями обслужено 2,577 млн рецептов, по которым отпущено 5, 496 млн упаковок лекарственных препаратов. 

              p За счет средств областного бюджета:

              p беспечивались бесплатно лекарственными препаратами:
              ul

                li отдельные категории граждан по заболеваниям на 315 млн рублей;
                li граждане, страдающие редкими (орфанными) заболеваниями (в соответствии с ПП РФ № 403), на 184,3 млн рублей;
                li дети до 6 лет из многодетных семей на 9,2 млн рублей;
                li граждане с социально значимыми заболеваниями на 800 млн рублей;
                li граждане, перенесшие сердечно-сосудистое событие, на 195,2 млн рублей. 

              p обеспечивались лекарственными препаратами с 50% скидкой от стоимости:
              ul 
                li труженики тыла на 205 тыс. рублей;
                li реабилитированные лица на 195,5 тыс. рублей;
                li граждане Российской Федерации, проживающие в Оренбургской области, которым на момент окончания Второй мировой войны (2 сентября 1945 года) не исполнилось 18 лет – на 695,8 тыс. рублей.

              p оказывались меры социальной поддержки в виде бесплатного обеспечения полноценным питанием:
              ul 
                li обеспечено более 11 тыс. детей на сумму 52,3 млн рублей;
                li обеспечено 3,7 тыс. беременных женщин и кормящих матерей при наличии медицинских показаний (анемии) на сумму 2,5 млн рублей. 

              p Проведены профилактические осмотры и диспансеризация 518 тыс. человек, в том числе 14,4% пожилых граждан, 6 232 из которых были доставлены из сельской местности. 

              p Вакцинированы против пневмококковой инфекции 382 пожилых гражданина.





            .orb__grid-cell
              .report-plate
                .report-big-icon.float-right(style="width: 10em; margin: .5em -.5em 1em 1em")
                  img(src="/images/report/hospital.svg")

                p Начали работу:
                ul 
                  li 3 центра амбулаторной онкологической помощи;
                  li 3 аптеки и 1 аптечный пункт;
                  li 32 ковидных госпиталя;
                  li 20 лабораторий для тестирования на Covid–19;
                  li автономная некоммерческая организация по оказанию помощи лицам с онкологическими заболеваниями и их семьям «Я выбираю жизнь»;
                  li региональный call-центр.

              .orb__top-space-S
              .report-text 
                .report-big-icon.float-right
                  img(src="/images/report/microscope.svg")
                p Программы дополнительного профессионального образования прошли 2 402 врача и 3 972 средних медицинских работника
                p По программе родовых сертификатов оказана помощь 17 897 женщинам в период беременности, родов и в послеродового восстановления.
            
              h4 Закуплено

              p Медицинское оборудование: 

              ul 
                li линейный ускоритель, 
                li 5 маммографов, 
                li 10 флюорографов, 
                li 4 стационарных рентген-аппарата, 
                li 1 магнитно-резонансный и 17 компьютерных томографов, 27 видеоэндоскопических комплексов, 
                li 36 систем ультразвуковой диагностики, 
                li 3 000 единиц реанимационного оборудования.

              p Передвижные комплексы: 
              ul
                li передвижная лаборатория диагностики ВИЧ-инфекции, 10 передвижных рентген-аппарата, 21 мобильный ФАП, 20 реанимобилей, 22 автомобиля скорой медицинской помощи.

              p Системы автоматизации: 
              ul
                li 64 системы автоматического заполнения карточек пациентов в лабораториях, 560 электронных информационных табло для управления потоками пациентов и 4 816 автоматизированных рабочих мест.


        
        section#sport
          h2 Спорт
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                .report-big-icon
                  img(src="/images/report/sport-logo.svg")
                p Финансирование 102&thinsp;160,4 тыс. рублей.

                p Закуплено и смонтировано искусственное покрытие для футбольного поля г. Оренбург на стадионе «Коммунальщик».

                p Создан физкультурно-оздоровительный комплекс открытого типа в Новоорском районе.

                p Построены новые спортивные площадки для сдачи ГТО в 6 муниципалитетах: Гайский ГО, Абдулинский ГО, г. Новотроицк, Тюльганский, Курманаевский, Оренбургский районы.

                p В спортивные школы поставлено новое спортивное оборудование и инвентарь для занятий физической культурой и спортом.

                p Стипендии и премии выдающимся спортсменам и тренерам составили 9,535 млн. рублей. 



              
              .report-text
                p Регулярно занимаются физической культурой и спортом:
                ul 
                  li 89% детей и молодежи;
                  li 36% граждан среднего возраста;
                  li 15,5% граждан старшего возраста.



            .orb__grid-cell
              .report-text
                p На территории области действуют 84 спортивные школы, где открыто 424 отделения.

              .report-sm-illustration.shift-top
                img(src="/images/report/kids.svg")
        
        section#culture
          h2 Культура
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Национальный проект «Культура»

                p Объем финансирования 321,5 млн. рублей. Исполнено 99,96%.

                p В рамках национального проекта реализуются региональные проекты:
                ul 
                  li «Культурная среда»;
                  li «Творческие люди»;
                  li «Цифровая культура».
                
                p Продолжена реновация выставочного комплекса «Салют, Победа!» Оренбургского губернаторского историко-краеведческого музея.
                p Проведен капитальный ремонт 8 сельских домов культуры, 3 детских школ искусств, выставочного зала истории и краеведения Октябрьского межпоселенческого культурно-досуговый центра.



                .report-sm-illustration
                  img(src="/images/report/culture.svg" style="width: 80%; margin-top: 2em")
            .orb__grid-cell
              .report-plate
                p Завершен капитальный ремонт здания Оренбургского государственного областного театра кукол (1 этап).
                p Оснащены музыкальными инструментами, оборудованием и учебными материалами 8 муниципальных детских школ искусств, 2 государственных колледжа.
                p Созданы 4 модельные библиотеки, 5 виртуальных концертных залов

              .report-text
                p Приоритетный проект «Культура малой Родины»

                p Объем финансирования 70,4 млн. рублей. Исполнено 100,0%. 

                p В рамках проекта реализуются 3 направления: 
                ul 
                  li «Местный Дом культуры»; 
                  li «Театр-детям»; 
                  li «Театры малых городов». 

                p Оснащены световым, звуковым, видеопроекционным оборудованием 10 домов культуры 
                p Театрами осуществлена постановка 16 новых спектаклей, приобретено световое, звуковое оборудование, 2 автобуса для гастролей.

                p Число посещений организаций культуры:
                ul
                  li По итогам 2020 года – 5 655 300 посещений
                  li По итогам 2019 года – 9 730 600 посещени


        
        section#tourism
          h2 Туризм
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-sm-illustration
                img(src="/images/report/travelers.svg")

              .report-text

                p Национальный проект «Туризм и индустрия гостеприимства». Государственная программа Российской Федерации «Экономическое развитие и инновационная экономика».
                p В сумме потрачено 63,42 млн. рублей.

                p Туристско-рекреационный кластер «Атмсофера. Степь»

                p Проект по развитию заповедников «Шайтан-Тау» и «Оренбургский» занял 36 место из 115 во Всероссийском конкурсе на создание туристско-рекреационных кластеров и развитие экотуризма в России.

                p По итогам конкурса проект прошел два модуля акселерационной программы и был выбран пилотным проектом Министерства природных ресурсов и экологии Российской Федерации по развитию экотуризма в России.

            .orb__grid-cell
              .report-plate
                p Комплексный инвестиционный проект «Туристско-рекреационный кластер „Соленые озера“ (II этап)»
                p В 2020 году продолжился второй этап реализации туристско-рекреационного кластера «Соленые озера»:
                ul 

                  li реконструкция 2 дорог по ул. Крюковская и ул. Пушкина в Соль-Илецке.

                  li продолжилась реализация «якорного» проекта кластера – «Рекреационнооздоровительный комплекс «Соленые озера». На объекте велось остекление основных корпусов, строительство переходов между корпусами, а также внутреннее обустройство зданий.




        section#roads
          h2 Дорожная инфраструктура
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Объем финансирования — 15,03 млрд рублей.

                p Госпрограмма «Развитие транспортной системы Оренбургской области»

                p доля автомобильных дорог регионального значения, соответствующих нормативным требованиям: 
                p план — 27,9%, факт — 29,3%;

                p доля дорожной сети городских агломераций, находящихся в нормативном состоянии: 
                p план — 63,6%, факт — 64,5%.

              .report-sm-illustration
                img(src="/images/report/safe-roads-logo.jpg")

                
            .orb__grid-cell
              .report-text
                p Региональный проект «Региональная и местная дорожная сеть (Оренбургская область)»
                p Отремонтировано 484,4 км дорог.
                p Установлено 11 комплексов фотовидеофиксации нарушений ПДД.
                p Реконструированы и построены 10,61 км дорог.

              .report-big-illustration.plus.shift-left
                img(src="/images/report/road.svg")
        
        section#housekeeping
          h2 Жилищно-коммунальное хозяйство
          .orb__grid.orb__grid-inset-L

            .orb__grid-cell
              .report-text
                .report-sm-illustration
                  img(src="/images/report/house.svg")
              .report-text
                p Региональный проект «Чистая вода»
                p Строительство объекта «Обеспечение централизованной системы водоснабжения с. Ждановка Александровского района Оренбургской области». 
                p Финансирование — 85,1 млн рублей.
                p Степень готовности — 81,4 %. 
                p Ввод объекта в эксплуатацию планируется на 2021 год.


            .orb__grid-cell
              .report-plate
                p Региональная программа «Обеспечение качественными жилищно-коммунальными услугами населения Оренбургской области».

                p Региональная программа капитального ремонта общего имущества в МКД.

                p Построено и отремонтировано:
                ul 
                  li 10 котельных
                  li 17 водозаборных скважин
                  li 705 многоквартирных домов;

                p Заменено:
                ul
                  li 6,3 км тепловых сетей
                  li 62,4 км водопроводных сетей
                  li 7,0 км водоотведения
                  li 435 лифтов в 14 многоквартирных домах

                p Улучшены условия проживания 116,79 тыс. человек.



        section#city 
          h2 Жилье и городская среда
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Финансирование — 1, 075 млрд рублей. 
                p Региональные проекты и программы:
                ul 
                  li «Формирование комфортной городской среды в Оренбургской области»;
                  li «Обеспечение устойчивого сокращения непригодного для проживания жилищного фонда Оренбургской области».
              .report-text
                .report-big-illustration
                  img(src="/images/report/city.svg")



            .orb__grid-cell

              .report-text
                p Введено в эксплуатацию:
                ul 

                  li жилья общей площадью 967, 2 м²;
                  li 28 общественных территорий;
                  li 9 дворов.

                p Из аварийного жилья переселено 690 человек.

              .report-sm-illustration
                img(src="/images/report/Ghilye_sreda_logo_cvet_na_bel_lev.png")



                
        
        section#eco 
          h2 Экология
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Цели нацпроекта «Экология»:
                ul 
                  li обеспечение баланса выбытия и воспроизводства лесов в соотношении 100% к 2024 году;
                  li ликвидация несанкционированных свалок в границах городов.

              .report-sm-illustration
                img(src="/images/report/nac_prj_logo.png")
              .report-text
                p Региональный проект «Сохранение лесов» 
                p Отношение площади лесовосстановления и лесоразведения к площади вырубленных и погибших лесных насаждений составил 100%. План в 95,3% перевыполнен.
                p Фактический ущерб от лесных пожаров в 2020 году составил 13,9 тыс. рублей. План в 74 059 тыс. рублей перевыполнен.
                p Работы по лесовосстановлению на землях лесного фонда фактически выполнены на площади 830 га. План в 738 га перевыполнен.
                p Искусственное лесовосстановление выполнено на площади 796 га. План в 704,0 га превыполнен.
                p Содействие естественному возобновлению леса выполнено в полном объёме на площади 34,0 га. План выполнен.
                p Количество выращенного посадочного материала лесных растений составила 3 942,7 тыс. шт. План в 3 910 тыс. шт перевыполнен.
                p Фактическая площадь погибших насаждений составляет 7 626,58 га. План — 7 773 га.

              .report-text
                h4 Региональный проект «Комплексная система обращения с ТКО»

                p Финансирование на 2020 — 118,3 млн рублей. 

                p В ООО «ЭкоСпутник» закуплено оборудование для сортировочного комплекса, построена и введена в эксплуатацию производственная площадка для КГМ.
                p Актуализирована автоматизированная информационная система «Электронная модель территориальной схемы обращения с отходами, в том числе с твердыми коммунальными отходами, Оренбургской области».

                p Результаты: 
                ul 
                  li доля направленных на утилизацию отходов в общей массе образованных твердых коммунальных отходов превышает план в 2,3 раза;
                  li доля твердых коммунальных отходов, направленных на обработку (сортировку), в общей массе образованных твердых коммунальных отходов, превышает план в 2,6 раза;
                

            .orb__grid-cell
              .report-big-illustration.shift-top
                img(src="/images/report/herbs.svg")
              .report-text
                h4 Региональный проект «Чистый воздух»
                p Финансирование на 2020 — 72,1 млн рублей.
                p Подготовлена проектная и рабочая документация на строительство автомобильной дороги «Восточный обход г. Медногорска».
                p В ООО «Медногорский медно-серный комбинат» приобрен тепловоз и  проведены мероприятия по экологическому просвещению и профориентации.
                p Результаты:
                ul 
                  li объем выбросов загрязняющих веществ в атмосферный воздух от стационарных источников  в г. Медногорске снижен на 9,2%, в сравнении с 2017 годом.
                  li объем потребления природного газа в качестве моторного топлива составил 1,11 млн. м3.
              .report-text

                h4 Региональный проект «Чистая страна»

                p Заключено соглашение с Минприроды России о реализации регионального проекта «Чистая страна (Оренбургская область)». В рамках соглашения к 2024 году планируется рекультивировать 6 свалок в границах городов Оренбургской области:
                ul 
                  li 4 свалки в границах г.Оренбурга — п.Бердянка, п.Самородово, с.Городище, с.Краснохолм;
                  li в г. Медногорске;
                  li в г. Новотроицке.
                p Результаты:
                ul
                  li улучшится качество жизни 123,7 тысяч человек;
                  li восстановится 27 гектаров земель

        section#digit 
          h2 Цифровизация
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Проекты:
                ul
                  li «Цифровой регион»;
                  li «Кадры для цифровой экономики»;
                  li «Цифровое государственное управление»;
                  li «Информационная безопасность». 
                  li «Цифровые технологии».

              .report-text
                h4 Цифровое образование

                p Проведено более 20 образовательных программ, которые позволили оренбуржцам освоить ключевые компетенции цифровой экономики.
                p 11 образовательных организаций области получили гранты на развитие талантов в областях математики, информатики, цифровых технологий для развития цифровой экономики.
                p Студенты, будущая профессия которых не связана с цифровыми технологиями, осваивали цифровые компетенции. 6 оренбургских образовательных учреждений привлекли к участию 49 преподавателей и методистов, а также 1 798 студентов.

              .report-text
                h4 Институт руководителей цифровой трансформации

                p Выбрано 26 человек, которые будут управлять единой политикой цифрового развития региона.
                p 11 CDTO прошли курсы повышения квалификации.

              .report-text

                h4 Период пандемии
                p За 48 часов создан портал «Стопкоронавирус56».
                p Настроено 700 рабочих мест для перевода Правительства области на удаленную работу.
                p Организован единый круглосуточный колл-центр по вопросам режима самоизоляции и противодействия CoVID-19 «8-800-302-50-50».

              .report-text
                h4 Дизайн-система Оренбуржья
                p Обновлен портал Правительства и сайты органов государственной власти — сформирована Единая государственная веб-экосистема.
                p Проработана айдентика региона и разработан цифровой герб Оренбургской области.

              .report-sm-illustration
                img(src="/images/report/watch.svg")


            .orb__grid-cell
              .report-sm-illustration
                img(src="/images/report/digit-econ.png")

              .report-text
                h4 Проект «Персональные цифровые сертификаты»:
                ul 
                  li 1031 оренбуржец бесплатно прошел курс профессиональной переподготовки и успешно освоил цифровые компетенции;
                  li оренбургские образовательные организации представили 15 программ по актуальным направлениям цифровой экономики. Их выбрали 318 участников со всей страны.

              .report-text
                h4 Цифровые госуслуги
              
                p 128 из 189 услуг органов исполнительной власти переведены в электронный вид.
                p Обновлена электронная приемная граждан — добавлена авторизация через «Госуслуги», трекер обращения, подсказки.
                p 74,6% населения области пользуются электронными государственными и муниципальными услугами — Оренбуржье занимает 8 место среди регионов РФ по использованию населением электронных госуслуг.

              .report-text
                h4 Центр обнаружения и реагирования на инциденты информационной безопасности (SOC)
                p Зафиксировано более 15 млн событий информационной безопасности, из них около 14 тысяч могли нанести ущерб. 
                p Устранено 175 тысяч уязвимостей.

              .report-text
                p Появились новые сервисы
                ul 
                  li платформа обратной связи;
                  li ГИС «Активный гражданин»;
                  li ГИС «Единый реестр имущества в Оренбургской области»;
                  li личный кабинет сельхозтоваропроизводителя.
                p В разработке
                ul 
                  li проект «Универсальная карта жителя Оренбургской области»;
                  li АПК «Безопасный город»;
                  li ГИС обеспечения градостроительной деятельности;
                  li региональная геоинформационная система;
                  li информационная система автоматизации контрольно надзорной деятельности Оренбургской области.



        section#media
          h2 Интернет, мобильная связь, радио, ТВ
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Национальный проект «Информационная инфраструктура».
                p Региональные проекты:
                ul 
                  li «Устранение цифрового неравенства»;
                  li «Подключение социально-значимых объектов».
              .report-text
                p Качественная мобильная связь охватывает 93% Оренбургской области.
                p В зоне покрытия высокоскоростного интернета находит 95% жилых территорий области. Оренбуржье занимает 4 место среди регионов РФ по обеспечению домохозяйств широкополосным интернетом.
                p Система цифрового телевещания охватывает 98,2% населения.
                p Доступ хотя бы к 1 радиоканалу имеет 99% населения. 96% населения области могут слушать 3 радиоканала: «Радио России», «Маяк» и «Вести FM».

              .report-sm-illustration
                img(src="/images/report/ar.svg")

            .orb__grid-cell
              .report-text
                h4 Работы

                p За 2020 год были к высокоскоростному интернету подключены объекты:
                ul 
                  li здравоохранения — 191;
                  li образования — 189;
                  li МЧС — 13;
                  li ОМС — 124;
                  li Росгвардии — 1.

                p 43 населенных пунктов с количеством жителей от 250 до 500 человек подключены к интернету. 

                p За период 2019–2020 годы операторами было построено и запущено в эксплуатацию 12 новых базовых станций сотовой связи. Они охватывают 16 малых населенных пунктов в 11 муниципальных образованиях Оренбургской области — Более 8 000 человек получили доступ к современным услугам связи.


              
          



    include /designs/_ag-footer


block footer