extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .wrapper.full-width
      section
      h2 Итоги работы Правительства Оренбургской области за 2019 год

      .orb__grid.orb__grid-size-L.orb__grid-inset-S 
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-ed
            .orb__nav-card__caption Образование
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-demo
            .orb__nav-card__caption Демография
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-health
            .orb__nav-card__caption Здравоохранение
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-sports
            .orb__nav-card__caption Спорт
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-culture
            .orb__nav-card__caption Культура
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-tourism
            .orb__nav-card__caption Туризм
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-roads
            .orb__nav-card__caption Дорожная инфраструктура
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-housekeeping
            .orb__nav-card__caption Жилищно-коммунальное хозяйство
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-urban
            .orb__nav-card__caption Жилье и городская среда
        .orb__grid-cell
          a.orb__nav-card(href="#")
            include /icons/icon-eco
            .orb__nav-card__caption Экология

    include /designs/_ag-footer



      