extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .orb__wrapper.full-at-1000
      section
        h2 Итоги работы Правительства Оренбургской области 

        .year-selector 
          .orb__radiogroup-links
            +a(href='/designs/ag-report') 2019
            +a(href='/designs/ag-report-2020') 2020
            +a(href='/designs/ag-report-2021') 2021

        .report-nav.report-2021
          .orb__grid.orb__grid-size-L
            .orb__grid-cell
              a.orb__nav-card.school-design.js-scroll-link(href="#school")
                .orb__nav-card__caption Образование
                .orb__nav-card__image
                  img(src="/images/report/book.svg")
            .orb__grid-cell
              a.orb__nav-card.trolley-design.js-scroll-link(href="#demo")
                .orb__nav-card__caption Социальная защита и обслуживание
                .orb__nav-card__image
                  img(src="/images/report/trolley-icon.png")
            .orb__grid-cell
              a.orb__nav-card.med-design.js-scroll-link(href="#med")
                .orb__nav-card__caption Здравоохранение
                .orb__nav-card__image
                  img(src="/images/report/med-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.sport-design.js-scroll-link(href="#sport")
                .orb__nav-card__caption Спорт
                .orb__nav-card__image
                  img(src="/images/report/sport-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.music-design.js-scroll-link(href="#culture")
                .orb__nav-card__caption Культура
                .orb__nav-card__image
                  img(src="/images/report/music-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.tourism-design.js-scroll-link(href="#tourism")
                .orb__nav-card__caption Туризм
                .orb__nav-card__image
                  img(src="/images/report/tourism-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#roads")
                .orb__nav-card__caption Дорожная инфраструктура
                .orb__nav-card__image
                  img(src="/images/report/construction-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#housekeeping")
                .orb__nav-card__caption Жилищно-коммунальное хозяйство
                .orb__nav-card__image
                  img(src="/images/report/paint-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.city-design.js-scroll-link(href="#city")
                .orb__nav-card__caption Жилье<br>и городская<br>среда
                .orb__nav-card__image
                  img(src="/images/report/city-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.eco-design.js-scroll-link(href="#eco")
                .orb__nav-card__caption Экология
                .orb__nav-card__image
                  img(src="/images/report/recycled-bin-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.tourism-design.js-scroll-link(href="#young_people")
                .orb__nav-card__caption Молодёжная политика
                .orb__nav-card__image
                  img(src="/images/report/young_people.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#zags")
                .orb__nav-card__caption ЗАГСы
                .orb__nav-card__image
                  img(src="/images/report/couple_of_rings.svg")
            .orb__grid-cell.half-width
              a.orb__nav-card.city-design.js-scroll-link(href="#digit")
                .orb__nav-card__caption Цифровизация
                .orb__nav-card__image
                  img(src="/images/report/digit.svg")
            .orb__grid-cell.half-width
              a.orb__nav-card.tourism-design.js-scroll-link(href="#media")
                .orb__nav-card__caption Интернет, мобильная связь, радио, ТВ
                .orb__nav-card__image
                  img(src="/images/report/radio.svg")
      .report        
        section.orb__top-space-L#school
          h2 Образование 
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                p Региональные проекты:
                ul
                  li «Современная школа»;
                  li «Успех каждого ребенка»;
                  li «Цифровая образовательная среда»;
                  li «Молодые профессионалы»;
                  li «Патриотическое воспитание граждан Российской Федерации».

              h4 Региональный проект «Современная школа»
              ul
                li Получено разрешение на ввод в эксплуатацию школы на 1135 мест в Оренбурге.
                li Продолжено строительство школы на 500 мест в селе Подгородняя Покровка Оренбургского района. 
                li Начато строительство школы на 1135 мест в Оренбурге.
                li Открыта школа на 264 места в поселке Пригородный Оренбургского района.
                li Капитально отремонтирована СОШ № 1 в поселке Переволоцкий.
                li Открыты 112 центров естественно-научной и технологической направленностей «Точка роста» в 35 сельских районах и малых городах области.
                li Создан первый в регионе Центр непрерывного повышения профессионального мастерства педагогических работников на базе педагогического колледжа им. Н.К. Калугина города Оренбурга.
              
              .report-50-percent-width-illustration
                img(src="/images/report/school.svg")

            .orb__grid-cell
              h4 Региональный проект «Успех каждого ребенка»
              p Выполнен комплексный капитальный ремонт 27 спортивных залов в сельских муниципалитетах.
              .orb__top-space-M

              h4 Региональный проект «Цифровая образовательная среда»
              .report-icon-in-text.plus-margin
                  img(src="/images/report/laptop-icon.svg")
              p Создан центр цифрового образования детей «IT-куб» на базе Орского нефтяного техникума им. В.А. Сорокина.
              .orb__top-space-M

              h4 Региональный проект «Патриотическое воспитание граждан Российской Федерации» 
              p Внедрены примерные программы воспитания с 1 сентября 2021 года во всех дошкольных образовательных организациях, общеобразовательных организациях и организациях среднего профессионального образования (СПО).
              .orb__top-space-M

              h4 Национальный проект «Демография» <br>региональный проект «Содействие занятости»
              ul
                li Введено в эксплуатацию 4 детских сада на 640 мест (два — в Оренбурге и по одному — в Оренбургском и Шарлыкском районах).
                li Выкуплен детский сад за счет средств областного бюджета на 60 мест в Абдулино.
                li Завершено строительство детского сада на 140 мест в селе Ташла Ташлинского района. 


        section#demo
          h2 Социальная защита <br>и обслуживание
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              p Новую ежегодную денежную выплату для малоимущих многодетных семей на приобретение школьной формы в беззаявительном порядке получили 39,3 тыс. детей на общую сумму 15,7 млн ₽.
              p Помощь в трудной жизненной ситуации оказана 701 заявителю на сумму 20,0 млн ₽.
              p Единовременную денежную выплату — 300,0 тыс. ₽ взамен бесплатного предоставления земельных участков в собственность получили 487 многодетных семьей.
              p Решен жилищный вопрос для 778 граждан льготных категорий. 
              p 92,7 тыс. человек получили услуги учреждений социального обслуживания и социально ориентированных некоммерческих организаций (СОНКО). 

            .orb__grid-cell
              .report-big-illustration.shift-top
                img(src="/images/report/family.svg")

            .orb__grid-cell
              h4 Социальный контракт
              p Госпомощь предоставлена 5137 заявителям на сумму около 600,0 млн ₽.
              p Количество самозанятых увеличено почти на 2,5 тысячи.
              p Из 1248 человек, заключивших контракт на поиск работы, 43% трудоустроены. 
              p 1364 человека начали собственное дело.
              p 1043 семьи получили поддержку на ведение личного подсобного хозяйства (ЛПХ).
              
              .orb__top-space-M
              h4 Поддержка людей с ОВЗ
              p На повышение уровня жизни, реабилитацию и интеграцию в общество 179,7 тыс. инвалидов направлено 124,0 млн ₽.
              p Предоставлены социальные услуги 7,9 тыс. инвалидам в рамках Индивидуальной программы реабилитации или абилиатации (ИПРА).  
              p Приобретено 1451 единиц технических средств реабилитации, предоставляемых отдельным категориям граждан.  
              p Доля инвалидов, положительно оценивающих уровень доступности приоритетных объектов и услуг, составляет 89,6%.  
              p Направлено на реконструкцию жилья с учетом нужд колясочников, обеспечение техническими средствами реабилитации (ТСР) и др. виды социальной помощи 17,5 млн ₽.
                
              .report-big-illustration.orb__top-space-M
                img(src="/images/report/elders.svg")

            .orb__grid-cell
              .report-plate
                h5 Региональный проект «Финансовая поддержка семей при рождении детей»
                ul 
                  li финансирование 3,5 млрд ₽ (↑0,8 млрд ₽); 
                  li социальные выплаты предоставлены более 41,0 тыс. семей с детьми;
                  li сертификаты на региональный материнский капитал получили 3964 семьи; 
                  li проведено 1152 цикла ЭКО семьям, страдающим бесплодием.

              .report-plate
                h5 Региональный проект «Разработка и реализация программы системной поддержки и повышения качества жизни граждан старшего поколения»
                ul 
                  li финансирование 2,9 млн ₽; 
                  li проведены профилактические осмотры (диспансеризация) для 27,5% представителей старшего поколения; 
                  li госпитализировано на геронтологические койки лиц старше 60 лет – 1300 человек;
                  li охвачено системой долговременного ухода 9,4% пенсионеров; 
                  li создано 42 приемные семьи; 
                  li обучение компьютерной грамотности прошли 1030 человек; 
                  li вовлечено в волонтерскую деятельность 610 человек; 
                  li участие в социальном туризме приняли 9377 человек; 
                  li вовлечены в культурную жизнь общества 3315 человек; 
                  li систематически занимаются физической культурой и спортом 3427 человек; 
                  li в областной спартакиаде «Спортивное долголетие» приняли участие 960 человек.  

        section#med

          .orb__grid.orb__grid-inset-S
            .orb__grid-cell
              h2 Здравоохранение
            .orb__grid-cell
              .report-big-icon(style="width: 10em; margin: .5em -.5em 1em 1em")
                img(src="/images/report/logotip-zdrav-804x804.png")
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              
              .report-plate
                p Объем финансирования – 25,9 млрд ₽.
                p Региональные проекты:
                ul
                  li «Развитие системы оказания первичной медико-санитарной помощи»
                  li «Борьба с сердечно-сосудистыми заболеваниями»
                  li «Борьба с онкологическими заболеваниями»
                  li «Развитие детского здравоохранения, включая создание современной инфраструктуры оказания медицинской помощи детям»
                  li «Создание единого цифрового контура в здравоохранении на основе единой государственной информационной системы здравоохранения (ЕГИСЗ)» 
                  li «Обеспечение здравоохранения квалифицированными кадрами»
                  li «Развитие экспорта медицинских услуг»
              
            .orb__grid-cell
              .report-text 
                p Проведены профилактические осмотры и диспансеризация 309 тыс. человек, в том числе 26,9% пожилых граждан, 12&thinsp;627 из которых были доставлены из сельской местности.
                p Вакцинированы против пневмококковой инфекции 1483 пожилых гражданина. 
                p Программы дополнительного профессионального образования прошли 1&thinsp;253 врача и 2&thinsp;322 средних медицинских работника.
                p По программе родовых сертификатов оказана помощь 17&thinsp;474 женщинам в период беременности, родов и в период послеродового восстановления. 
                .report-big-icon(style="width: 8em; margin: 1em")
                  img(src="/images/report/microscope.svg")
          
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              h4 Лекарственная помощь

              p Общий объем льготной лекарственной помощи амбулаторным больным в 2021 году за счет средств федерального и областного бюджетов составил 3,8 млрд ₽. Аптечными организациями обслужено 2,8 млн рецептов, по которым отпущено 6,2 млн упаковок лекарственных препаратов. 

              p За счет средств областного бюджета бесплатно лекарственными препаратами обеспечивались:
              ul
                li отдельные категории граждан по заболеваниям на 315,2 млн ₽; 
                li граждане, страдающие редкими (орфанными) заболеваниями (в соответствии с ПП РФ № 403), на 210,7 млн ₽;
                li дети до 6 лет из многодетных семей на 12,5 млн ₽; 
                li граждане с социально значимыми заболеваниями на 703,9 млн ₽; 
                li граждане, перенесшие сердечно-сосудистое событие, на 84,1 млн ₽.  

              p Обеспечивались лекарственными препаратами с 50% скидкой от стоимости (скидка составила):
              ul 
                li труженики тыла – 152,5 тыс. ₽; 
                li реабилитированные лица – 200 тыс.; 
                li граждане Российской Федерации, проживающие в Оренбургской области, которым на момент окончания Второй мировой войны (2 сентября 1945 года) не исполнилось 18 лет – 573,1 тыс. ₽.
                

              p Оказывались меры социальной поддержки в виде бесплатного обеспечения полноценным питанием:
              ul 
                li обеспечено более 10 тыс. детей на сумму 34 млн ₽; 
                li обеспечено 3,3 тыс. беременных женщин и кормящих матерей при наличии медицинских показаний (анемии) на сумму 2,2 млн ₽.
             
              .report-big-icon(style="width: 10em; margin: 2.5em 1em")
                img(src="/images/report/hospital.svg")

            .orb__grid-cell
             
              h4 Закуплено

              p Медицинское оборудование: 
              ul 
                li установка навигационная стереотаксическая с принадлежностями; 
                li комплекс ангиографический с возможностью выполнения эндоваскулярных диагностических и лечебных вмешательств на брахиоцефальных, внутримозговых, коронарных артериях; 
                li 11 маммографов; 
                li 23 стационарных рентген-аппарата; 
                li 1 томограф рентгеновский компьютерный от 16 срезов с программным обеспечением и сопутствующим оборудованием для выполнения исследований сердца и головного мозга, в том числе перфузии и КТ-ангиографии; 
                li 11 единиц видеоэндоскопического оборудования; 
                li 55 единиц системы ультразвуковой визуализации универсальной; 
                li 42 электрокардиографа 12-канальных; 
                li 74 единицы медицинского оборудования для онкологической службы, из них - 5 аппаратов УЗИ, 4 аппарата ИВЛ, маммограф цифровой, система рентгеновская диагностическая передвижная, 2 аппарата наркозно дыхательных с различными режимами искусственной вентиляции легких, 2 роботизированные системы гистологической и иммуногистохомической диагностики с архивированием; 
                li 47 единиц медицинского оборудования для паллиативной службы, из них — 25 инсуффляторов и 22 аппарата ИВЛ.  
                

              p Передвижные комплексы: 
              ul
                li 13 мобильных ФАП; 
                li 20 автомобилей скорой медицинской помощи класса «В»; 
                li 128 автомобилей для доставки пациентов в медицинские организации, медицинских работников до места жительства пациентов, а также для перевозки биологических материалов для исследований, доставки лекарственных препаратов до жителей отдаленных районов; 
                li 5 автомобилей для паллиативной службы.
 
        
        section#sport
          h2 Спорт
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                .report-big-icon
                  img(src="/images/report/sport-logo.svg")

                p Финансирование — 86&thinsp;095,9 тыс. ₽.
                p Созданы две малые спортивные площадки для сдачи ГТО в Бузулуке и Саракташском районе.
                p В Оренбурге проведена реконструкция стадиона «Нефтяник». 
                p В Абдулинском городском округе построен физкультурно-оздоровительный комплекс открытого типа. 
                p В спортивные школы поставлено новое спортивное оборудование и инвентарь для занятий физической культурой и спортом.
                p Стипендии и премии выдающимся спортсменам и тренерам составили 9,2 млн ₽.

              .report-text
                p Регулярно занимаются физической культурой и спортом:
                ul 
                  li 89% детей и молодежи;
                  li 36% граждан среднего возраста;
                  li 18,3% граждан старшего возраста.
                
            .orb__grid-cell
              .report-text
                p На территории области действуют 87 спортивные школы, где открыто 425 отделения.

              .report-sm-illustration.shift-top
                img(src="/images/report/kids.svg")
        
        section#culture
          h2 Культура
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                .report-big-icon.float-right(style="width: 10em; margin: -.5em -.5em 1em 1em")
                  img(src="/images/report/nacculture.png")
                p Финансирование — 338,9 млн ₽ (↑17,4 млн ₽). Исполнено 100%.

                p В рамках национального проекта реализуются региональные проекты:
                ul 
                  li «Культурная среда»;
                  li «Творческие люди»;
                  li «Цифровая культура».
                
                p Продолжена реновация выставочного комплекса «Салют, Победа!» Оренбургского губернаторского историко-краеведческого музея.
                p Проведен капитальный ремонт 5 сельских домов культуры и 7 зданий в 4-х детских школах искусств.
                p Созданы 7 модельных библиотек и 2 виртуальных концертных зала. 


                .report-sm-illustration
                  img(src="/images/report/culture.svg" style="width: 80%; margin-top: 2em")
            .orb__grid-cell
              .report-plate
                p Начаты работы по:
                ul 
                  li капитальному ремонту здания Оренбургского театра кукол «Пьеро»; 
                  li сохранению объекта культурного наследия регионального значения «Усадьба, в которой в 1811-1826 г. жил писатель Аксаков Сергей Тимофеевич. Мастерские».  

              .report-text
                h5 Приоритетный проект «Культура малой Родины»

                p Финансирование — 81,1 млн ₽ (↑10,7 млн ₽). Исполнено 96,7%. 

                p В рамках проекта реализуются 3 направления: 
                ul 
                  li «Местный Дом культуры»; 
                  li «Театр-детям»; 
                  li «Театры малых городов». 

                p Оснащены световым, звуковым, видеопроекционным оборудованием 14 домов культуры 
                p Театрами осуществлена постановка 13 новых спектаклей, приобретены световое, звуковое оборудование, автобус для осуществления гастрольной деятельности, кресла в зал, оборудование для производственных мастерских.


        
        section#tourism
          h2 Туризм
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-sm-illustration
                img(src="/images/report/travelers.svg")

              .report-text
                p В 2021 году Оренбургскую область с туристическими целями оценочно посетило 1220,8 тыс. человек. По сравнению с 2020 годом туристический поток вырос на 75,8%. 
                p Состоялось открытие музея Виктора Степановича Черномырдина в селе Черный Отрог.
                p Подписано Соглашение между Правительством Оренбургской области и Корпорацией «Туризм.РФ». В зоне внимания – разработка мастер-планов развития туристских территорий Оренбуржья.

            .orb__grid-cell
              .report-plate
                h5 Инвестиционный проект «Туристско-рекреационный кластер «Соленые озера» <br>(II этап) 
                ul 
                  li начата реконструкция очистных сооружений Соль-Илецка с привлечением федеральных и региональных бюджетных средств;
                  li привлечено порядка 40 млн ₽ на создание 6 объектов туристской инфраструктуры. 

              .report-plate
                h5 Туристический маршрут «Горизонты открытий»
                p Запущен Национальный туристический маршрут «Горизонты открытий», созданный и разработанный Правительством Оренбургской области совместно с региональными туроператорами и объектами туриндустрии. 
                p Проведен комплекс мероприятий по продвижению маршрута на федеральном уровне. 
                p Маршрут уже посетило 115 человек. 
                p В текущем году Национальный туристический маршрут отмечен на федеральном уровне в Национальной туристической премии «Маршрут построен» в номинации «Главный маршрут». 


        section#roads
          h2 Дорожная инфраструктура
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                h5 Госпрограмма «Развитие транспортной системы Оренбургской области» 

                p Финансирование – более 21 млрд ₽.
                p Отремонтировано более 850 км дорог

              //- .report-sm-illustration
              //-   img(src="/images/report/safe-roads-logo.jpg")
              .report-big-illustration.plus.shift-left
                img(src="/images/report/road.svg")

                
            .orb__grid-cell
              .report-text
                h5 Региональный проект «Региональная и местная дорожная сеть (Оренбургская область)»
                p Отремонтировано 468,1 км дорог.

                p Доля автомобильных дорог регионального и межмуниципального значения, соответствующих нормативным требованиям:
                .report-infographics
                  .info-item
                    .bar(style="width:30%") 31,3%
                    .caption план
                  .info-item
                    .bar(style="width:34%") 34,3%
                    .caption факт

                p Доля дорожной сети городских агломераций, находящихся в нормативном состоянии: 
                .report-infographics
                  .info-item
                    .bar(style="width:50%") 71%
                    .caption план
                  .info-item
                    .bar(style="width:51%") 71,01%
                    .caption факт 

                p Более чем на 30% снизилось число пострадавших в ДТП.
         
        
        section#housekeeping
          h2 Жилищно-коммунальное хозяйство
          .orb__grid.orb__grid-inset-L

            .orb__grid-cell
              h5 Региональный проект «Чистая вода»
              p Построено и реконструировано 6 объектов питьевого водоснабжения. Все объекты введены в эксплуатацию. 
              p Финансирование – 132,5 млн ₽.
              p Обеспечено качественной питьевой водой из централизованных систем водоснабжения более 26,7 тыс. человек.

              .orb__top-space-M
              h5 Региональная программа «Обеспечение качественными жилищно-коммунальными услугами населения Оренбургской области»
              p Построено и отремонтировано:
              ul 
                li 10 котельных
                li 17 водозаборных скважин

              p Заменено:
              ul
                li 4,7 км тепловых сетей
                li 12,5 км водопроводных сетей
                li 0,7 км водоотведения

            .orb__grid-cell

              h5 Региональная программа капитального ремонта общего имущества в МКД

              p Отремонтировано 632 многоквартирных дома.
              p Заменено 353 лифта в 110 многоквартирных домах.
              p Улучшены условия проживания 103,4 тыс. человек.

              .report-sm-illustration.orb__top-space-M
                img(src="/images/report/house.svg")


        section#city 
          h2 Жилье и городская среда
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              p Финансирование – 1 100,6 млрд ₽. 
              p Региональные проекты и программы:
              ul 
                li «Формирование комфортной городской среды в Оренбургской области»;
                li «Обеспечение устойчивого сокращения непригодного для проживания жилищного фонда Оренбургской области».
            
              .report-big-illustration
                img(src="/images/report/city.svg")

            .orb__grid-cell
              p Введено в эксплуатацию:
              ul 
                li жилье общей площадью 1 101,6 м²;
                li 31 общественных территорий;
                li 31 двор.

              p Из аварийного жилья переселено 1&thinsp;972 человек.

              .report-sm-illustration
                img(src="/images/report/Ghilye_sreda_logo_cvet_na_bel_lev.png")
                
        
        section#eco 
          h2 Экология
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              h4 Региональный проект «Чистая страна» 
              p Шесть объектов в границах городов Оренбургской области включены в федеральный проект «Чистая страна» национального проекта «Экология»: 
              ul
                li 4 свалки в Оренбурге (в селах Городище и Краснохолм, в поселках Бердянка и Самородово); 
                li в Медногорске; 
                li в Новотроицке. 
              p Проведение работ по ликвидации (рекультивации) планируется к 2024 году.  
              
              .report-plate
                h6 Результаты: 
                ul 
                  li улучшится качество жизни в связи с ликвидацией свалок 1237 тыс. человек; 
                  li восстановится 27 га земель.

              .orb__top-space-M
              h4 Региональный проект «Комплексная система обращения с ТКО» 
              p Закуплено 3336 контейнеров для раздельного накопления твердых коммунальных отходов в 8 муниципальных образованиях региона. 
              p Заключено концессионное соглашение с инвестором на строительство мусоросортировочного комплекса в Новосергиевском районе. 
              
              .report-plate
                h6 Результаты:
                ul
                  li доля направленных на захоронение твердых коммунальных отходов, в том числе прошедших обработку (сортировку), в общей массе образованных твердых коммунальных отходов – 67,2 % (при плане – 97,1 %); 
                  li доля твердых коммунальных отходов, направленных на обработку (сортировку), в общей массе образованных твердых коммунальных отходов – 43,4 % (при плане – 26,1 %).


            .orb__grid-cell  
              h4 Региональный проект «Чистый воздух»
              p Финансирование — 24,7 млн ₽. 
              p Завершена подготовка проектно-сметной документации на строительство автомобильной дороги «Восточный обход г. Медногорска», материалы получили положительные заключения государственной экспертизы. 
              p ООО «Медногорский медно-серный комбинат» проведены мероприятия по экологическому просвещению и профориентации.  
              
              .report-plate
                h6 Результаты: 
                ul
                  li объем выбросов в Медногорске в сравнении с 2017 годом снижен на 11,6%; 
                  li объем потребления природного газа в качестве моторного топлива составил 0,98%.

              .orb__top-space-M
              h4 Региональный проект «Сохранение лесов»
              p Финансирование – 159,5 млн ₽. 
              p Отношение площади лесовосстановления к площади вырубленных и погибших лесных насаждений составило 121%. План в 100% перевыполнен. 
              p Работы по лесовосстановлению на землях лесного фонда фактически выполнены на площади 844 га. План в 750 га перевыполнен. 
              p К концу отчетного периода оснащенность учреждений лесопожарной техникой составила 87%, лесохозяйственной 70%. 
              p Сформирован запас семян лесных растений в размере 1051 кг. План в 850 кг перевыполнен.
              
              .report-big-illustration.orb__top-space-M
                img(src="/images/report/herbs.svg")
         
        section#young_people 
          h2 Молодёжная политика
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              p В рамках подпрограммы «Обеспечение жильем молодых семей в Оренбургской области» оказана государственная поддержка в улучшении жилищных условий 517 молодым семьям.

              .orb__top-space-M
              h4 Патриотическое воспитание
              p В юнармейских военно-спортивных соревнованиях «Зарница» приняли участие 487 образовательных организаций области с общим охватом более 28 тыс. обучающихся.
              p Традиционно Оренбуржье стало местом проведения Окружного финала военно-спортивной игры «Зарница Поволжья», который объединил 196 сильнейших спортсменов из 14 регионов ПФО.

              .orb__top-space-M
              h4 Добровольческое движение
              p В рамках федерального проекта «Социальная активность» нацпроекта «Образование» ведется планомерная работа по развитию добровольческого движения.
              p Во всех городах и районах развернута сеть муниципальных ресурсных центров поддержки добровольчества. Они позволяют объединять усилия государственных организаций, муниципальных учреждений, бизнес-компаний, социально ориентированных НКО и гражданского сообщества.
              p Благодаря победам Оренбургской области в конкурсах, организованных федеральным агентством по делам молодежи, на данные цели в бюджет области привлечено свыше 15 млн ₽.
              p К 2030 году в Оренбуржье будут созданы условия для реализации добровольческих инициатив всех групп граждан, а в добровольческую деятельность будет вовлекаться не менее 250 тыс. жителей ежегодно.

            .orb__grid-cell
              .report-big-illustration.shift-top
                img(src="/images/report/young_people_book.svg")

              .orb__top-space-M
              h4 Форум «Евразия Global»
              p Оренбургская область в шестой раз стала площадкой для проведения Международного молодежного форума «Евразия Global».
              p Главная цель форума – создание площадки для личностного и профессионального потенциала молодых людей в России, воплощения бизнес-инициатив или общественных идей при участии опытных наставников и авторитетных экспертов.
              p В 2021 году форум объединил порядка 500 молодых людей в офлайн формате и более 1,5 тыс. молодых лидеров общественного мнения в режиме онлайн – всего представителей 106 стран мира.
        
        section#zags 
          h2 ЗАГСы
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              p Сведения о себе и своих несовершеннолетних детях теперь можно получить на Госуслугах. Сделать это можно через подтвержденную учетную запись на ЕПГУ в разделах «Мои документы» и «Семья и дети». Сведения о государственной регистрации актов гражданского состояния предоставляются физлицам однократно и по подписке.
              .report-big-illustration.orb__top-space-M
                img(src="/images/report/zags_small.svg")

            .orb__grid-cell
              p В мобильном приложении «Реестр ЗАГС» реализована возможность оплаты госпошлины за оказание услуг органами ЗАГС через банк-партнер с помощью банковской карты и мобильного телефона без комиссии.
              p Введен экстерриториальный принцип предоставления госуслуг по государственной регистрации актов гражданского состояния. Теперь для регистрации рождения, смерти, расторжения брака, усыновления, перемены имени можно обратиться в любой орган ЗАГС независимо от того, где он находится. Также в любом ЗАГС можно получить справки и повторные свидетельства, внести изменения и исправления в актовые записи, провести восстановление и аннулирование записей.

        
        section#digit
          h2 Цифровизация 
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              p Проекты:
              ul
                li «Информационная инфраструктура»;
                li «Цифровое государственное управление»;
                li «Информационная безопасность»;
                li «Цифровые технологии»;
                li «Кадры для цифровой экономики».
            .orb__grid-cell
              .report-big-icon(style="width: 12em; margin: .5em -.5em 1em 1em")
                img(src="/images/report/digit-econ.png")
          
          section
            h4 Региональный проект «Информационная инфраструктура»
            .orb__grid.orb__grid-inset-L
              .orb__grid-cell
                p В 2021 году в рамках госконтракта <b>«Подключение социально значимых объектов к сети Интернет»</b> интернет провели к <mark>699 объектам</mark>.
                ul
                  li здравоохранения — 312 объектов;
                  li образования — 155 объектов;
                  li органов местного самоуправления (ОМСУ) — 20 объектов;
                  li МЧС  — 26 объектов; 
                  li культуры — 185 объектов;
                  li УМВД — 2 объекта.
                p План на 2021 год выполнен на 100%.
              
              .orb__grid-cell    
                h5 Программа устранения цифрового неравенства 
                p В рамках первого этапа программы — с 2014 года по второй квартал 2021 года:
                p – 331 населенный пункт  с числом жителей от 250 до 500 человек обеспечен точкой Wi-Fi с доступом в интернет на скорости не менее 10 Мбит/сек.
                p – В 3 квартале 2021 года стартовал второй этап реализации проекта. В 4 квартале 2021 года запущены в работу 26 базовых станций — в 26 населенных пунктах появилась устойчивая мобильная связь стандарта 2G и 4G. Остальные будут подключены до конца 2030 года.

          section
            h4 Региональный проект «Цифровое государственное управление»
            p.orb__text В рамках реализации цели проекта — предоставить гражданам качественно новый уровень сервиса предоставления социально значимых услуг — в 2021 году были достигнуты следующие показатели:
            .orb__grid.orb__grid-inset-L
              .orb__grid-cell
                p –	количество сервисов обеспечения функций органов госвласти и ОМСУ, реализованных на базе Госуслуг - 74;
                p –	количество госуслуг, предоставляемых органами госвласти в реестровой модели и/или проактивно предоставлением результата в электронном виде на Госуслугах - 10;
                p –	доля массовых социально значимых услуг (МСЗУ) в электронном виде, предоставляемых с использованием Госуслуг, от общего количества таких услуг - 97,4%;
                p –	доля зарегистрированных пользователей Госуслуг, использовавших сервис, чтобы получить государственные и муниципальные услуги в электронном виде, от общего числа зарегистрированных пользователей Госуслуг - 74%;
              .orb__grid-cell  
                p –	уровень удовлетворенности качеством предоставления МСЗУ в электронном виде с использованием Госуслуг (по пятибальной шкале) - 4,5;
                p –	доля расходов на закупки и/или аренду отечественного программного обеспечения (ПО) и платформ от общих расходов на закупку или аренду ПО - 93%;
                p –	доля обращений за получением МСЗУ в электронном виде через Госуслуги, без необходимости личного посещения органов госвласти, ОМСУ и МФЦ, от общего количества таких услуг - 16%. 
            p По всем показателям план либо выполнен на 100%, либо перевыполнен.

          section
            h4 Региональный проект «Информационная безопасность»
            .orb__grid.orb__grid-inset-L
              .orb__grid-cell
                h5 Центр обнаружения и реагирования на инциденты информационной безопасности (SOC)

                p В 2020 году в Оренбургской области был создан центр обнаружения и реагирования на инциденты информационной безопасности (SOC), цель которого — повышение эффективности системы защиты информации в центре обработки данных и единой информационно-телекоммуникационной сети Правительства Оренбургской области.
                p SOC непрерывно мониторит события информационной безопасности, противодействует компьютерным атакам и взаимодействует с ГосСОПКА — государственной системой обнаружения, предупреждения и ликвидации последствий компьютерных атак на информационные ресурсы.
                p Деятельность SOC в 2021 году внесла значительный вклад в недопущение простоя государственных информационных систем в результате компьютерных атак: были выявлены и устранены критичные уязвимости в региональных и федеральных информационных системах.
                .report-big-illustration.orb__top-space-M
                  img(src="/images/report/security.svg")
              .orb__grid-cell
                h5 Проект «Создание и развитие центра мониторинга и реагирования на инциденты информационной безопасности. 2021» 
                p В 2021 году министерство разработало ведомственный проект «Создание и развитие центра мониторинга и реагирования на инциденты информационной безопасности. 2021». Это продолжение одноименной региональной программы до 2024 года.
                p В рамках проекта Минцифра Оренбургской области пригласила органы исполнительной власти — владельцев государственных информационных систем — подключиться к SOC. По данным на конец 2021 года, к SOC подключено 11 из 16 государственных информационных систем. Полностью подключено около 40 % государственных информационных систем, остальные подключены частично — работы над подключением продолжаются.
                p В результате в SOC поступает информация о более 2,5 тысяч рабочих мест структуры Правительства области.
                p Центр кибербезопасности (SOC) выявил и устранил:
                ul  
                  li уязвимости, позволяющие получить доступ к персональным данным более 200 000 жителей Оренбургской области;
                  li уязвимости, позволяющие получить персональные данные более 50 000 пользователей одной из федеральных информационных систем.
                p За год система защиты информации государственных информационных систем Оренбургской области:
                ul  
                  li обработала более 2,5 млн событий информационной безопасности в автоматическом и полуавтоматическом режиме;
                  li обеспечила безопасность хранения и передачи персональных данных граждан в 13 государственных информационных системах (ГИС) Минцифры Оренбургской области и в 4 ГИС других органов власти;
                  li зафиксировала 12 инцидентов информационной безопасности, ущерб от которых был вероятен, но не наступил.
                p Также Минцифра Оренбургской области разработала дорожную карту мероприятия «Единая информационно-телекоммуникационной сеть Правительства Оренбургской области. Обеспечение коммуникации узлов и сегментов криптомаршрутизаторами. 2021 год» (ЕИТКС).
                p ЕИТКС — это единая защищенная сеть Правительства области, которая включает все органы власти и местного самоуправления, а также их подведомственные учреждения. В сумме это более 900 крупных сетей и около 2000 организаций.

          section
            h4 Региональный проект «Цифровые технологии»
            p.orb__text В рамках проекта, цель которого — реализовать комплекс мер по информированию о мерах поддержки технологических решений, продуктов, сервисов и платформенных решений на базе «сквозных» цифровых технологий заинтересованных субъектов МСП и организаций, расположенных на территории Оренбургской области, был проведен ряд мероприятий
            .orb__grid.orb__grid-inset-L
              .orb__grid-cell
                .report-plate 
                  h6 Нетворкинг-сессия «Цифровое будущее Оренбуржья: меры поддержки регионального IT-сектора».
                  p Участвовали представители Правительства Оренбургской области, Республики Башкортостан, Самарской и Тюменской областей налоговой службы, АНО «Агентство стратегических инициатив», бизнеса. Участники рассмотрели действующие меры поддержки IT-сектора.
                .report-plate 
                  h6 Опрос регионального ИТ-сообщества.
                  p ИТ-компании региона ответили на вопросы о необходимых мерах государственной поддержки и трудностях, с которыми они сталкиваются в своей деятельности. Результатом опроса стал список наиболее востребованных и ожидаемых IT-компаниями Оренбургской области мер поддержки:
                  p –	содействие в подготовке кадров (29 %);
                  p –	налоговые льготы (21 %);
                  p –	создание технопарка (20 %);
                  p –	грантовая поддержка (14 % опрошенных).
                .report-plate 
                  h6 Стратегическая сессия «Цифровая прокачка региона. Оренбургская область»
                  p Рабочие группы совместно с экспертами разработали дорожные карты цифровизации ключевых отраслей региона: образование, транспорт, городская среда и сельское хозяйство
                .report-plate 
                  h6 Стратегическая сессия «Развитие региональной инновационной экосистемы Оренбургской области»
                  p Организована Минцифрой Оренбургской области совместно с командой развития инноваций «YellowRockets». На стратегической сессии присутствовали руководители цифровой трансформации региона, представители инновационной инфраструктуры, инфраструктуры поддержки предпринимательства, организации СПО и ВУЗы, бизнес-сообщества в сфере ИТ: лидеры мнений и активные участники, заинтересованные в развитии инновационной экосистемы региона.
                  p Участники сессии выявили проблемы развития региональной инновационной экосистемы, разработали проект дорожной карты по их решению, в том числе сформулировали конкретные действия по проведению акселерационных программ для технологических предпринимателей и созданию недостающих объектов инновационной инфраструктуры.
              .orb__grid-cell
                .report-plate 
                  h6 Проектная сессия «Развитие IT-отрасли в Оренбургской области»
                  p Приняли участие представители ИТ-компаний, руководители учебных заведений, преподаватели информатики, студенты цифровых направлений. В ходе открытого обсуждения участники выявили проблемные вопросы и наметили направления развития отрасли для устранения этих проблем.
            
                p Количество компаний и физических лиц, разрабатывающих или внедряющих отечественное ПО, сервисы и платформенные решения на базе сквозных цифровых технологий для участия в конкурсах на получение грантов из средств федерального бюджета или региональных мер поддержки, которые получили консультации и информационное сопровождение Минцифры Оренбургской области — 72.

                p Кроме проведенных мероприятий в рамках проекта:
                p –	специалисты Проектного офиса Минцифры Оренбургской области проводили консультации и информационное сопровождение компаний, разрабатывающих или внедряющих отечественное ПО, сервисы и платформенные решения на базе цифровых технологий. При поддержке Минцифры компании участвовали в конкурсных отборах на получение государственной поддержки в форме грантов из средств федерального бюджета;
                p –	Минцифра Оренбургской области поддержала рекомендательными письмами 4 проекта, заявлявшиеся на грантовые конкурсы;
                p –	на постоянной основе проводилась информационная кампания о действующих конкурсных отборах на получение государственной поддержки из средств федерального бюджета в СМИ Оренбургской области;
                p –	была открыта региональная площадка конкурса «Цифровой прорыв» для проведения в 2021 году межрегионального этапа конкурса;
                p –	был пределен формат участия региона в премии «Цифровые вершины»: поданы три заявки от региональных ИТ-компаний: ООО «ГлобалМониторинг», ООО «Вотум Центр» и ГКУ «ЦИТ».
          
          section
            h4 Региональный проект «Кадры для цифровой экономики»
            .orb__grid.orb__grid-inset-L
              .orb__grid-cell
                p В части реализации проекта для школьников:
                ul 
                  li состоялся первый выпуск «Лицей Академии Яндекс» — 33 выпускника;
                  li была продолжена апробация курса «Яндекс.Информатика» — сервиса «Яндекс.Учебник» для учеников 7-8 классов (в проекте участвуют 1 416 школьников из 70 школ Оренбургской области);
                  li в «Уроках цифры» приняли участие 447 411 учеников 1-11 классов;
                  li в конце года Оренбургская область стала участником пилотного запуска проекта «Программирование для школьников» — одобрено 778 заявок.
                
                p Кроме того, было реализовано более 15 образовательных программ, позволивших жителям Оренбургской области освоить ключевые компетенции цифровой экономики.
                p Также была реализована госпрограмма допобразования в сфере цифровой экономики при условиях 50 % софинансирования от государства: 439 оренбуржцев подали заявки на программы переподготовки и завершат обучение в 2022 году.

              .orb__grid-cell
                h5 Институт руководителей цифровой трансформации (РЦТ)
              
                p 13 из 27 РЦТ прошли обучение и повысили компетенции в вопросах:
                ul 
                  li обеспечения работы проектов цифрового развития;
                  li работы с данными;
                  li работы с государственными информационными системами и цифровыми платформами;
                  li цифровой трансформации государственного управления, в том числе процессов предоставления государственных услуг.
                p Также обучение прошли 293 государственных и муниципальных служащих.состоялся первый выпуск «Лицей Академии Яндекс» — 33 выпускника;
                  
          section
            .orb__grid.orb__grid-inset-L
              .orb__grid-cell
                h4 Цифровизация социальной сферы
                h5 Образование
                p Принято заявок по услугам автоматизированной информационной системы (АИС)  «Цифровое образование Оренбургской области»:
                ul
                  li по «Запись в дошкольную организацию (детский сад)» - 11 126 заявок;
                  li по «Запись на обучение по образовательным программам среднего профессионального образования» - 563 заявки.
                p В рамках работы мобильного приложения «Цифровое образование Оренбуржья»:
                ul
                  li зафиксировано 12,4 млн обращений к электронному дневнику;
                  li подано 10,5 тыс. заявлений  на предоставление доступа к электронному дневнику
                p 509 образовательных организаций используют 17,4 тыс. электронных журналов в АИС «Цифровое образование Оренбуржья».
              
                .report-sm-illustration.orb__top-space-M
                  img(src="/images/report/watch.svg")              
              
              .orb__grid-cell
                h4 Физическая культура и спорт
                h5 Автоматизированная информационная система «Мой спорт»
                p АИС «Мой спорт» – это онлайн-платформа, разработанная профессиональными тренерами, спортсменами и передовыми ИТ-специалистами специально для сферы спорта.

                p В систему входят:

                p –	Приложение МОЙ СПОРТ Тренер (для тренера);
                p –	Приложение МОЙ СПОРТ Спортсмен (для спортсмена и родителей);
                p –	Система комплексного мониторинга спортивной деятельности (для спортивных организаций;
                p –	Онлайн-мониторинг достижения основных показателей в спорте по стране (для органов власти);
                p –	Федеральный сервис записи в спортивные школы.
                p К системе АИС «Мой спорт» в Оренбургской области подключено 16 спортивных организаций, 232 сотрудника и тренера, 6 482 спортсмена и 2 995 родителей (законных представителей).
              
                h5 Государственная информационная система «Единая цифровая платформа «Физическая культура и спорт» (ГИС “ФКиС”)
                p Оренбургская область вошла в 13 пилотных регионов, приступивших в 2021 году к опытной эксплуатации ГИС «Единая цифровая платформа «Физическая культура и спорт».  
                p Эта система станет инструментом управления спортивной отраслью по всей стране, причём как массовым спортом, так и профессиональным. 
                p Система будет предоставлена бесплатно во все учреждения спорта для предоставления услуг гражданам. 
                p На единой платформе:
                p –	будут представлены сервисы для спортсменов и физкультурников – всех тех, кто занимается спортом, проработанные с учётом потребностей и ожиданий пользователей; 
                p –	будет существовать маркетплейс с коммерческими информационными сервисами для занятия спортом;
                p –	будет установлен календарь соревнований, включающий в себя международные, всероссийские и массовые мероприятия; 
                p –	будет представлен реестр объектов спорта страны, состоящий из более чем 300 тыс. объектов. 
                p Цифровая платформа ГИС “ФКиС” будет синхронизирована с порталом Госуслуг. Через личный кабинет каждый гражданин сможет выбрать для ребёнка спортивную школу или записаться на тестовое занятие. А спортсмены –  получить заслуженные звания или разряды. Обмен данными между всеми участниками будет происходить мгновенно, что позволит сократить срок получения званий в сто раз. Цифровая система будет надёжно защищена, в том числе в части персональных данных.

        section#media
          h2 Интернет, мобильная связь, радио, ТВ
          .report-text
            p По данным Росстата за 2020 год, Оренбургская область занимает 2 место в ПФО по проникновению широкополосного доступа к интернету в домохозяйствах.
            p 95 % жилых территорий находятся в зоне покрытия интернетом.
          
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                h4 Мобильная связь
                p Мобильная связь остается приоритетным видом связи — 60 % предоставляемых телекоммуникационных услуг приходится на долю мобильной связи и мобильного интернета.
                p За последние пять лет зона покрытия Оренбургской области мобильной голосовой связью увеличилась с 75 до 93,9 %. 98,5 % населения имеют доступ к стабильной мобильной связи.
                p На территории области услуги мобильной связи предоставляют ПАО «Вымпелком», ПАО «Мегафон», ПАО «МТС» и ООО «Т2 Мобайл».
                p В 2021 году операторы мобильной связи увеличивали территорию покрытия мобильным интернетом — сетей стандарта 4G (LTE). За год операторы модернизировали  935 базовых станций. Построили и запустили в эксплуатацию  282 новых базовых станций сотовой связи, из них 70 в малых населенных пунктах, в которых проживает до 1 000 человек.


            .orb__grid-cell
              .report-text
                h4 ТВ и радио

                p С 2019 года в Российской Федерации телевещание ведется в цифровом стандарте. Все жители Оренбургской области имеют бесплатный доступ к 20 обязательным общедоступным телевизионным каналам.
                p Вещание 20 бесплатных обязательных общедоступных телевизионных каналов обеспечивает ФГУП «РТРС». Вставки программ ГТРК «Оренбург» и АО «ТВЦ «Планета» смотрят 98 % жителей области.

              //- s

    include /designs/_ag-footer


block footer