extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .wrapper.full-width
      section
      h2 Итоги работы Правительства Оренбургской области за 2019 год

      .orb__grid.orb__grid-size-L.orb__grid-inset-S 
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Образование
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M12.5 2.5C12.5 1.1 11.4 0 10 0S7.5 1.1 7.5 2.5 8.6 5 10 5s2.5-1.1 2.5-2.5zM10 3c-.3 0-.5-.2-.5-.5s.2-.5.5-.5.5.2.5.5-.2.5-.5.5zM15 13V9c0-2.2-2.2-4-5-4S5 6.8 5 9v4c0 .6.4 1 1 1h1.1l.9 5.2c.1.4.5.8 1 .8h2c.5 0 .9-.3 1-.8l.9-5.2H14c.6 0 1-.4 1-1zm-2-1h-1-.1c-.1 0-.2 0-.3.1h-.1c-.1 0-.2.1-.2.2l-.1.1c-.1.1-.1.2-.2.2v.1c0 .1-.1.1-.1.2l-.7 5.1h-.4L9 12.8c0-.1 0-.1-.1-.2 0-.1-.1-.2-.2-.3-.1-.1-.2-.2-.3-.2-.1-.1-.3-.1-.4-.1H7V9c0-1.1 1.4-2 3-2s3 .9 3 2v3zM4 6c1.4 0 2.5-1.1 2.5-2.5S5.4 1 4 1 1.5 2.1 1.5 3.5 2.6 6 4 6zm0-3c.3 0 .5.2.5.5S4.3 4 4 4s-.5-.2-.5-.5.2-.5.5-.5zM4.5 17H4l-.5-4.1c0-.1 0-.1-.1-.2v-.1c0-.1-.1-.2-.2-.2l-.1-.1-.2-.2h-.1c0-.1-.1-.1-.2-.1H2V9c.1-.5.5-.9 1-1 .6 0 1-.4 1-1s-.4-1-1-1C1.4 6.1.1 7.4 0 9v4c0 .6.4 1 1 1h.6l.6 4.1c.1.5.5.9 1 .9h1.3c.6 0 1-.4 1-1s-.4-1-1-1zM16 6c1.4 0 2.5-1.1 2.5-2.5S17.4 1 16 1s-2.5 1.1-2.5 2.5S14.6 6 16 6zm0-3c.3 0 .5.2.5.5s-.2.5-.5.5-.5-.2-.5-.5.2-.5.5-.5zM17 6c-.6 0-1 .4-1 1s.4 1 1 1c.5.1.9.5 1 1v3h-.5H17.2c-.4.1-.7.5-.7.9v.1l-.5 4h-.5c-.6 0-1 .4-1 1s.4 1 1 1h1.3c.5 0 1-.3 1-.9l.6-4.1h.6c.6 0 1-.4 1-1V9c-.1-1.6-1.4-2.9-3-3z"></path></svg>
            .orb__nav-card__caption Демография
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Здравоохранение
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Спорт
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Культура
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Туризм
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Дорожная инфраструктура
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Жилищно-коммунальное хозяйство
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Жилье и городская среда
        .orb__grid-cell
          a.orb__nav-card(href="#")
            .orb__nav-card__icon <svg version="1.1" viewBox="0 0 20 20" class="results-list__item-icon svg-icon svg-fill"><path pid="0" d="M6 18H2.5c-.3 0-.5-.2-.5-.5V5h11v2c0 .6.4 1 1 1s1-.4 1-1V4c0-.6-.4-1-1-1-.3 0-.5-.2-.5-.5s.2-.5.5-.5c.6 0 1-.4 1-1s-.4-1-1-1H2.5C1.1 0 0 1.1 0 2.5v15C0 18.9 1.1 20 2.5 20H6c.6 0 1-.4 1-1s-.4-1-1-1zM2.5 2h9c-.1.3-.1.7 0 1h-9c-.2 0-.5-.2-.5-.5s.3-.5.5-.5z"></path><path pid="1" d="M19 18h-.3L15 9.6c0-.1-.1-.2-.2-.3l-.1-.1c-.1-.1-.1-.1-.2-.1h-.1c-.2 0-.3-.1-.4-.1h-2c-.6 0-1 .4-1 1s.4 1 1 1h.5l-3.1 7H9c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1h-.5l.5-1h4l.5 1H16c-.6 0-1 .4-1 1s.4 1 1 1h3c.6 0 1-.4 1-1s-.4-1-1-1zm-6.1-3l1.1-2.5 1.1 2.5h-2.2z"></path></svg>
            .orb__nav-card__caption Экология

    include /designs/_ag-footer



      