extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .wrapper.full-at-1000
      section
        h2 Итоги работы Правительства Оренбургской области — 2019
        //- p в 2019 году
        //- .year2019
          .orb__grid.orb__grid-size-L
            .orb__grid-cell
              .year-digit 2
            .orb__grid-cell
              .year-digit 0
            .orb__grid-cell
              .year-digit 1
            .orb__grid-cell
              .year-digit 9


        .report-nav
          .orb__grid.orb__grid-size-M
            .orb__grid-cell
              a.orb__nav-card.school-design.js-scroll-link(href="#school")
                //- include /icons/icon-ed
                .orb__nav-card__caption Образование
                .orb__nav-card__image
                  img(src="/images/report/laptop-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.trolley-design.js-scroll-link(href="#demo")
                //- include /icons/icon-demo
                .orb__nav-card__caption Демография
                .orb__nav-card__image
                  img(src="/images/report/trolley-icon.png")
            .orb__grid-cell
              a.orb__nav-card.med-design.js-scroll-link(href="#med")
                //- include /icons/icon-health
                .orb__nav-card__caption Здравоохранение
                .orb__nav-card__image
                  img(src="/images/report/med-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.sport-design.js-scroll-link(href="#sport")
                //- include /icons/icon-sports
                .orb__nav-card__caption Спорт
                .orb__nav-card__image
                  img(src="/images/report/sport-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.music-design.js-scroll-link(href="#culture")
                //- include /icons/icon-culture
                .orb__nav-card__caption Культура
                .orb__nav-card__image
                  img(src="/images/report/music-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.tourism-design.js-scroll-link(href="#tourism")
                //- include /icons/icon-tourism
                .orb__nav-card__caption Туризм
                .orb__nav-card__image
                  img(src="/images/report/tourism-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#roads")
                //- include /icons/icon-roads
                .orb__nav-card__caption Дорожная инфраструктура
                .orb__nav-card__image
                  img(src="/images/report/construction-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#housekeeping")
                //- include /icons/icon-housekeeping
                .orb__nav-card__caption Жилищно-коммунальное хозяйство
                .orb__nav-card__image
                  img(src="/images/report/paint-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.city-design.js-scroll-link(href="#city")
                //- include /icons/icon-urban
                .orb__nav-card__caption Жилье<br>и городская<br>среда
                .orb__nav-card__image
                  img(src="/images/report/city-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.eco-design.js-scroll-link(href="#eco")
                //- include /icons/icon-eco
                .orb__nav-card__caption Экология
                .orb__nav-card__image
                  img(src="/images/report/recycled-bin-icon.svg")
        
        section#school
          h3 Образование
        section 
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                p Более <mark>140 000 детей</mark> стали участниками открытых онлайн-уроков «Проектория» и проекта «Билет в будущее»
                p Созданы <mark>6 мастерских</mark> на базе профессиональных образовательных организаций
                p Создан первый в области детский технопарк «Кванториум»
                p Открыт консультационный центр психолого-педагогической помощи родителям «Мы вместе»
            .orb__grid-cell
              .report-sm-illustration
                img(src="/images/report/school.svg")
              .report-text 
                p Построены <mark>2 школы</mark>, это 414 мест
                p <mark>26 школ</mark> получили капитальный ремонт. Отремонтировано <mark>25 спортивных залов</mark> 


        section#demo
          h3 Демография
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text 
                p Более <mark>30000 семей</mark> с детьми получили финансовую поддержку.
                p Проведено <mark>1996 циклов ЭКО</mark> семьям, страдающим бесплодием.
                p Местами в детских садах обеспечены:<br>— 97,9% детей в возрасте до 3 лет,<br>— 100% детей в возрасте от 3 до 7 лет.
                p Построено 19 новых детских садов.
              .report-sm-icon
                img(src="/images/report/toy.png")

            .orb__grid-cell
              .report-big-illustration.shift-left
                img(src="/images/report/family.svg")
            .orb__grid-cell
              .report-big-illustration
                img(src="/images/report/elders.svg")
                
            .orb__grid-cell
              .report-text 
                p Спартакиада для пожилых граждан «Спортивное долголетие».
                p Обучение компьютерной грамотности старшего поколения.
                p <mark>41 автомобиль</mark> приобретён для транспортировки в медицинские организации граждан старше 65 лет, проживающих в сельской местности.
              .report-big-icon
                img(src="/images/report/car.png")


        section#med
          h3 Здравоохранение
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                p <strong>Ремонтные работы:</strong><br>41 поликлиника<br>28 стационаров<br>5 прочих объетов здравоохранения
                p <strong>Проектирование:</strong><br>4 врачебных амбулаторий<br>10 Фельдшерско-акушерских пункта
                p <strong>Строительство:</strong><br>12 Фельдшерско-акушерских пункта          
            .orb__grid-cell
              .report-text 
                p <mark>290 единиц</mark> медицинского оборудования
                p Объём финансирования — 4,4 млрд руб.
                p Закуплено <mark>6 передвижных медицинских комплексов</mark> и <mark>66 новых автомобилей</mark> скорой медицинской помощи

            .orb__grid-cell
              .report-text 
                p Разработан проект областной детской больницы
                p 6,43 млрд руб.
                p 14,8 га земли
                p 2023 г.
        
        section#sport
          h3 Спорт
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Закуплены и смонтированы искусственные покрытия для футбольных полей в 3 поселениях
                p Построены новые спортивные площадки для сдачи ГТО в 12 муниципалитетах
                p 17,52 млн руб. стипендии и премии выдающимся
              .report-plate
                p 84 спортивные школы
                p 414 отделений
              .report-big-icon
                img(src="/images/report/sport-logo.svg")
              .report-text
                p 2024: доля граждан Оренбургской области, систематически занимающихся физической культурой и спортом — 55%

            .orb__grid-cell
              .report-sm-illustration
                img(src="/images/report/kids.svg")
        
        section#culture
          h3 Культура
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Созданы 2 модельные библиотеки
                p Выделено 10 млн руб.
                p 71 учреждение культуры обеспечено музыкальными инструментами
                p Количество посещений общедоступных библиотек:
              .report-sm-illustration
                img(src="/images/report/culture.svg")
            .orb__grid-cell
              .report-plate
                p Проведена реновация выстовочного комплекса «Салют, Победа!» Оренбургского губернаторского историко-краеведческого музея
                p Начат капитальный ремонт Оренбургского государственного областного театра кукол
                p Проведен капитальный ремонт в 4 сельских домах культуры

        
        section#tourism
          h3 Туризм
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-sm-illustration
                img(src="/images/report/travelers.svg")

              .report-text
                p Оренбургская область занимает 35 место в Национальном туристическом рейтинге из 85 субъектов РФ
                p Туристический поток: 1661000 человек (↗51000)
                p Объем платных услуг: 4025,6 млн руб. (↗68 млн руб.)
            .orb__grid-cell
              .report-plate
                h4 Курорт «Солёные озера»
                p В 2019 году начат второй этап реализации туристско-рекреационного кластера «Соленые озера:
                p — <mark>построено 5 дорог</mark> протяженностью 9 км
                p — разработан мастер-план развития города-курорта и дизайн-код
                p Курорт «Солёные озера» занял:
                p — 2 место среди самых посещаемых лечебных курортов России в 2019 году
                p — 4 место в рейтинге лучших оздоровительных и лечебных курортов России
                p — 5 место среди городов-курортов для оздоровительного отдыха



        section#roads
          h3 Дорожная инфраструктура
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                h4 Безопасные и качественные автомобильные дороги
                ul
                  li Отремонтировано 249,5 км дорог
                  li Установлено 14 комплексов фотовидеофиксации нарушений ПДД
                  li на 42 объектах г. Оренбург выполнены мероприятия по устранению мест концентрации ДТП
            .orb__grid-cell
              .report-text
                h4 Финансирование дорожной деятельности
                h4 Развитие транспортной системы оренбургской области
                ul
                  li Ремонт 524,8км дорог
                  li 10,5 км автомобильных дорог построено и реконструировано к двум населенным пунктам Оренбургской области
                  li Реконструкция 3 мостов
              .report-big-illustration
                img(src="/images/report/road.svg")
        
        section#housekeeping
          h3 Жилищно-коммунальное хозяйство
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                h4 Коммунальная инфраструктура
                p
                  strong Капитальный ремонт:
                ul
                  li 21 котельная
                  li 5 водозаборов
                  li 16 центральных тепловых пунктов
                p
                  strong Замена:
                ul
                  li 35,5 км тепловых сетей
                  li 83 км водопроводных сетей
                p
                  strong Проектирование:
                ul
                  li 14 блочно-модульных котельных


            .orb__grid-cell
              .report-text
                h4 Капитальный ремонт многоквартирных домов
                p В региональную программу капитального ремонта включено:
                ul
                  li 9619 домов
                  li 3,4 млрд руб.
                  li 30,3 млн м²
              .report-big-illustration
                img(src="/images/report/house.svg")
        
        section#city 
          h3 Жилье и городская среда
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-big-illustration
                img(src="/images/report/city.svg")
            .orb__grid-cell
              .report-text
                p 55 общественных территорий
                p 43 двора
                p 12 городских округов
                p Введено в эксплуатацию 98 объектов
                p 45 сельских населенных пунктов

              .report-plate
                h5 Формирование комфортной гордской среды
                .report-sm-illustration
                  img(src="/images/report/piechart.svg")
                
        
        section#eco 
          h3 Экология
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Создана Единая система экологического мониторинга атмосферного воздуха
                p Оборудовано 313 площадок накопления ТКО
              .report-plate
                .report-big-icon
                  img(src="/images/report/eco-project-logo.png")

                p Цели проекта:
                ul 
                  li Эффективное обращение с отходами
                  li Повышение качества питьевой воды
                  li Снижение уровня загрязнения атмосферного воздуха

            .orb__grid-cell
              .report-big-illustration
                img(src="/images/report/herbs.svg")
              .report-text
                ul 
                  li Чистая вода
                  li Сохранение лесов
                  li Комплексная система
                  li обращения с твердыми
                  li коммунальными отходами
                  li Чистый воздух
          
          h4 Региональные проекты 
          .eco-projects-table
            .eco-project
              h3 Чистый воздух
              h6 Срок реализации
              p 2019–2024 гг.
              h6 Финансирование
              p 670,6 млн руб.
              h6 Реализация
              ul
                li объем выбросов загрязняющих веществ в г. Медногорске снижен на 8,1% (в сравнении с 2017 годом)
                li проведены мероприятия по экологическому просвещению в ООО «Медногорский медносерный комбинат»
                li заключен контракт на подготовку документации на строительство автомобильной дороги «Восточный обход г. Медногорска»
            .eco-project
              h3 Комплексная система обращения с ТКО
              h6 Срок реализации
              p 2019–2024 гг.
              h6 Финансирование
              p 4,08 млн руб.
              h6 Реализация
              ul
                li приобретено оборудование для оснащения (Гайский городской округ, Новосергиевский район)
                li произведен I этап реконструкции (г. Медногорск) объектов обработки ТКО
            .eco-project
              h3 Сохранение лесов
              h6 Срок реализации
              p 2019–2024 гг.
              h6 Финансирование
              p 94,19 млн руб.
              h6 Реализация
              p Приобретены:
              ul
                li специализированная лесопожарная и лесохозяйственная техника и оборудование
                li районированные семена лесных растений (сосна обыкновенная) и семена лесных пород (клен татарский)



    include /designs/_ag-footer



      