extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .orb__wrapper.full-at-1000
      section
        h2 Итоги работы Правительства Оренбургской области»
        .year-selector 
          .orb__radiogroup-links
            +a(href='/designs/ag-report') 2019
            +a(href='/designs/ag-report-2020') 2020


        .report-nav.report-2019
          .orb__grid.orb__grid-size-M
            .orb__grid-cell
              a.orb__nav-card.school-design.js-scroll-link(href="#school")
                .orb__nav-card__caption Образование
                .orb__nav-card__image
                  img(src="/images/report/book.svg")
            .orb__grid-cell
              a.orb__nav-card.trolley-design.js-scroll-link(href="#demo")
                .orb__nav-card__caption Демография
                .orb__nav-card__image
                  img(src="/images/report/trolley-icon.png")
            .orb__grid-cell
              a.orb__nav-card.med-design.js-scroll-link(href="#med")
                .orb__nav-card__caption Здравоохранение
                .orb__nav-card__image
                  img(src="/images/report/med-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.sport-design.js-scroll-link(href="#sport")
                .orb__nav-card__caption Спорт
                .orb__nav-card__image
                  img(src="/images/report/sport-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.music-design.js-scroll-link(href="#culture")
                .orb__nav-card__caption Культура
                .orb__nav-card__image
                  img(src="/images/report/music-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.tourism-design.js-scroll-link(href="#tourism")
                .orb__nav-card__caption Туризм
                .orb__nav-card__image
                  img(src="/images/report/tourism-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#roads")
                .orb__nav-card__caption Дорожная инфраструктура
                .orb__nav-card__image
                  img(src="/images/report/construction-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.js-scroll-link(href="#housekeeping")
                .orb__nav-card__caption Жилищно-коммунальное хозяйство
                .orb__nav-card__image
                  img(src="/images/report/paint-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.city-design.js-scroll-link(href="#city")
                .orb__nav-card__caption Жилье<br>и городская<br>среда
                .orb__nav-card__image
                  img(src="/images/report/city-icon.svg")
            .orb__grid-cell
              a.orb__nav-card.eco-design.js-scroll-link(href="#eco")
                .orb__nav-card__caption Экология
                .orb__nav-card__image
                  img(src="/images/report/recycled-bin-icon.svg")
      .report        
        section.orb__top-space-L#school
          h2 Образование
        section 
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                .report-icon-in-text
                  img(src="/images/report/laptop-icon.svg")

                p Более <mark>140 000 детей</mark> стали участниками открытых онлайн-уроков «Проектория» и проекта <a href="http://bilet-help.worldskills.ru/">«Билет в будущее»</a>. 
                .orb__top-space-S
                p Созданы <mark>6 мастерских</mark> на базе профессиональных образовательных организаций.
                p Создан первый в области детский технопарк <a href="https://kvantorium56.ru" target="_BLANK">«Кванториум»</a>.
                p Открыт консультационный центр психолого-педагогической помощи родителям <a href="http://cpmpk56.ru/pages/39/" target="_BLANK">«Мы вместе»</a>.
            .orb__grid-cell
              .report-sm-illustration
                img(src="/images/report/school.svg")
              .report-text 
                p Построены <mark>2 школы</mark>, это 414 мест.
                p В <mark>26 школах</mark> проведен капитальный ремонт
                p Отремонтированы <mark>25 спортивных залов</mark> в 25 сельских муниципалитетах.


        section#demo
          h2 Демография
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text 
                p Более <mark>30000 семей</mark> с детьми получили финансовую поддержку.
                p Проведено <mark>1996 циклов ЭКО</mark> семьям, страдающим бесплодием.
                p Местами в детских садах обеспечены:
                ul
                  li 97,9% детей в возрасте до 3 лет,
                  li 100% детей в возрасте от 3 до 7 лет.
                p Построено 19 новых детских садов.
              .report-M-icon
                img(src="/images/report/toy.png")

            .orb__grid-cell
              .report-big-illustration.shift-left.shift-top
                img(src="/images/report/family.svg")
            .orb__grid-cell
              .report-big-illustration.shift-top
                img(src="/images/report/elders.svg")
                
            .orb__grid-cell
              .report-text 
                p Спартакиада для пожилых граждан «Спортивное долголетие».
                p Обучение компьютерной грамотности старшего поколения.
                p <mark>41 автомобиль</mark> приобретён для транспортировки в медицинские организации граждан старше 65 лет, проживающих в сельской местности.
              .report-big-icon
                img(src="/images/report/car.png")


        section#med
          h2 Здравоохранение
          .orb__grid.orb__grid-inset-L

            .orb__grid-cell
              .report-plate
                h4 Ремонтные работы
                ul
                  li 41 поликлиника
                  li 28 стационаров
                  li 5 прочих объектов здравоохранения
                h4 Проектирование
                ul 
                  li 4 врачебных амбулаторий
                  li 10 фельдшерско-акушерских пунктов
                h4 Строительство
                ul
                  li 12 фельдшерско-акушерских пунктов

            .orb__grid-cell
              .report-plate
                .report-big-icon.float-right(style="width: 10em; margin: .5em -.5em")
                  img(src="/images/report/hospital.svg")

                h4 Разработан проект областной детской больницы
                ul
                  li 6,43 млрд ₽
                  li 14,8 га земли
                p Срок реализации: 2023 г.
              .orb__top-space-S
              .report-text 
                .report-big-icon.float-right
                  img(src="/images/report/microscope.svg")
                p Закуплено:
                ul 
                  li <mark>290 единиц</mark> медицинского оборудования
                  li <mark>6 передвижных медицинских комплексов</mark>: 1 маммограф, 2 флюорографа, 3 диагностических комплекса
                  li <mark>66 новых автомобилей</mark> скорой медицинской помощи
        
        section#sport
          h2 Спорт
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-plate
                .report-big-icon
                  img(src="/images/report/sport-logo.svg")
                ul 
                  li Закуплены и смонтированы искусственные покрытия для футбольных полей в 3 поселениях
                  li Построены новые спортивные площадки для сдачи ГТО в 12 муниципалитетах
                  li 17,52 млн ₽ — стипендии и премии выдающимся спортсменам и тренерам
              
              .report-text
                p Доля граждан Оренбургской области, систематически занимающихся физической культурой и спортом:
                
                .report-infographics
                  .info-item
                    .bar(style="width:35%") 34,9&hairsp;%
                    .caption 2017
                  .info-item
                    .bar(style="width:43%") 43,0&hairsp;%
                    .caption 2018
                  .info-item
                    .bar(style="width:48%") 48,3&hairsp;%
                    .caption 2019
                p Целевой показатель:
                .report-infographics
                  .info-item
                    .bar.planning(style="width:55%") 55&hairsp;%
                    .caption 2024


            .orb__grid-cell
              .report-text
                p Действующие учреждения: <mark>84 спортивные школы</mark> и 424 отделения

              .report-sm-illustration.shift-top
                img(src="/images/report/kids.svg")
        
        section#culture
          h2 Культура
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                ul 
                  li Проведена реновация выстовочного комплекса «Салют, Победа!» Оренбургского губернаторского историко-краеведческого музея
                  li Проведен капитальный ремонт в 4 сельских домах культуры
                  li Начат капитальный ремонт Оренбургского государственного областного театра кукол
                .report-sm-illustration
                  img(src="/images/report/culture.svg" style="width: 80%; margin-top: 2em")
            .orb__grid-cell
              .report-plate
                p Созданы <mark>2 модельные библиотеки</mark>, на это выделено 10 млн ₽
                p <mark>71 учреждение культуры</mark> обеспечено музыкальными инструментами.
              .report-text
                p Количество посещений общедоступных библиотек:
                .report-infographics
                  .info-item
                    .bar(style="width:71%") 7&thinsp;186&thinsp;500
                    .caption 2018
                  .info-item
                    .bar(style="width:73%") 7&thinsp;232&thinsp;800
                    .caption 2019

              .report-text

        
        section#tourism
          h2 Туризм
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-sm-illustration
                img(src="/images/report/travelers.svg")

              .report-text
                p Оренбургская область занимает <mark>35 место</mark> в Национальном туристическом рейтинге из 85 субъектов РФ
                p Туристический поток:
                p.orb__text-L 1&thinsp;661&thinsp;600 человек (↑51&thinsp;700)
                p Объем платных услуг:
                p.orb__text-L 4025,6 млн ₽ (↑68 млн ₽)
            .orb__grid-cell
              .report-plate
                h4 Курорт «Солёные озера»
                p В 2019 году начат второй этап реализации туристско-рекреационного кластера «Соленые озера»:
                p — <mark>построено 5 дорог</mark> протяженностью 9 км
                p — разработан мастер-план развития города-курорта и дизайн-код
                .orb__top-space-S
                h5 Курорт «Солёные озера» занял:
                p — <mark>2 место</mark> среди самых посещаемых лечебных курортов России в 2019 году
                p — <mark>4 место</mark> в рейтинге лучших оздоровительных и лечебных курортов России
                p — <mark>5 место</mark> среди городов-курортов для оздоровительного отдыха


        section#roads
          h2 Дорожная инфраструктура
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                h4 Безопасные и качественные автомобильные дороги
                ul
                  li Отремонтировано <mark>249,5 км</mark> дорог
                  li Установлено <mark>14 комплексов</mark> фотовидеофиксации нарушений ПДД
                  li На <mark>42 объектах</mark> г. Оренбург выполнены мероприятия по устранению мест концентрации ДТП
              .report-text
                .report-infographics
                  .info-item
                    .bar(style="width:32%") 1,32 млрд ₽
                    .caption 2018
                  p.orb__text-S Приоритетный проект «Безопасные и качественные дороги»
                  .info-item
                    .bar(style="width:80%") 3,19 млрд ₽
                    .caption 2019
                  p.orb__text-S Национальный проект «Безопасные и качественные автомобильные дороги»
              .report-sm-illustration
                img(src="/images/report/safe-roads-logo.jpg")

                
            .orb__grid-cell
              .report-text
                h4 Финансирование дорожной деятельности
                .report-infographics
                  .info-item
                    .bar(style="width:30%") 7,43 млрд ₽
                    .caption 2018
                  .info-item
                    .bar(style="width:46%") 11,38 млрд ₽
                    .caption 2019
                p.orb__text-S из регионального дорожного фонда

              .report-text
                h4 Развитие транспортной системы Оренбургской области
                ul
                  li Ремонт 524,8 км дорог
                  li 10,5 км автомобильных дорог построено и реконструировано к двум населенным пунктам Оренбургской области
                  li Реконструкция 3 мостов
              .report-big-illustration.plus.shift-left
                img(src="/images/report/road.svg")
        
        section#housekeeping
          h2 Жилищно-коммунальное хозяйство
          .orb__grid.orb__grid-inset-L

            .orb__grid-cell
              .report-text
                .report-sm-illustration
                  img(src="/images/report/house.svg")
              .report-text
                h4 Капитальный ремонт многоквартирных домов
                p В региональную программу капитального ремонта включено:
                ul
                  li <mark>9619 домов</mark>
                  li <mark>3,4 млрд ₽</mark>
                  li <mark>30,3 млн м²</mark>

            .orb__grid-cell
              .report-plate
                h4 Коммунальная инфраструктура
                p
                  strong Капитальный ремонт:
                ul
                  li 21 котельная
                  li 5 водозаборов
                  li 16 центральных тепловых пунктов
                p
                  strong Замена:
                ul
                  li 35,5 км тепловых сетей
                  li 83 км водопроводных сетей
                p
                  strong Проектирование:
                ul
                  li 14 блочно-модульных котельных


        section#city 
          h2 Жилье и городская среда
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p В 2019 году в 45 сельских населенных пунктах и 12 городских округах введено в эксплуатацию 98 объектов:
                ul 
                  li <mark>55 общественных территорий</mark>
                  li <mark>43 двора</mark>

              .report-text
                .report-big-illustration
                  img(src="/images/report/city.svg")
              .report-text
                h4 Жильё
                p Общий ввод жилья, тыс. м²
                .report-infographics
                  .info-item
                    .bar(style="width:44%") 892
                    .caption 2017
                  .info-item
                    .bar(style="width:45%") 911,5
                    .caption 2018
                  .info-item
                    .bar(style="width:49.5%") 993,5
                    .caption 2019
                  .info-item
                    .bar.planning(style="width:52%") 1036
                    .caption 2020
                  .info-item
                    .bar.planning(style="width:55%") 1099
                    .caption 2021
                  .info-item
                    .bar.planning(style="width:53.5%") 1070
                    .caption 2022
                  .info-item
                    .bar.planning(style="width:55%") 1100
                    .caption 2023
                  .info-item
                    .bar.planning(style="width:59%") 1184
                    .caption 2024

            .orb__grid-cell

              .report-plate
                h5 Формирование комфортной гордской среды
                .report-big-illustration.orb__top-space-M
                  img(src="/images/report/piechart.svg")
              .report-text
                h5 Обеспечение устойчивого сокращения непригодного для проживания жилищного фонда
                ul 
                  li Переселение 5313 человек
                  li Площадь расселения аварийного фонда — 98,85 тыс. м²
                p Срок реализации: 2024 г.
              .report-text
                p Площадь расселенного аварийного жилищного фонда в 2019 году, м²:
                .report-infographics
                  .info-item
                    .bar.planning(style="width:16%") 1650
                    .caption План
                  .info-item
                    .bar(style="width:45%") 4560
                    .caption Факт
              .report-sm-illustration
                img(src="/images/report/Ghilye_sreda_logo_cvet_na_bel_lev.png")



                
        
        section#eco 
          h2 Экология
          .orb__grid.orb__grid-inset-L
            .orb__grid-cell
              .report-text
                p Создана единая система экологического мониторинга атмосферного воздуха
                p Оборудовано <mark>313 площадок</mark> накопления ТКО
              .report-plate
                .report-sm-illustration
                  img(src="/images/report/nac_prj_logo.png")
                p Цели проекта:
                ul 
                  li Эффективное обращение с отходами
                  li Повышение качества питьевой воды
                  li Снижение уровня загрязнения атмосферного воздуха



            .orb__grid-cell
              .report-big-illustration.shift-top
                img(src="/images/report/herbs.svg")
          
          h3 Региональные проекты 
          .eco-projects-table
            .eco-project
              .eco-project-header 
                h4 Чистый воздух
              h6 Срок реализации
              p.orb__text-L <mark>2019–2024</mark>
              h6 Финансирование
              p.orb__text-L <mark>670,6</mark> млн ₽
              h6 Реализация
              ul
                li объем выбросов загрязняющих веществ в г. Медногорске снижен на 8,1% (в сравнении с 2017 годом)
                li проведены мероприятия по экологическому просвещению в ООО «Медногорский медносерный комбинат»
                li заключен контракт на подготовку документации на строительство автомобильной дороги «Восточный обход г. Медногорска»
            .eco-project
              .eco-project-header 
                h4 Комплексная система обращения с ТКО
              h6 Срок реализации
              p.orb__text-L <mark>2019–2024</mark>
              h6 Финансирование
              p.orb__text-L <mark>4,08</mark> млн ₽
              h6 Реализация
              ul
                li приобретено оборудование для оснащения (Гайский городской округ, Новосергиевский район)
                li произведен I этап реконструкции (г. Медногорск) объектов обработки ТКО
            .eco-project
              .eco-project-header 
                h4 Сохранение лесов
              h6 Срок реализации
              p.orb__text-L <mark>2019–2024</mark>
              h6 Финансирование
              p.orb__text-L <mark>94,19</mark> млн ₽
              h6 Реализация
              p Приобретены:
              ul
                li специализированная лесопожарная и лесохозяйственная техника и оборудование
                li районированные семена лесных растений (сосна обыкновенная) и семена лесных пород (клен татарский)


    include /designs/_ag-footer


block footer