extends /layouts/main.pug

block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .active-colors.small-at-1000
    include /designs/_ag-header

    .orb__wrapper.full-width
      section
        h1 Голосования
      section
        h6 Активные

        a.vote-promo(href="#")
          p 8–22 декабря
          h3 Выбор элементов благоустройства эспланады в квартале №66
          p Жители города Перми приглашаются к участию в голосовании по выбору элементов благоустройства (арт-объектов, малых архитектурных форм, функциональных зон, зеленых насаждений) 
          .fake-button.big Проголосовать
      section.S
        a.vote-promo(href="#")
          p 1 июня 2020 - 1 января 2021
          h3 Манифест об общественном согласии и совместных действиях
          p В Пермском крае представителям профсоюзных, политических, социально ориентированных, творческих, гуманитарных организаций презентовали Манифест об общественном согласии и совместных действиях. На портале вы можете ознакомиться с текстом документа и присоединиться к уже подписавшим манифест. 
          .fake-button.big Проголосовать

      section
        h6 Завершённые
        .orb__grid.orb__grid-size-XXL.orb__grid-inset-S 
          .orb__grid-cell
            a.vote-promo(href="#")
              p 11–24 ноября
              h4 Мы выбираем спорт 2021!
              p Проект «Мы выбираем спорт!» направлен на повышение качества спортивных мероприятий, а также формирование новой системы развития массового спорта на местах.
              .fake-button Результаты

          .orb__grid-cell
            a.vote-promo(href="#")
              p 1–15 октября
              h4 Выбор элементов благоустройства сквера по ул. Яблочкова
              p Жители города Перми приглашаются к участию в голосовании по выбору элементов благоустройства при разработке концепции сквера по ул. Яблочкова
              .fake-button Результаты
              
          .orb__grid-cell
            a.vote-promo(href="#")
              p 1–15 октября
              h4 Выбор элементов благоустройства сквера по ул. им. П. Морозова
              p Жители города Перми приглашаются к участию в голосовании по выбору элементов благоустройства при разработке концепции сквера им. П. Морозова
              .fake-button Результаты

          .orb__grid-cell
            a.vote-promo(href="#")
              p 03–13 сентярбя
              h4 Субсидии для компаний-экспортёров
              p Опрос проводится с целью определить и устранить барьеры, мешающие получить государственную поддержку экспортоориентированным компаниям Пермского края
              .fake-button Результаты



    include /designs/_ag-footer



      