extends /layouts/main.pug

//- block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .digit-colors
    .orb-report-header
      .orb-logo
        .orb-emblem
          include /partials/emblem
          //- img(src="/images/identity/ORB_O-logo.svg")
        .orb-caption Минцифра Оренбургской области


    .orb__wrapper.full-at-1000
      section
        h1 Годовой отчёт
        .orb-report-2021-cover
          .orb-future-bg.future-bg1
          .orb-future-bg.future-bg2
          .orb-future-bg.future-bg3
          .orb-future-bg.future-bg4

        //- .year-selector 
          .orb__radiogroup-links
            +a(href='/designs/ag-report') 2019
            +a(href='/designs/ag-report-2020') 2020

      section
        aside 
          h4 Об отчёте
          p Здесь представлена общая информация о деятельности министерства цифрового развития и связи Оренбургской области и ГКУ  «Центр информационных технологий Оренбургской области» за 2021 год.
          p Подробная информация, а также сведения, раскрываемые в соответствии с требованиями законодательства, размещены на официальных порталах <a href="http://digital.orb.ru">digital.orb.ru</a> и <a href="http://cit.orb.ru">cit.orb.ru</a>. 
          p Для удобства читателей в отчете размещены QR-коды со ссылками на источники либо ресурсы, содержащие подробную информацию (в электронной версии годового отчета QR-коды кликабельны).
          p В тексте под Минцифрой подразумевается Министерство и ГКУ «ЦИТ», если не указано иное.
          br
          p С уважением,<br>команда Минцифры

      section 
        .contents
          h3.print__new-page-break Содержание
          .orb__grid.orb__grid-size-XL.orb__grid-inset-L
            .orb__grid-cell

              h5
                a(href="#") О Минцифре
              p
                a(href="#history") Историческая справка
              p
                a(href="#government") Минцифра в структуре Правительства Оренбургской области
              p
                a(href="#") Организационная структура и команда Минцифры
              p
                a(href="#") Организационная структура и команда ГКУ «ЦИТ»
              p
                a(href="#learning") Обучение и саморазвитие


            .orb__grid-cell
              h5
                a(href="#") Деятельность
              p
                a(href="#") Национальная программа «Цифровая экономика»
              p
                a(href="#") Региональный проект «Информационная инфраструктура»
              p
                a(href="#") Региональный проект «Цифровое государственное управление»
              p
                a(href="#") Региональный проект «Кадры для цифровой экономики»
              p
                a(href="#") Региональный проект «Информационная безопасность»
              p
                a(href="#") Региональный проект «Цифровые технологии»
              p
                a(href="#") Институт CDTO

            .orb__grid-cell
              h5
                a(href="#") Электронное правительство
              p
                a(href="#") Портал Госуслуг
              p
                a(href="#") Единая система межведомственного электронного взаимодействия
              p
                a(href="#") Информационная система МФЦ
              p
                a(href="#") Система электронного документооборота
              p
                a(href="#") Ведомственные информационные системы
              p
                a(href="#") Центр обработки данных Оренбургской области
              p
                a(href="#") Единая информационно-телекоммуникационная сеть

            .orb__grid-cell
              h5
                a(href="#") Ключевые цифры, рейтинги и показатели 
              p
                a(href="#") Характеристика IT-отрасли Оренбургской области
              p
                a(href="#rate") Оренбургская область в рейтингах и показателях

            .orb__grid-cell
              h5
                a(href="#") Связь и телекоммуникации 
              p
                a(href="#") Особенности региона и их влияние на развитие связи
              p
                a(href="#") Телефонная связь
              p
                a(href="#") Мобильная связь
              p
                a(href="#") Интернет
              p
                a(href="#") ТВ и радио


            .orb__grid-cell
              h5
                a(href="#") Работа в период CoVID-19
              p
                a(href="#") Обеспечение деятельности органов государственной власти Оренбургской области
              p
                a(href="#") Проектная деятельность в Минцифре
              p
                a(href="#") Работа коллегиальных и общественных органов

      .report
        section.print__new-page-break 
          h2 О Минцифре
          h3#history Историческая справка
          .orb__grid.orb__grid-size-L
            .orb__grid-cell.orb__right-inner-space-M
              .report-bigger-illustration.orb__bottom-space-XS
                img(src="/images/orb-report/person_1.png")
              h5.orb__bottom-space-M Кутузов<br>Владимир Иванович
              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>1994–1998</b><br>Отдел региональной информатизации информационно-аналитического центра Аппарата администрации Оренбургской области, <br>Начальник отдела

            .orb__grid-cell.orb__right-inner-space-M
              .report-bigger-illustration.orb__bottom-space-XS
                img(src="/images/orb-report/person_2.png")
              h5.orb__bottom-space-M Чайковский<br>Владимир Иванович

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>1998–2004</b><br>Комитет по информатизации и информационным ресурсам аппарата главы администрации Оренбургской области,<br>Председатель комитета

                p.orb__bottom-space-S 
                  <b>2004–2006</b><br>Комитет по связи и информатизации управления администрации Оренбургской области по промышленности, транспорту и связи,<br>Председатель комитета

                p.orb__bottom-space-S 
                  <b>2006–2009</b><br>Министерство промышленной политики и инноваций Оренбургской области,<br>Заместитель министра

                p.orb__bottom-space-S
                  <b>2009–2011</b><br>Управление по связи, информатизации и информационной безопасности аппарата Губернатора и Правительства Оренбургской области,<br>Заместитель руководителя аппарата,<br>начальник управления

            
            .orb__grid-cell.orb__right-inner-space-M
              .report-bigger-illustration.orb__bottom-space-XS
                img(src="/images/orb-report/person_3.png")
              h5.orb__bottom-space-M Засинец<br>Игорь Дмитриевич

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>2006–2009</b><br>Отдел по связи, телекоммуникациям и информатизации  министерства промышленной политики и инноваций Оренбургской области,<br>Начальник отдела  
                p.orb__bottom-space-S 
                  <b>2011–2013</b><br>Управление по связи, информатизации и информационной безопасности аппарата Губернатора и Правительства Оренбургской области,<br>Заместитель руководителя аппарата – начальник управления 
                p.orb__bottom-space-S 
                  <b>2013–2019</b><br>Департамент информационных технологий Оренбургской области,<br>Директор 

            .orb__grid-cell.orb__right-inner-space-M
              .report-bigger-illustration.orb__bottom-space-XS
                img(src="/images/orb-report/person_4.png")
              h5.orb__bottom-space-M Толпейкин<br>Денис Владимирович

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>Июль–декабрь 2019</b><br>Департамент информационных технологий Оренбургской области,<br>Директор 
                p.orb__bottom-space-S 
                  <b>2020–н.в</b><br>Министерство цифрового развития и связи Оренбургской области,<br>Министр

        section#government
          h3.print__new-page-break Минцифра в структуре<br>Правительства Оренбургской области
          .orb-report-person-block.orb-report-person-block__1.orb__bottom-space-S
            img(src="/images/orb-report/person_5.png")
            .info
              b Паслер Денис Владимирович 
              p.orb__text-SM Губернатор — председатель правительства Оренбургской области
              a.orb__button-link.orb__button-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_1.png").qr-code.print__visible
          .orb-report-person-block.orb-report-person-block__2.orb__bottom-space-S
            img(src="/images/orb-report/person_6.png")
            .info
              b Петухов Игнат Евгеньевич 
              p.orb__text-SM Вице-губернатор – заместитель председателя Правительства Оренбургской области по экономической и инвестиционной политике Оренбургской области
              a.orb__button-link.orb__button-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_2.png").qr-code.print__visible
          .orb-report-person-block.orb-report-person-block__3.orb__bottom-space-S
            img(src="/images/orb-report/person_4.png")
            .info
              b Толпейкин Денис Владимирович 
              p.orb__text-SM Министр цифрового развития и связи Оренбургской области
              a.orb__button-link.orb__button-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_3.png").qr-code.print__visible
          .orb-report-person-block.orb-report-person-block__4.orb__bottom-space-S
            img(src="/images/orb-report/person_7.png")
            .info
              b Борисов Ян Евгеньевич
              p.orb__text-SM Директор государственного казенного учреждения «Центр информационных технологий Оренбургской области»
              a.orb__button-link.orb__button-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_4.png").qr-code.print__visible
          

        section.print__new-page-break 
          h3 Организационная структура <br>и команда Минцифры
          .report-bigger-illustration
            img(src="/images/tmp/orb_report_2021_screen_3.png")

        section.print__new-page-break 
          h3.print__visible Организационная структура <br>и команда Минцифры <span class="orb__text-XS">(продолжение)</span>
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
            .orb__grid-cell
              h4 Образование
              .report-sm-illustration
                img(src="/images/tmp/orb_report_2021_education.png")
            .orb__grid-cell
              h4 Cтаж в Минцифре
              .report-50-percent-width-illustration
                img(src="/images/tmp/orb_report_2021_stag.png")
            .orb__grid-cell
              h4 Команда <span class="orb__text-XS">(на 31.12.2021)</span>
              .report-sm-illustration
                img(src="/images/tmp/orb_report_2021_team.png")
            .orb__grid-cell
              h4 Возраст
              .report-sm-illustration
                img(src="/images/tmp/orb_report_2021_age.png")
          
        section.print__new-page-break 
          h3 Организационная структура <br>и команда ГКУ«ЦИТ»  
          .report-bigger-illustration
            img(src="/images/tmp/orb_report_2021_screen_4.png")

        section.print__new-page-break 
          h3.print__visible Организационная структура <br>и команда ГКУ«ЦИТ» <span class="orb__text-XS">(продолжение)</span>
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
            .orb__grid-cell
              h4 Образование
              .report-sm-illustration
                img(src="/images/tmp/orb_report_2021_education.png")
              p.orb__text-S Все сотрудники ГКУ «ЦИТ» имеют высшее образование, <br>при этом 15 человек имеют 2 и более высших образования.
            .orb__grid-cell
              h4 Cтаж в Минцифре
              .report-50-percent-width-illustration
                img(src="/images/tmp/orb_report_2021_stag.png")
            .orb__grid-cell
              h4 Команда <span class="orb__text-XS">(на 31.12.2021)</span>
              .report-sm-illustration
                img(src="/images/tmp/orb_report_2021_team.png")
            .orb__grid-cell
              h4 Возраст
              .report-sm-illustration
                img(src="/images/tmp/orb_report_2021_age.png")
          
        section.print__new-page-break#learning
          .orb-report-picture-heading
            img(src="/images/orb-report/heading_bg.png")
            .bg
              h2 Обучение<br>и саморазвитие

          .orb__text.orb__top-space-S
            p 2021 году при поддержке министра цифрового развития и связи Оренбургской области Дениса Толпейкина большинство сотрудников министерства и ГКУ «ЦИТ» прошли ежегодной обучение. 
            p В обучении участвовали сотрудники всех уровней: от специалистов до руководителей. Министр и его заместители также повышали свои профессиональные компетенции на базе Центра подготовки Руководителей цифровой трансформации РАНХиГС — они изучили программы по управленческому мастерству и реализации проектов цифровой трансформации.
            p Программа обучение состояла из тематических и общих программ обучения и электронных курсов. Большинство освоенных программ посвящено профессиональному развитию в сфере цифровой трансформации и технологиям, основанными на работе с данными — обучение по ним  прошли 64 сотрудника Минцифры и ГКУ «ЦИТ».
            p Основными площадками для получения новых знаний в 2021 году стали Центр подготовки руководителей цифровой трансформации на базе РАНХиГС и АНО ВО «Университет Иннополис». Процесс обучения в большей части проходил без отрыва от производства с применением дистанционных технологий.

        section.print__new-page-break
          h2 Ключевые цифры, рейтинги и показатели 
          h3 Характеристика IT-отрасли <br>Оренбургской области
          .report-bigger-illustration
              img(src="/images/tmp/orb_report_2021_screen_5.png")
          p.orb__text <b>Источник:</b> Росстат. Данные об обороте организаций и числе занятых проводятся по состоянию на октябрь указанного года, остальные данные — на 1 января следующего.


        section#rate 
          h3.print__new-page-break Оренбургская область <br>в рейтингах и показателях
          h4 Финансирование ИТ 
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.orb-report-factoid-number.major 61
                p.orb__text место по ИКТ-бюджету среди 85 регионов РФ (по данным ФНС России)
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.orb-report-factoid-number.major 72
                p.orb__text место по ИКТ-бюджету на душу населения (174,3 ₽/чел) среди 85 регионов РФ 

          h4 Связь и интернет
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.orb-report-factoid-number 4
                p.orb__text место среди 85 регионов РФ по обеспечению домохозяйств широкополосным интернетом
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.orb-report-factoid-number 98%
                p.orb__text населения охвачены цифровым ТВ 

          h4 Госуслуги
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.orb-report-factoid-number 17,2%
                p.orb__text населения области получают государственные и муниципальные услуги в электронной форме
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.orb-report-factoid-number 90%
                p.orb__text населения полностью удовлетворены качеством предоставления электронных услуг
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.orb-report-factoid-number 16
                p.orb__text место среди 85 регионов РФ по использованию населением госуслуг в электронной форме 
          p Источники:<br> <a href="http://rosstat.gov.ru/storage/mediabank/lqv3T0Rk/info-ob2020.pdf">rosstat.gov.ru</a> и <a href="https://www.cnews.ru/news/top/2019-10-23_cnews_opublikoval_rejting_regionov">cnews.ru</a>

    //- include /designs/_ag-footer


block footer