extends /layouts/main.pug

//- block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .digit-colors
    .orb-report-header
      .orb-logo
        .orb-emblem
          include /partials/emblem
          //- img(src="/images/identity/ORB_O-logo.svg")
        .orb-caption Минцифра Оренбургской области


    .orb__wrapper.full-at-1000
      section
        h1 Годовой отчёт
        .orb-report-2021-cover
          .orb-future-bg.future-bg1
          .orb-future-bg.future-bg2
          .orb-future-bg.future-bg3
          .orb-future-bg.future-bg4

        //- .year-selector 
          .orb__radiogroup-links
            +a(href='/designs/ag-report') 2019
            +a(href='/designs/ag-report-2020') 2020

      section.orb__bottom-space-L
        aside 
          h4 Об отчёте
          p Здесь представлена общая информация о деятельности министерства цифрового развития и связи Оренбургской области и ГКУ  «Центр информационных технологий Оренбургской области» за 2021 год.
          p Подробная информация, а также сведения, раскрываемые в соответствии с требованиями законодательства, размещены на официальных порталах <a href="http://digital.orb.ru">digital.orb.ru</a> и <a href="http://cit.orb.ru">cit.orb.ru</a>. 
          p Для удобства читателей в отчете размещены QR-коды со ссылками на источники либо ресурсы, содержащие подробную информацию (в электронной версии годового отчета QR-коды кликабельны).
          p В тексте под Минцифрой подразумевается Министерство и ГКУ «ЦИТ», если не указано иное.
          p С уважением, команда Минцифры

      section 
        .contents
          h3.print__new-page-break Содержание
          .orb__grid.orb__grid-size-L.orb__grid-inset-L.orb__text-S.mobile__hidden
            .orb__grid-cell
              h4
                a.js-scroll-link(href="#about") О Минцифре
              p
                a.js-scroll-link(href="#history") Историческая справка
              p
                a.js-scroll-link(href="#government") Минцифра в структуре Правительства Оренбургской области
              p
                a.js-scroll-link(href="#org1") Организационная структура и команда Минцифры
              p
                a.js-scroll-link(href="#org2") Организационная структура и команда ГКУ «ЦИТ»
              p
                a.js-scroll-link(href="#learning") Обучение и саморазвитие

              h4.orb__top-space-M
                a.js-scroll-link(href="#statistics") Ключевые цифры, рейтинги и показатели 
              p
                a.js-scroll-link(href="#statistics1") Характеристика IT-отрасли Оренбургской области
              p
                a.js-scroll-link(href="#statistics2") Оренбургская область в рейтингах и показателях

              h4.orb__top-space-M
                a.js-scroll-link(href="#activity") Деятельность
              h5
                a.js-scroll-link(href="#digital_economy") Национальная программа «Цифровая экономика»
              p
                a(href="#") Региональный проект «Информационная инфраструктура»
              p
                a(href="#") Региональный проект «Цифровое государственное управление»
              p
                a(href="#") Региональный проект «Кадры для цифровой экономики»
              p
                a(href="#") Региональный проект «Информационная безопасность»
              p
                a(href="#") Региональный проект «Цифровые технологии»
              p
                a(href="#") Институт CDTO

            .orb__grid-cell
              h5
                a(href="#") Связь и телекоммуникации 
              p
                a(href="#") Особенности региона и их влияние на развитие связи
              p
                a(href="#") Телефонная связь
              p
                a(href="#") Мобильная связь
              p
                a(href="#") Интернет
              p
                a(href="#") ТВ и радио

              h5.orb__top-space-M
                a(href="#") Электронное правительство
              p
                a(href="#") Портал Госуслуг
              p
                a(href="#") Единая система межведомственного электронного взаимодействия
              p
                a(href="#") Информационная система МФЦ
              p
                a(href="#") Система электронного документооборота
              p
                a(href="#") Ведомственные информационные системы
              p
                a(href="#") Центр обработки данных Оренбургской области
              p
                a(href="#") Единая информационно-телекоммуникационная сеть

              h5.orb__top-space-M
                a(href="#covid") Работа в период CoVID-19
              h5
                a(href="#") Обеспечение деятельности органов государственной власти Оренбургской области
              h5
                a(href="#") Проектная деятельность в Минцифре
              h5
                a(href="#") Работа коллегиальных и общественных органов
            
            .orb__grid-cell
              h5 
                a(href="#") Специальные программы и проекты
              p
                a(href="#") Центр управления регионом
              p
                a(href="#") «Активный гражданин» Оренбургской области
              p
                a(href="#") Универсальная карта жителя Оренбургской области
              p
                a(href="#") Единая государственная веб-экосистема
              p
                a(href="#") ГИС «Единый реестр имущества в Оренбургской области»
              p
                a(href="#") Личный кабинет сельхозтоваропроизводителя
              p
                a(href="#") АПК «Безопасный город»
              p
                a(href="#") Центр обнаружения и реагирования на инциденты информационной безопасности
              p
                a(href="#") ГИС «Обеспечения градостроительной деятельности»
              p
                a(href="#") Дизайн-система цифровых сервисов Оренбургской области
              p
                a(href="#") Цифровой герб Оренбургской области
              p
                a(href="#") Прототип региональной геоинформационной системы
              p
                a(href="#") Система управления процессами и контроля за их исполнением в органах государственной власти
            
            .orb__grid-cell
              h5
                a(href="#") События, соглашения, эксперименты
              p
                a(href="#") Группа Сбер. СберСервис
              p
                a(href="#") Группа Сбер. SberCloud
              p
                a(href="#") Фирма «1С»
              p
                a(href="#") АО «ГЛОНАСС»
              p
                a(href="#") Типовое облачное решение контрольно-надзорной деятельности
              p
                a(href="#") Платформа интернета вещей (IoT)

              h5.orb__top-space-M
                a(href="#") Хакатоны и CTF
              h5
                a(href="#") Пресс-центр и связь с общественностью
              h5
                a(href="#") Обращения граждан
              h5
                a(href="#") Общественная деятельность 

          .orb__grid.orb__grid-size-XL.orb__bottom-space-L.mobile__visible
            .orb__grid-cell
              h5
                a(href="#") О Минцифре
              h5
                a(href="#") Ключевые цифры, рейтинги и показатели 
              h5
                a(href="#") Деятельность
              p
                a(href="#") Национальная программа «Цифровая экономика»
              p
                a(href="#") Связь и телекоммуникации 
              p
                a(href="#") Электронное правительство
              p
                a(href="#") Работа в период CoVID-19
              p
                a(href="#") Обеспечение деятельности органов государственной власти Оренбургской области
            
            .orb__grid-cell
              p
                a(href="#") Проектная деятельность в Минцифре
              p
                a(href="#") Работа коллегиальных и общественных органов
              p 
                a(href="#") Специальные программы и проекты
              p
                a(href="#") События, соглашения, эксперименты
              p
                a(href="#") Хакатоны и CTF
              p
                a(href="#") Пресс-центр и связь с общественностью
              p
                a(href="#") Обращения граждан
              p
                a(href="#") Общественная деятельность    

      .report
        section.orb__bottom-space-L.print__new-page-break 
          h2#about О Минцифре
          h3#history Историческая справка
          .orb__grid.orb__grid-size-L
            .orb__grid-cell.orb__right-inner-space-M
              .orb-report-full-img.orb__bottom-space-XS
                img(src="/images/orb-report/person_1.png")
              h5.orb__bottom-space-M Кутузов<br>Владимир Иванович
              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>1994–1998</b><br>Отдел региональной информатизации информационно-аналитического центра Аппарата администрации Оренбургской области, <br>Начальник отдела

            .orb__grid-cell.orb__right-inner-space-M
              .orb-report-full-img.orb__bottom-space-XS
                img(src="/images/orb-report/person_2.png")
              h5.orb__bottom-space-M Чайковский<br>Владимир Иванович

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>1998–2004</b><br>Комитет по информатизации и информационным ресурсам аппарата главы администрации Оренбургской области,<br>Председатель комитета

                p.orb__bottom-space-S 
                  <b>2004–2006</b><br>Комитет по связи и информатизации управления администрации Оренбургской области по промышленности, транспорту и связи,<br>Председатель комитета

                p.orb__bottom-space-S 
                  <b>2006–2009</b><br>Министерство промышленной политики и инноваций Оренбургской области,<br>Заместитель министра

                p.orb__bottom-space-S
                  <b>2009–2011</b><br>Управление по связи, информатизации и информационной безопасности аппарата Губернатора и Правительства Оренбургской области,<br>Заместитель руководителя аппарата,<br>начальник управления

            
            .orb__grid-cell.orb__right-inner-space-M
              .orb-report-full-img.orb__bottom-space-XS
                img(src="/images/orb-report/person_3.png")
              h5.orb__bottom-space-M Засинец<br>Игорь Дмитриевич

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>2006–2009</b><br>Отдел по связи, телекоммуникациям и информатизации  министерства промышленной политики и инноваций Оренбургской области,<br>Начальник отдела  
                p.orb__bottom-space-S 
                  <b>2011–2013</b><br>Управление по связи, информатизации и информационной безопасности аппарата Губернатора и Правительства Оренбургской области,<br>Заместитель руководителя аппарата – начальник управления 
                p.orb__bottom-space-S 
                  <b>2013–2019</b><br>Департамент информационных технологий Оренбургской области,<br>Директор 

            .orb__grid-cell.orb__right-inner-space-M
              .orb-report-full-img.orb__bottom-space-XS
                img(src="/images/orb-report/person_4.png")
              h5.orb__bottom-space-M Толпейкин<br>Денис Владимирович

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>Июль–декабрь 2019</b><br>Департамент информационных технологий Оренбургской области,<br>Директор 
                p.orb__bottom-space-S 
                  <b>2020–н.в</b><br>Министерство цифрового развития и связи Оренбургской области,<br>Министр

        section.orb__bottom-space-L#government
          h3.print__new-page-break Минцифра в структуре<br>Правительства Оренбургской области
          .orb-report-person-block.order__1.orb__bottom-space-S
            img(src="/images/orb-report/person_5.png")
            .info
              b Паслер Денис Владимирович 
              p.orb__text-SM Губернатор — председатель правительства Оренбургской области
              a.orb__text-SM.orb-report-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_1.png").qr-code.print__visible
          .orb-report-person-block.order__2.orb__bottom-space-S
            img(src="/images/orb-report/person_6.png")
            .info
              b Петухов Игнат Евгеньевич 
              p.orb__text-SM Вице-губернатор – заместитель председателя Правительства Оренбургской области по экономической и инвестиционной политике
              a.orb__text-SM.orb-report-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_2.png").qr-code.print__visible
          .orb-report-person-block.order__3.orb__bottom-space-S
            img(src="/images/orb-report/person_4.png")
            .info
              b Толпейкин Денис Владимирович 
              p.orb__text-SM Министр цифрового развития и связи Оренбургской области
              a.orb__text-SM.orb-report-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_3.png").qr-code.print__visible
          .orb-report-person-block.order__4.orb__bottom-space-S
            img(src="/images/orb-report/person_7.png")
            .info
              b Борисов Ян Евгеньевич
              p.orb__text-SM Директор государственного казенного учреждения «Центр информационных технологий Оренбургской области»
              a.orb__text-SM.orb-report-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_4.png").qr-code.print__visible   

        section.orb__bottom-space-L.print__new-page-break 
          h3#org1 Организационная структура <br>и команда Минцифры
          .orb-report-full-img
            img(src="/images/tmp/orb_report_2021_screen_3.png")

          section.orb__top-space-M.print__new-page-break 
            h3.print__visible Организационная структура <br>и команда Минцифры <span class="orb__text-XS">(продолжение)</span>
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                h4 Образование
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_education.png")
              .orb__grid-cell
                h4 Cтаж в Минцифре
                .report-50-percent-width-illustration
                  img(src="/images/tmp/orb_report_2021_stag.png")
              .orb__grid-cell
                h4 Команда <span class="orb__text-XS">(на 31.12.2021)</span>
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_team.png")
              .orb__grid-cell
                h4 Возраст
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_age.png")
          
        section.orb__bottom-space-L.print__new-page-break 
          h3#org2 Организационная структура <br>и команда ГКУ«ЦИТ»  
          .orb-report-full-img
            img(src="/images/tmp/orb_report_2021_screen_4.png")

          section.orb__top-space-M.print__new-page-break 
            h3.print__visible Организационная структура <br>и команда ГКУ«ЦИТ» <span class="orb__text-XS">(продолжение)</span>
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                h4 Образование
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_education.png")
                p.orb__text.orb__text-S Все сотрудники ГКУ «ЦИТ» имеют высшее образование, при этом 15 человек имеют 2 и более высших образования.
              .orb__grid-cell
                h4 Cтаж в Минцифре
                .report-50-percent-width-illustration
                  img(src="/images/tmp/orb_report_2021_stag.png")
              .orb__grid-cell
                h4 Команда <span class="orb__text-XS">(на 31.12.2021)</span>
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_team.png")
              .orb__grid-cell
                h4 Возраст
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_age.png")
          
        section.orb__bottom-space-L.print__new-page-break#learning
          .orb-report-picture-heading
            img(src="/images/orb-report/heading_bg.png")
            .bg
              h2 Обучение и саморазвитие

          .orb__text.orb__top-space-S
            p 2021 году при поддержке министра цифрового развития и связи Оренбургской области Дениса Толпейкина большинство сотрудников министерства и ГКУ «ЦИТ» прошли ежегодное обучение. 
            p В обучении участвовали сотрудники всех уровней: от специалистов до руководителей. Министр и его заместители также повышали свои профессиональные компетенции на базе Центра подготовки Руководителей цифровой трансформации РАНХиГС — они изучили программы по управленческому мастерству и реализации проектов цифровой трансформации.
            p Программа обучение состояла из тематических и общих программ обучения и электронных курсов. Большинство освоенных программ посвящено профессиональному развитию в сфере цифровой трансформации и технологиям, основанными на работе с данными — обучение по ним прошли <mark>64 сотрудника</mark> Минцифры и ГКУ «ЦИТ».
            p Основными площадками для получения новых знаний в 2021 году стали Центр подготовки руководителей цифровой трансформации на базе РАНХиГС и АНО ВО «Университет Иннополис». Процесс обучения в большей части проходил без отрыва от производства с применением дистанционных технологий.

        section.orb__bottom-space-L.print__new-page-break
          h2#statistics Ключевые цифры, рейтинги<br>и показатели 
          h3#statistics1 Характеристика IT-отрасли <br>Оренбургской области
          .orb-report-full-img
              img(src="/images/tmp/orb_report_2021_screen_5.png")
          p.orb__text.orb__text-S <b>Источник:</b> Росстат. Данные об обороте организаций и числе занятых проводятся по состоянию на октябрь указанного года, остальные данные — на 1 января следующего.


        section.orb__bottom-space-L.print__new-page-break
          h3#statistics2 Оренбургская область <br>в рейтингах и показателях
          h4 Финансирование ИТ 
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 61
                p.orb__text место по ИКТ-бюджету среди 85 регионов РФ (по данным ФНС России)
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 72
                p.orb__text место по ИКТ-бюджету на душу населения (174,3 ₽/чел) среди 85 регионов РФ 

          h4 Связь и интернет
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 4
                p.orb__text место среди 85 регионов РФ по обеспечению домохозяйств широкополосным интернетом
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 98%
                p.orb__text населения охвачены цифровым ТВ 

          h4 Госуслуги
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 17,2%
                p.orb__text населения области получают государственные и муниципальные услуги в электронной форме
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 90%
                p.orb__text населения полностью удовлетворены качеством предоставления электронных услуг
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 16
                p.orb__text место среди 85 регионов РФ по использованию населением госуслуг в электронной форме 
          p.orb__text.orb__text-S Источники:<br> <a href="http://rosstat.gov.ru/storage/mediabank/lqv3T0Rk/info-ob2020.pdf">rosstat.gov.ru</a> и <a href="https://www.cnews.ru/news/top/2019-10-23_cnews_opublikoval_rejting_regionov">cnews.ru</a>

        section.orb__bottom-space-L.print__new-page-break 
          h2#activity Деятельность
          h3#digital_economy Национальная программа<br>«Цифровая экономика»
          h4 Региональный проект «Кадры для цифровой экономики» 
          .orb__text
            p <b>Цель</b> — обеспечить доступность для населения обучения по программам дополнительного образования для получения новых и востребованных на рынке труда цифровых компетенций.
            br
            p <b>Задача</b> — выстроить преемственную на всех уровнях систему образования, включающую: 
            ul 
              li выявление и поддержку талантов в областях математики и информатики;
              li подготовку высококвалифицированных кадров, отвечающих новым требованиям к ключевым компетенциям цифровой экономики;
              li реализацию программ переподготовки по востребованным профессиям в условиях цифровой экономики, а также перспективных образовательных проектов.
            br
            p В рамках мероприятий проекта:
            ul 
              li Реализовано более <mark>15 образовательных программ</mark>, позволивших жителями Оренбургской области освоить ключевые компетенции цифровой экономики.
              li <mark>5 должностных лиц</mark>, ответственных за цифровизацию в региональных органах власти, повысили компетенции по вопросам обеспечения работы проектов цифрового развития, работы с данными, работы с государственными информационными системами и цифровыми платформами, цифровой трансформации государственного управления, в том числе процессов предоставления государственных услуг.
              li Продолжается реализация на территории Оренбургской области проектов «Лицей Академия Яндекса», «Яндекс.Учебник», «Я Учитель» и внедрение курсов от «Яндекс.Практикум» по анализу данных на базе ФГБОУ ВО «Оренбургский государственный университет».
              li Реализована государственная программа дополнительного образования в сфере цифровой экономики при условиях 50% софинансирования от государства. <mark>439 оренбуржцев</mark> подали заявки на программы переподготовки и завершат обучение в 2022 году.
              li Состоялся первый выпуск «Лицей Академии Яндекс» — двухлетнюю программу завершили <mark>33 выпускника</mark>. Проект реализуется на пяти площадках г.Оренбурга, г. Орска и г. Новотроицка. В нем участвуют 118 учащихся первого курса и 43 — второго.
              li Продолжается апробация курса «Яндекс.Информатика» — сервиса «Яндекс.Учебник» для учеников 7-8 классов. В проекте участвуют <mark>1&thinsp;416 школьников</mark> из 70 школ Оренбургской области.
              li Продолжается участие в проекте «Урок цифры». За год в образовательных мероприятиях приняли участие <mark>447&thinsp;411 учеников</mark> 1-11 классов.
              li Оренбургская область стала участником пилотного запуска проекта «Программирование для школьников». Участие в проекте позволит школьникам региона старше 14 лет освоить современные языки программирования — обучение пройдет в 2022 году. От оренбургской области одобрено 778 заявок.
          
          section.print__new-page-break 
            h4.print__visible Региональный проект «Кадры для цифровой экономики» 
              .orb__text-S (продолжение)
            h5 Достижение ключевых показателей
            .orb__grid.orb__grid-size-XL.orb__grid-inset-L
              .orb__grid-cell
                p.orb__text.orb__text-S Количество государственных (муниципальных) служащих и работников учреждений, прошедших обучение компетенциям в сфере цифровой трансформации государственного и муниципального управления,<br>человек
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:35%") 142
                    .caption План
                  .info-item
                    .bar(style="width:70%") 293
                    .caption Факт
              .orb__grid-cell 
                p.orb__text.orb__text-S Количество специалистов, освоивших цифровые компетенции по программам повышения квалификации,<br>человек
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:70%") 116
                    .caption План
                  .info-item
                    .bar(style="width:70%") 116
                    .caption Факт
              .orb__grid-cell 
                p.orb__text.orb__text-S Количество учащихся, охваченных мероприятиями профориентации,<br>человек
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:25%;") 131&thinsp;550
                    .caption План
                  .info-item
                    .bar(style="width:70%") 448&thinsp;988
                    .caption Факт
            p.orb__text-S Значения плановых показателей по состоянию на 01.12.2021
          section.orb__bottom-space-L.print__new-page-break
            h3#covid Работа в период CoVID-19
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                .orb-report-steps
                  h4 Перевод Правительства области на удаленную работу
                  ul 
                    li Настройка удаленного доступа для работы
                    li Создание необходимых условий для бесперебойной работы 
                    li Обеспечение защищенного доступа к сервисам Правительства
                  .result 
                    span.result-number 700 
                    <b>рабочих мест</b>
                    p.result-text Менее двух недель понадобилось для отработки мероприятий и создания условий по переводу сотрудников на дистанционную работу
              .orb__grid-cell
                .orb-report-steps
                  h4 Поддержка граждан за рубежом
                  ul 
                    li Организована «горячая линия» для обращения граждан
                    li Обеспечена «обратная связь» с Оренбуржцами, находящимися в сложной ситуации за рубежом
                    li Обеспечено взаимодействие с федеральными и региональными органами исполнительной власти
                  .result 
                    span.result-number 150 
                    <b>оренбуржцам</b>
                    p.result-text помогли вернуться из-за рубежа
              .orb__grid-cell
                .orb-report-steps
                  h4 Создание портала CoVID-19
                  ul 
                    li Министерство стало частью команды по созданию портала «Стопкоронавирус56» и отладке работы единого круглосуточного колл-центра по вопросам режима самоизоляции и противодействия CoVID-19 «8-800-302-50-50».<br>Создание портала заняло 48 часов.
                  .result 
                    b
                      a(href="стопкоронавирус56.рф") стопкоронавирус56.рф
              .orb__grid-cell
                .report-big-illustration.shift-top
                  img(src="/images/orb-report/screen_covid.png")
    include /designs/_dd-footer


block footer