extends /layouts/main.pug

//- block favicon
  link(rel="icon", href="/favicon-ag.png" )
  
block content
  .digit-colors
    .orb-report-header
      .orb-logo
        .orb-emblem
          include /partials/emblem
          //- img(src="/images/identity/ORB_O-logo.svg")
        .orb-caption Минцифра Оренбургской области


    .orb__wrapper.full-at-1000
      section
        h1 Годовой отчёт
        .orb-report-2021-cover
          .orb-future-bg.future-bg1
          .orb-future-bg.future-bg2
          .orb-future-bg.future-bg3
          .orb-future-bg.future-bg4

        //- .year-selector 
          .orb__radiogroup-links
            +a(href='/designs/ag-report') 2019
            +a(href='/designs/ag-report-2020') 2020

      section.orb__bottom-space-L
        h4 Об отчёте
        p Здесь представлена общая информация о деятельности министерства цифрового развития и связи Оренбургской области и ГКУ  «Центр информационных технологий Оренбургской области» за 2021 год.
        p Подробная информация, а также сведения, раскрываемые в соответствии с требованиями законодательства, размещены на официальных порталах <a href="http://digital.orb.ru">digital.orb.ru</a> и <a href="http://cit.orb.ru">cit.orb.ru</a>. 
        p Для удобства читателей в печатной форме отчета размещены QR-коды со ссылками на источники либо ресурсы, содержащие подробную информацию. Электронная версия годового отчета содержит все необходимые ссылки. 
        p В тексте под Минцифрой подразумевается Министерство и ГКУ «ЦИТ», если не указано иное.
        p С уважением, команда Минцифры

      section.orb__bottom-space-L 
        aside.contents
          h3.print__new-page-break Содержание
          .orb__grid.orb__grid-size-L.orb__grid-inset-L.orb__text-S.mobile__hidden
            .orb__grid-cell
              h4
                a.js-scroll-link(href="#about") О Минцифре
              p
                a.js-scroll-link(href="#history") Историческая справка
              p
                a.js-scroll-link(href="#government") Минцифра в структуре Правительства Оренбургской области
              p
                a.js-scroll-link(href="#org1") Организационная структура и команда Минцифры
              p
                a.js-scroll-link(href="#org2") Организационная структура и команда ГКУ «ЦИТ»
              p
                a.js-scroll-link(href="#learning") Обучение и саморазвитие

              h4.orb__top-space-M
                a.js-scroll-link(href="#statistics") Ключевые цифры, рейтинги и показатели 
              p
                a.js-scroll-link(href="#statistics1") Характеристика IT-отрасли Оренбургской области
              p
                a.js-scroll-link(href="#statistics2") Оренбургская область в рейтингах и показателях

              h4.orb__top-space-M
                a.js-scroll-link(href="#activity") Деятельность
              h5
                a.js-scroll-link(href="#digital_economy") Национальная программа «Цифровая экономика»
              p
                a(href="#") Региональный проект «Информационная инфраструктура»
              p
                a(href="#") Региональный проект «Цифровое государственное управление»
              p
                a(href="#") Региональный проект «Кадры для цифровой экономики»
              p
                a(href="#") Региональный проект «Информационная безопасность»
              p
                a(href="#") Региональный проект «Цифровые технологии»
              p
                a(href="#") Институт CDTO

            .orb__grid-cell
              h5
                a(href="#") Связь и телекоммуникации 
              p
                a(href="#") Особенности региона и их влияние на развитие связи
              p
                a(href="#") Телефонная связь
              p
                a(href="#") Мобильная связь
              p
                a(href="#") Интернет
              p
                a(href="#") ТВ и радио

              h5.orb__top-space-M
                a(href="#") Электронное правительство
              p
                a(href="#") Портал Госуслуг
              p
                a(href="#") Единая система межведомственного электронного взаимодействия
              p
                a(href="#") Информационная система МФЦ
              p
                a(href="#") Система электронного документооборота
              p
                a(href="#") Ведомственные информационные системы
              p
                a(href="#") Центр обработки данных Оренбургской области
              p
                a(href="#") Единая информационно-телекоммуникационная сеть

              h5.orb__top-space-M
                a(href="#covid") Работа в период CoVID-19
              h5
                a(href="#") Обеспечение деятельности органов государственной власти Оренбургской области
              h5
                a(href="#") Проектная деятельность в Минцифре
              h5
                a(href="#") Работа коллегиальных и общественных органов
            
            .orb__grid-cell
              h5 
                a(href="#") Специальные программы и проекты
              p
                a(href="#") Центр управления регионом
              p
                a(href="#") «Активный гражданин» Оренбургской области
              p
                a(href="#") Универсальная карта жителя Оренбургской области
              p
                a(href="#") Единая государственная веб-экосистема
              p
                a(href="#") ГИС «Единый реестр имущества в Оренбургской области»
              p
                a(href="#") Личный кабинет сельхозтоваропроизводителя
              p
                a(href="#") АПК «Безопасный город»
              p
                a(href="#") Центр обнаружения и реагирования на инциденты информационной безопасности
              p
                a(href="#") ГИС «Обеспечения градостроительной деятельности»
              p
                a(href="#") Дизайн-система цифровых сервисов Оренбургской области
              p
                a(href="#") Цифровой герб Оренбургской области
              p
                a(href="#") Прототип региональной геоинформационной системы
              p
                a(href="#") Система управления процессами и контроля за их исполнением в органах государственной власти
            
            .orb__grid-cell
              h5
                a(href="#") События, соглашения, эксперименты
              p
                a(href="#") Группа Сбер. СберСервис
              p
                a(href="#") Группа Сбер. SberCloud
              p
                a(href="#") Фирма «1С»
              p
                a(href="#") АО «ГЛОНАСС»
              p
                a(href="#") Типовое облачное решение контрольно-надзорной деятельности
              p
                a(href="#") Платформа интернета вещей (IoT)

              h5.orb__top-space-M
                a(href="#") Хакатоны и CTF
              h5
                a(href="#") Пресс-центр и связь с общественностью
              h5
                a(href="#") Обращения граждан
              h5
                a(href="#") Общественная деятельность 

          .orb__grid.orb__grid-size-XL.mobile__visible
            .orb__grid-cell
              h5
                a(href="#") О Минцифре
              h5
                a(href="#") Ключевые цифры, рейтинги и показатели 
              h5
                a(href="#") Деятельность
              p
                a(href="#") Национальная программа «Цифровая экономика»
              p
                a(href="#") Связь и телекоммуникации 
              p
                a(href="#") Электронное правительство
              p
                a(href="#") Работа в период CoVID-19
              p
                a(href="#") Обеспечение деятельности органов государственной власти Оренбургской области
            
            .orb__grid-cell
              p
                a(href="#") Проектная деятельность в Минцифре
              p
                a(href="#") Работа коллегиальных и общественных органов
              p 
                a(href="#") Специальные программы и проекты
              p
                a(href="#") События, соглашения, эксперименты
              p
                a(href="#") Хакатоны и CTF
              p
                a(href="#") Пресс-центр и связь с общественностью
              p
                a(href="#") Обращения граждан
              p
                a(href="#") Общественная деятельность    

      .report
        section.orb__bottom-space-L 
          .orb-report-chapter-title.print__new-page-break
            h1#about О Минцифре
          h2.print__new-page-break#history Историческая справка
          .orb__grid.orb__grid-size-L
            .orb__grid-cell.orb__right-inner-space-M
              .orb-report-full-img.orb__bottom-space-XS
                img(src="/images/orb-report/person_1.png")
              h5.orb__bottom-space-M Кутузов<br>Владимир Иванович
              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>1994–1998</b><br>Отдел региональной информатизации информационно-аналитического центра Аппарата администрации Оренбургской области, <br>Начальник отдела

            .orb__grid-cell.orb__right-inner-space-M
              .orb-report-full-img.orb__bottom-space-XS
                img(src="/images/orb-report/person_2.png")
              h5.orb__bottom-space-M Чайковский<br>Владимир Иванович

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>1998–2004</b><br>Комитет по информатизации и информационным ресурсам аппарата главы администрации Оренбургской области,<br>Председатель комитета

                p.orb__bottom-space-S 
                  <b>2004–2006</b><br>Комитет по связи и информатизации управления администрации Оренбургской области по промышленности, транспорту и связи,<br>Председатель комитета

                p.orb__bottom-space-S 
                  <b>2006–2009</b><br>Министерство промышленной политики и инноваций Оренбургской области,<br>Заместитель министра

                p.orb__bottom-space-S
                  <b>2009–2011</b><br>Управление по связи, информатизации и информационной безопасности аппарата Губернатора и Правительства Оренбургской области,<br>Заместитель руководителя аппарата,<br>начальник управления

            
            .orb__grid-cell.orb__right-inner-space-M
              .orb-report-full-img.orb__bottom-space-XS
                img(src="/images/orb-report/person_3.png")
              h5.orb__bottom-space-M Засинец<br>Игорь Дмитриевич

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>2006–2009</b><br>Отдел по связи, телекоммуникациям и информатизации  министерства промышленной политики и инноваций Оренбургской области,<br>Начальник отдела  
                p.orb__bottom-space-S 
                  <b>2011–2013</b><br>Управление по связи, информатизации и информационной безопасности аппарата Губернатора и Правительства Оренбургской области,<br>Заместитель руководителя аппарата – начальник управления 
                p.orb__bottom-space-S 
                  <b>2013–2019</b><br>Департамент информационных технологий Оренбургской области,<br>Директор 

            .orb__grid-cell.orb__right-inner-space-M
              .orb-report-full-img.orb__bottom-space-XS
                img(src="/images/orb-report/person_4.png")
              h5.orb__bottom-space-M Толпейкин<br>Денис Владимирович

              .orb__text-SM
                p.orb__bottom-space-S 
                  <b>Июль–декабрь 2019</b><br>Департамент информационных технологий Оренбургской области,<br>Директор 
                p.orb__bottom-space-S 
                  <b>2020–н.в</b><br>Министерство цифрового развития и связи Оренбургской области,<br>Министр

        section.orb__bottom-space-L#government
          h2.print__new-page-break Минцифра в структуре<br>Правительства Оренбургской области
          .orb-report-person-block.order__1.orb__bottom-space-S
            img(src="/images/orb-report/person_5.png")
            .info
              b Паслер Денис Владимирович 
              p.orb__text-SM Губернатор — председатель правительства Оренбургской области
              a.orb__text-SM.orb-report-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_1.png").qr-code.print__visible
          .orb-report-person-block.order__2.orb__bottom-space-S
            img(src="/images/orb-report/person_6.png")
            .info
              b Петухов Игнат Евгеньевич 
              p.orb__text-SM Вице-губернатор – заместитель председателя Правительства Оренбургской области по экономической и инвестиционной политике
              a.orb__text-SM.orb-report-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_2.png").qr-code.print__visible
          .orb-report-person-block.order__3.orb__bottom-space-S
            img(src="/images/orb-report/person_4.png")
            .info
              b Толпейкин Денис Владимирович 
              p.orb__text-SM Министр цифрового развития и связи Оренбургской области
              a.orb__text-SM.orb-report-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_3.png").qr-code.print__visible
          .orb-report-person-block.order__4.orb__bottom-space-S
            img(src="/images/orb-report/person_7.png")
            .info
              b Борисов Ян Евгеньевич
              p.orb__text-SM Директор государственного казенного учреждения «Центр информационных технологий Оренбургской области»
              a.orb__text-SM.orb-report-link-inverted.print__hidden(href="#")
                .orb__link-text Узнать больше
            img(src="/images/orb-report/qr_code_4.png").qr-code.print__visible   

        section.orb__bottom-space-L.print__new-page-break 
          h2#org1 Организационная структура <br>и команда Минцифры
          .orb-report-full-img
            img(src="/images/orb-report/struktura MCR.jpg")

          section.orb__top-space-M.print__new-page-break 
            h2.print__visible Организационная структура <br>и команда Минцифры <span class="orb__text-XS">(продолжение)</span>
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                h4 Образование
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_education.png")
              .orb__grid-cell
                h4 Cтаж в Минцифре
                .report-50-percent-width-illustration
                  img(src="/images/tmp/orb_report_2021_stag.png")
              .orb__grid-cell
                h4 Команда <span class="orb__text-XS">(на 31.12.2021)</span>
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_team.png")
              .orb__grid-cell
                h4 Возраст
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_age.png")
          
        section.orb__bottom-space-L.print__new-page-break 
          h2#org2 Организационная структура <br>и команда ГКУ«ЦИТ»  
          .orb-report-full-img
            img(src="/images/tmp/orb_report_2021_screen_4.png")

          section.orb__top-space-M.print__new-page-break 
            h2.print__visible Организационная структура <br>и команда ГКУ«ЦИТ» <span class="orb__text-XS">(продолжение)</span>
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                h4 Образование
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_education.png")
                p.orb__text.orb__text-S Все сотрудники ГКУ «ЦИТ» имеют высшее образование, при этом 15 человек имеют 2 и более высших образования.
              .orb__grid-cell
                h4 Cтаж в Минцифре
                .report-50-percent-width-illustration
                  img(src="/images/tmp/orb_report_2021_stag.png")
              .orb__grid-cell
                h4 Команда <span class="orb__text-XS">(на 31.12.2021)</span>
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_team.png")
              .orb__grid-cell
                h4 Возраст
                .report-sm-illustration
                  img(src="/images/tmp/orb_report_2021_age.png")
          
        section.orb__bottom-space-L.print__new-page-break#learning
          .orb-report-picture-heading
            img(src="/images/orb-report/heading_bg.png")
            .bg
              h2 Обучение и саморазвитие

          .orb__text.orb__top-space-S
            p 2021 году при поддержке министра цифрового развития и связи Оренбургской области Дениса Толпейкина большинство сотрудников министерства и ГКУ «ЦИТ» прошли ежегодное обучение. 
            p В обучении участвовали сотрудники всех уровней: от специалистов до руководителей. Министр и его заместители также повышали свои профессиональные компетенции на базе Центра подготовки Руководителей цифровой трансформации РАНХиГС — они изучили программы по управленческому мастерству и реализации проектов цифровой трансформации.
            p Программа обучение состояла из тематических и общих программ обучения и электронных курсов. Большинство освоенных программ посвящено профессиональному развитию в сфере цифровой трансформации и технологиям, основанными на работе с данными — обучение по ним прошли <mark>64 сотрудника</mark> Минцифры и ГКУ «ЦИТ».
            p Основными площадками для получения новых знаний в 2021 году стали Центр подготовки руководителей цифровой трансформации на базе РАНХиГС и АНО ВО «Университет Иннополис». Процесс обучения в большей части проходил без отрыва от производства с применением дистанционных технологий.

        section.orb__bottom-space-L
          .orb-report-chapter-title.print__new-page-break
            h1#statistics Ключевые цифры, рейтинги<br>и показатели 
          h2.print__new-page-break#statistics1 Характеристика IT-отрасли <br>Оренбургской области
          .orb-report-full-img
            img(src="/images/tmp/orb_report_2021_screen_5.png")
          p.orb__text.orb__text-S <b>Источник:</b> Росстат. Данные об обороте организаций и числе занятых проводятся по состоянию на октябрь указанного года, остальные данные — на 1 января следующего.


        section.orb__bottom-space-L.print__new-page-break
          h2#statistics2 Оренбургская область <br>в рейтингах и показателях
          h4 Финансирование ИТ 
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 61
                p.orb__text место по ИКТ-бюджету среди 85 регионов РФ (по данным ФНС России)
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 72
                p.orb__text место по ИКТ-бюджету на душу населения (174,3 ₽/чел) среди 85 регионов РФ 

          h4 Связь и интернет
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 2
                p.orb__text место среди 85 регионов РФ по обеспечению домохозяйств широкополосным интернетом
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 98%
                p.orb__text населения охвачены цифровым ТВ 

          h4 Госуслуги
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 17,2%
                p.orb__text населения области получают государственные и муниципальные услуги в электронной форме
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 90%
                p.orb__text населения полностью удовлетворены качеством предоставления электронных услуг
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 16
                p.orb__text место среди 85 регионов РФ по использованию населением госуслуг в электронной форме 
          p.orb__text.orb__text-S Источники:<br> <a href="http://rosstat.gov.ru/storage/mediabank/lqv3T0Rk/info-ob2020.pdf">rosstat.gov.ru</a> и <a href="https://www.cnews.ru/news/top/2019-10-23_cnews_opublikoval_rejting_regionov">cnews.ru</a>
        
        
        section.orb__bottom-space-L.print__new-page-break
          .orb-report-chapter-title
            h1#activity Деятельность
          h2.print__new-page-break#digital_economy Национальная программа<br>«Цифровая экономика»
          h3 Программа «Цифровая экономика<br>Оренбургской области»
          .orb__text
            p В Оренбургской области также действует государственная программа «Цифровая экономика Оренбургской области», утвержденная постановлением Правительства Оренбургской области от 29.12.2018 № 917-пп.
            br
            p Ее цель — развить информационное общество региона и создать условия для развития цифровой экономики. Так, основные мероприятия программы направлены на:
            ul 
                li развитие инфраструктуры электронного правительства;
                li формирование информационного общества в Оренбургской области;
                li повышение качества жизни граждан и эффективности государственного управления.      
            p Достичь этих целей планируется за счет использования современных информационно-телекоммуникационных технологий.
            p Программа состоит из двух подпрограмм, одной из которых является «Цифровой регион».  

          section 
            h4 Региональные проекты
            p.orb__text Для достижения целей программы «Цифровая экономика Оренбургской области» в рамках федеральных проектов Минцифрой Оренбургской области реализуется 5 региональных проектов:
            .orb__grid.orb__grid-size-XL.orb__grid-inset-L
              .orb__grid-cell
                .orb-report-fix-height-img
                  img(src="/images/orb-report/gigital_infrastructure.png")
                h5 Информационная инфраструктура 
                p Создание глобальной конкурентоспособной инфраструктуры передачи данных на основе отечественных разработок
              .orb__grid-cell
                .orb-report-fix-height-img
                  img(src="/images/orb-report/digital_managment.png")
                h5 Цифровое государственное управление
                p Внедрение цифровых технологий и платформ в сферы госуправления и оказания госуслуг, в том числе в интересах населения, малого и среднего предпринимательства, включая индивидуальных предпринимателей
              .orb__grid-cell
                .orb-report-fix-height-img
                  img(src="/images/orb-report/digital_security.png")
                h5 Информационная безопасность
                p Создание устойчивой и безопасной инфраструктуры высокоскоростной передачи, обработки и хранения больших объемов данных доступной для всех организаций и домохозяйств
              .orb__grid-cell
                .orb-report-fix-height-img
                  img(src="/images/orb-report/digital_tech.png")
                h5 Цифровые технологии
                p Создание «сквозных» цифровых технологий, преимущественно на основе отечественных разработок
              .orb__grid-cell
                .orb-report-fix-height-img
                  img(src="/images/orb-report/digital_team.png")
                h5  Кадры для цифровой экономики
                p Обеспечение подготовки высококвалифицированных кадров для цифровой экономики

          section.print__new-page-break
            h4 Региональный проект «Информационная инфраструктура»
            .orb__text      
              p Цель — cоздание необходимой телекоммуникационной инфраструктуры для обеспечения широкополосным доступом в интернет социально значимых объектов, а также эффективного и безопасного использования ими онлайн сервисов.
              p Для улучшения качества связи в регионе реализуются:
              ul
                li  программа устранения цифрового неравенства,
                li  государственный контракт «Подключение социально значимых объектов к сети Интернет».
            .orb__grid.orb__grid-size-XL.orb__grid-inset-L
              .orb__grid-cell
                p.orb__text.orb__text-S Доля социально значимых объектов, имеющих широкополосный доступ в интернет, %
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:100%") 100
                    .caption План
                  .info-item
                    .bar(style="width:100%") 100
                    .caption Факт
            
            section
              h5 Государственный контракт<br>«Подключение социально значимых объектов к сети Интернет»
              .orb__text
                p Цель — cоздание глобальной инфраструктуры связи на всей территории Оренбургской области. 
                p Подключение социально значимых объектов к интернету в регионе осуществляется в соответствии с трехлетним федеральным госконтрактом, заключенным между Министерством цифрового развития, связи и массовых коммуникаций Российской Федерации и ПАО «Ростелеком».
                p Контракт предусматривает строительство в Оренбургской области с 2019 по 2021 год 1638 объектов. В 2021 году интернет провели к 699 объектам.
                .orb__bottom-space-S.orb__top-space-S
                  img(src="/images/orb-report/CSO 1.jpg")
                p План на 2021 выполнен на 100%, соответственно все социально значимые объекты в Оренбургской области, предусмотренные госконтрактом, подключены к интернету.
          
            section
              h5 Программа устранения цифрового неравенства<br>федерального проекта «Информационная инфраструктура»
              .orb__text
                p Устранение цифрового неравенства (УЦН) — это программа,  по которой малонаселенные пункты обеспечиваются стабильным доступом в интернет.
                p В 2021 году Минцифры РФ внесло изменения в программу.
                p Обновленная программа охватывает населенные пункты с количеством жителей от 100 до 500 человек — старая версия программы охватывала населенные пункты с количеством жителей от 250 до 500. 
                p Также изменилось содержание работ: вместо точки доступа Wi-Fi в населенных пунктах устанавливается базовая станция стандарта 2G/4G — в результате жители населенного пункта получают стабильную мобильную связь и высокоскоростной мобильный интернет. Точки доступа Wi-Fi, установленные до обновления программы, будут дооборудованы мобильной связью.
                .orb__bottom-space-S.orb__top-space-S
                  img(src="/images/orb-report/UCN.jpg") 
                h6 Реализация:
                p Первый этап программы реализуется в Оренбургской области начиная с 2014 года и завершен во втором квартале 2021 года. Результат —  <mark>331 населенный пункт </mark>  с числом жителей от 250 до 500 человек обеспечен точкой Wi-Fi с доступом в интернет на скорости не менее 10 Мбит/сек.
                p В 3 квартале 2021 года на территории Оренбургской области стартовал второй этап реализации проекта. 
                p По данным переписи 2010 года, в Оренбургской области 723 населенных пунктов, в которых проживает от 100 до 500 человек. В четвертом квартале 2021 года запущены в работу 26 базовых станций — в  <mark>26 населенных пунктах</mark> появилась устойчивая мобильная связь стандарта 2G и 4G. Остальные будут подключены до конца 2030 года.
            
          section.orb__top-space-M.print__new-page-break
            h4 Региональный проект «Цифровое государственное управление»
            .orb__text
              p Цель — предоставить гражданам качественно новый уровень сервиса предоставления социально значимых услуг. В результате граждане смогут получать большинство услуг без заявлений — проактивно или в реестровой модели — ответив на ряд уточняющих вопросов и позволив добавить необходимые документы из базы межведомственного документооборота.
              p Планы — к 2024 году:
              ul
                li реализовать на базе Госуслуг 80 сервисов обеспечения функций органов государственной власти и органов местного самоуправления;
                li достичь оценки в 4,4 балла по пятибалльной шкале от граждан по качеству предоставления массовых социально значимых государственных и муниципальных услуг в электронном виде на Госуслугах;
                li реализовать 50 государственных услуг, предоставляемых органами государственной власти, в реестровой модели или в проактивном режиме с предоставлением результата в электронном виде на Госуслугах;
                li добиться того, что не менее 50% обращений за получением массовых социально значимых государственных и муниципальных услуг будут проходить в электронном виде через Госуслуги без необходимости личного посещения органов государственной власти, органов местного самоуправления и МФЦ;
                li обеспечить выполнение требования по доле расходов на закупку или аренду отечественного программного обеспечения и платформ не менее 80%. 
    
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                p.orb__text.orb__text-S Бюджет проекта на 2021 год
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:100%") 43,8 млн ₽
                    .caption План
                  .info-item
                    .bar(style="width:100%") 43,8 млн ₽
                    .caption Факт

            h5 Достижение ключевых показателей
            .orb__grid.orb__grid-size-XL.orb__grid-inset-L
              .orb__grid-cell
                p.orb__text.orb__text-S Количество сервисов обеспечения функций органов госвласти и ОМСУ, реализованных на базе Госуслуг
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:33,7%") 25
                    .caption План
                  .info-item
                    .bar(style="width:100%") 74
                    .caption Факт
              .orb__grid-cell
                p.orb__text.orb__text-S Количество госуслуг, предоставляемых органами госвласти в реестровой модели и/или проактивно предоставлением результата электронном виде на Госуслугах
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:100%") 10
                    .caption План
                  .info-item
                    .bar(style="width:100%") 10
                    .caption Факт
              .orb__grid-cell
                p.orb__text.orb__text-S Доля МСЗУ в электронном виде, предоставляемых с использованием Госуслуг, от общего количества таких услуг
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:25,7%") 25%
                    .caption План
                  .info-item
                    .bar(style="width:100%") 97,4%
                    .caption Факт

              .orb__grid-cell
                p.orb__text.orb__text-S Доля зарегистрированных пользователей Госуслуг, использовавших сервис, чтобы получить государственные и муниципальные услуги в электронном виде, от общего числа зарегистрированных пользователей Госуслуг
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:33,7%") 25
                    .caption План
                  .info-item
                    .bar(style="width:100%") 74
                    .caption Факт
              .orb__grid-cell
                p.orb__text.orb__text-S Уровень удовлетворенности качеством предоставления МСЗУ в электронном виде с использованием Госуслуг
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:84,4%") 3,8 
                    .caption План
                  .info-item
                    .bar(style="width:100%") 4,5 
                    .caption Факт
              .orb__grid-cell
                p.orb__text.orb__text-S Доля расходов на закупки и/или аренду отечественного ПО и платформ от общих расходов на закупку или аренду ПО
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:26,8%") 25%
                    .caption План
                  .info-item
                    .bar(style="width:100%") 93%
                    .caption Факт
            
              .orb__grid-cell
                p.orb__text.orb__text-S Доля обращений за получением МСЗУ в электронном видечерез Госуслуги, без необходимости личного посещения органов госвласти, ОМСУ и МФЦ, от общего количества таких услуг
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:93,7%") 15%
                    .caption План
                  .info-item
                    .bar(style="width:100%") 16%
                    .caption Факт

          section.print__new-page-break   
            h4 Региональный проект «Информационная безопасность»
            .orb__text
              p Цель — создание устойчивой и безопасной информационно-телекоммуникационной инфраструктуры высокоскоростной передачи, обработки и хранения больших объемов данных, доступной для всех организаций и домохозяйств Оренбургской области.
              p Планы проекта: ежегодная организация профессиональной переподготовки и повышение квалификации по направлениям информационной безопасности.
              p В рамках программы цифровой трансформации региона достигались цели:
              ul 
                li обеспечение срока простоя государственных информационных систем в результате компьютерных атак до 0 часов;
                li доля расходов на закупки и/или аренду отечественного программного обеспечения и платформ от общих расходов на закупку или аренду программного обеспечения не должна быть ниже 75%.
          
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                p.orb__text.orb__text-S Бюджет проекта на 2021 год
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:100%") 35,7 млн ₽
                    .caption План
                  .info-item
                    .bar(style="width:100%") 35,7 млн ₽
                    .caption Факт
              .orb__grid-cell
                p.orb__text.orb__text-S Количество специалистов, прошедших профессиональную переподготовку или повышениеквалификации по направлениям информационной безопасности
                .orb-report-infographics 
                  .info-item
                    .bar.planning(style="width:72,7%") 40 чел
                    .caption План
                  .info-item
                    .bar(style="width:100%") 55 чел
                    .caption Факт

            section         
              h5 Развитие центра обнаружения и реагирования на инциденты<br>информационной безопасности  
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell
                  p Для повышения эффективности системы защиты информации в центре обработки данных и единой информационно-телекоммуникационной сети Правительства Оренбургской области, в 2020 был создан центр обнаружения и реагирования на инциденты информационной безопасности (SOC).
                  p Он предназначен для непрерывного мониторинга событий информационной безопасности, противодействия компьютерным атакам и взаимодействия с ГосСОПКА — государственной системой  обнаружения, предупреждения и ликвидации последствий компьютерных атак на информационные ресурсы. 
                  img.orb__text.orb__top-space-M(src="/images/orb-report/img_sample.png")
                .orb__grid-cell  
                  p Для этого система производит следующие операции:
                  ul
                    li проводит непрерывную инвентаризацию информационных ресурсов;
                    li проводит анализ защищенности и выявляет уязвимости;
                    li анализирует поступающие уведомления системы безопасности, выявляет инциденты и реагирует на них;
                    li проводит многопоточную проверку файлов, поступающих в систему, чтобы предотвратить распространение вредоносного ПО;
                    li взаимодействует с НКЦКИ — направляет в ГосСОПКА информацию об инцидентах;
                    li оценивает систему на соответствие стандартам безопасности.
                  p Деятельность SOC в 2021 году внесла значительный вклад в недопущение простоя государственных информационных систем в результате компьютерных атак. Были выявлены критичные уязвимости в региональных и федеральных информационных системах.
          
            section
              h5 Ключевые события информационной безопасности
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell 
                  p В 2021 году министерство разработало ведомственный проект «Создание и развитие центра мониторинга и реагирования на инциденты информационной безопасности. 2021» — это продолжение одноименной региональной программы до 2024 года. 
                  p Минцифра Оренбургской области пригласила органы исполнительной власти — владельцев государственных информационных систем — подключиться к SOC. По данным на конец 2021 года, к SOC подключено 11 из 16 государственных информационных систем. Полностью подключено около 40% ГИС, остальные подключены частично — работы над подключением продолжаются. 
                  p В результате в SOC поступает информация о более <mark>2,5 тысяч рабочих мест</mark> структуры Правительства области.
                  p Центр кибербезоапсности (SOC) выявил и устранил:
                  ul
                    li уязвимости, позволяющие получить доступ к персональным данным </mark>более 200 000 жителей</mark> Оренбургской области;
                    li уязвимости, позволяющие получить персональные данные <mark>более 50 000 пользователей</mark> одной из федеральных информационных систем.
                  p За год система защиты информации государственных информационных систем Оренбургской области:
                  ul
                    li обработала <mark>более 2,5 млн событий</mark> информационной безопасности в автоматическом и полуавтоматическом режиме;
                    li обеспечила безопасность хранения и передачи персональных данных граждан в 13 государственных информационных системах (ГИС) Минцифры Оренбургской области и в 4 ГИС других органов власти;
                    li зафиксировала 12 инцидентов информационной безопасности, ущерб от которых был вероятен, но не наступил.
                  p Также Минцифра Оренбургской области разработала дорожную карту мероприятия «Единая информационно-телекоммуникационной сеть Правительства Оренбургской области. Обеспечение коммуникации узлов и сегментов криптомаршрутизаторами. 2021 год» (ЕИТКС).
                  p ЕИТКС — это единая защищенная сеть Правительства области, которая включает все органы власти и местного самоуправления, а также их подведомственные учреждения. В сумме это <mark>более 900 крупных сетей</mark> и <mark>около 2000 организаций</mark>. 
                  p В 2021 году в рамках работы над ЕИТКС министерство разработало показатели информационной безопасности органов исполнительной власти и создало информационную панель, на которой отображается уровень информационной безопасности в каждом ОИВ. 
               
                .orb__grid-cell
                  aside
                    h6 Популяризация информационной безопасности:
                    ul
                      li проведено соревнование по кибербезопасности CTF-2021 (Capture the Flag). Приняли участие <mark>29 команд</mark>, <mark>88 человек</mark>;
                      li создана и запущена образовательная платформа для подготовки к CTF — <br><a href="https://ctf-edu.orb.ru">ctf-edu.orb.ru</a>;
                      li в рамках различных конференций и программ для детей старших классов школ проводились лекции по защите информации и безопасности в интернете.
                    p Команда отдела информационной безопасности Минцифры Оренбургской области принимает участие в тематических мероприятиях, форумах и конкурсах. Так, в 2021 команда Минцифры участвовала в:
                    ul
                      li международном форуме по практической безопасности Positive Hack Days г. Москва, в конференции «Технологии информационной безопасности – 2021» г. Самара;
                      li заседании круглого стола по профилактике преступлений, совершаемых с использованием информационно-телекоммуникационных технологий;
                      li практический форум по теме противодействия кибератакам и построения центров мониторинга ИБ. SOC-Форум 2021;
                      li заседании рабочей группы при ФСТЭК России.
                    p Команда специалистов по кибербезопасности Минцифры Оренбургской области приняла участие в крупнейшем международном мероприятии по кибербезопасности — <a href="https://cyberpolygon.com/ru/">Cyber Polygon</a>. По результатам двух этапов испытаний команда Минцифры Оренбургской области заняла <mark>11 место</mark>, обогнав 189 команд со всего мира. 
          
          section.print__new-page-break
            h4 Региональный проект «Цифровые технологии» 
            .orb__text
              p Цель проекта — реализовать комплекс мер по информированию о мерах поддержки технологических решений, продуктов, сервисов и платформенных решений на базе «сквозных» цифровых технологий заинтересованных субъектов МСП и организаций, расположенных на территории Оренбургской области.
              p Задачи:
              ul
                li стимулирование внутреннего спроса на цифровые технологии, путем коммерциализации отечественных исследований и разработок;
                li ускорение технологического развития российских компаний;
                li обеспечение конкурентоспособности отечественных IT-продуктов и решений на глобальном рынке.
              p Финансирование проекта в 2021 году не предусмотрено — мероприятия, реализованные в рамках проекта, не потребовали прямого финансирования со стороны областного бюджета.
          
            section
              h5 Мероприятия проекта
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell 
                  .orb__bottom-space-M
                  h5 Нетворкинг-сессия «Цифровое будущее Оренбуржья:<br>меры поддержки регионального IT-сектора»
                  p.orb__text В мероприятии участвовали представители Правительства Оренбургской области, Республики Башкортостан, Самарской и Тюменской областей налоговой службы, АНО «Агентство стратегических инициатив», бизнеса. Участники рассмотрели действующие меры поддержки IT-сектора.
              
                  .orb__bottom-space-M
                  h5 Опрос регионального IT-сообщества
                  .orb__text 
                  p ИТ-компании региона ответили на вопросы о необходимых мерах государственной поддержки и трудностях, с которыми они сталкиваются в своей деятельности.
                  p Результатом опроса стал список наиболее востребованных и ожидаемых IT-компаниями Оренбургской области мер поддержки:
                  ul 
                    li содействие в подготовке кадров (29 %);
                    li налоговые льготы (21 %);
                    li создание технопарка (20 %);
                    li грантовая поддержка (14 % опрошенных).
                
                  .orb__bottom-space-M
                  h5 Стратегическая сессия «Цифровая прокачка региона. Оренбургская область» 
                  p.orb__text Рабочие группы совместно с экспертами разработали дорожные карты цифровизации ключевых отраслей региона: образование, транспорт, городская среда и сельское хозяйство.
                
                
                
                .orb__grid-cell 
                  .orb__bottom-space-M
                  h5 Проектная сессия «Развитие IT-отрасли в Оренбургской области»
                  p.orb__text В мероприятии приняли участие представители IT-компаний, руководители учебных заведений, преподаватели информатики, студенты цифровых направлений. В ходе открытого обсуждения участники выявили проблемные вопросы и наметили направления развития отрасли для устранения этих проблем.
                
                  .orb__bottom-space-M
                  h5 День программиста
                  p.orb__text На мероприятии, посвященном дню программиста, министр цифрового развития и связи Оренбургской области вручил благодарственные письма IT-специалистам промышленных предприятий, IT-компаний, органов местного самоуправления.
              
                  .orb__bottom-space-M
                  h5 Встреча с IT-предпринимателями
                  p.orb__text Мероприятие прошло в рамках защиты проектов, разработанных во время первого межрегионального хакатона. Руководители региональных IT-компаний ознакомились с защитой команд и в дальнейшем пригласили отличившихся участников на стажировку, практику или трудоустройство.
              
                  .orb__bottom-space-M
                  h5 Стратегическая сессия «Развитие региональной инновационной<br>экосистемы Оренбургской области»
                  .orb__text  
                  p Мероприятие организовала Минцифра Оренбургской области совместно с командой развития инноваций «YellowRockets». 
                  p На стратегической сессии присутствовали руководители цифровой трансформации региона, представители инновационной инфраструктуры, инфраструктуры поддержки предпринимательства, организации спо и вузы, бизнес-сообщества в сфере IT: лидеры мнений и активные участники, заинтересованные в развитии инновационной экосистемы региона.
                  p Участники сессии выявили проблемы развития региональной инновационной экосистемы, разработали проект дорожной карты по их решению, в том числе сформулировали конкретные действия по проведению акселерационных программ для технологических предпринимателей и созданию недостающих объектов инновационной инфраструктуры.
              
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-M
                .orb__grid-cell
                  p.orb__text.orb__text-S Количество компаний и физических лиц, разрабатывающих или внедряющих отечественное ПО, сервисы и платформенные решения на базе сквозных цифровых технологий для участия в конкурсах на получение грантов из средств федерального бюджета или региональных мер поддержки, которые получили консультации и информационное сопровождение Минцифры Оренбургской области
                    .orb-report-infographics 
                      .info-item
                        .bar.planning(style="width:73%") 53 шт.
                        .caption План
                      .info-item
                        .bar(style="width:100%") 72 шт.
                        .caption Факт
            aside
              h5 Дополнительно
              ul.orb__text
                li Специалисты Проектного офиса проводят консультации и информационное сопровождение компаний, разрабатывающих или внедряющих отечественное ПО, сервисы и платформенные решения на базе цифровых технологий. При поддержке Минцифры компании участвуют в конкурсных отборах на получение государственной поддержки в форме грантов из средств федерального бюджета.
                li Минцифра Оренбургской области поддерживает рекомендательными письмами проекты, заявляющиеся на грантовые конкурсы. В 2021 году поддержано 4 проекта. 
                li На постоянной основе проводится информационная кампания о действующих конкурсных отборах на получение государственной поддержки из средств федерального бюджета в СМИ Оренбургской области.
                li Открыта региональная площадка конкурса «Цифровой прорыв» для проведения в 2021 году межрегионального этапа конкурса. 
                li Определен формат участия региона в премии «Цифровые вершины». Поданы три заявки от региональных IT-компаний: ООО «ГлобалМониторинг», ООО «Вотум Центр» и ГКУ «ЦИТ».
                         
          section.print__new-page-break
            h4 Региональный проект «Кадры для цифровой экономики» 
            .orb__text
              p <b>Цель</b> — обеспечить доступность для населения обучения по программам дополнительного образования для получения новых и востребованных на рынке труда цифровых компетенций.
              br
              p <b>Задача</b> — выстроить преемственную на всех уровнях систему образования, включающую: 
              ul 
                li выявление и поддержку талантов в областях математики и информатики;
                li подготовку высококвалифицированных кадров, отвечающих новым требованиям к ключевым компетенциям цифровой экономики;
                li реализацию программ переподготовки по востребованным профессиям в условиях цифровой экономики, а также перспективных образовательных проектов.
              br
              p В рамках мероприятий проекта:
              ul 
                li Реализовано более <mark>15 образовательных программ</mark>, позволивших жителями Оренбургской области освоить ключевые компетенции цифровой экономики.
                li <mark>5 должностных лиц</mark>, ответственных за цифровизацию в региональных органах власти, повысили компетенции по вопросам обеспечения работы проектов цифрового развития, работы с данными, работы с государственными информационными системами и цифровыми платформами, цифровой трансформации государственного управления, в том числе процессов предоставления государственных услуг.
                li Продолжается реализация на территории Оренбургской области проектов «Лицей Академия Яндекса», «Яндекс.Учебник», «Я Учитель» и внедрение курсов от «Яндекс.Практикум» по анализу данных на базе ФГБОУ ВО «Оренбургский государственный университет».
                li Реализована государственная программа дополнительного образования в сфере цифровой экономики при условиях 50% софинансирования от государства. <mark>439 оренбуржцев</mark> подали заявки на программы переподготовки и завершат обучение в 2022 году.
                li Состоялся первый выпуск «Лицей Академии Яндекс» — двухлетнюю программу завершили <mark>33 выпускника</mark>. Проект реализуется на пяти площадках г.Оренбурга, г. Орска и г. Новотроицка. В нем участвуют 118 учащихся первого курса и 43 — второго.
                li Продолжается апробация курса «Яндекс.Информатика» — сервиса «Яндекс.Учебник» для учеников 7-8 классов. В проекте участвуют <mark>1&thinsp;416 школьников</mark> из 70 школ Оренбургской области.
                li Продолжается участие в проекте «Урок цифры». За год в образовательных мероприятиях приняли участие <mark>447&thinsp;411 учеников</mark> 1-11 классов.
                li Оренбургская область стала участником пилотного запуска проекта «Программирование для школьников». Участие в проекте позволит школьникам региона старше 14 лет освоить современные языки программирования — обучение пройдет в 2022 году. От оренбургской области одобрено 778 заявок.       
            section.print__new-page-break 
              h4.print__visible Региональный проект «Кадры для цифровой экономики» 
                .orb__text-S (продолжение)
              h5 Достижение ключевых показателей
              .orb__grid.orb__grid-size-XL.orb__grid-inset-L
                .orb__grid-cell
                  p.orb__text.orb__text-S Количество государственных (муниципальных) служащих и работников учреждений, прошедших обучение компетенциям в сфере цифровой трансформации государственного и муниципального управления,<br>человек
                  .orb-report-infographics 
                    .info-item
                      .bar.planning(style="width:35%") 142
                      .caption План
                    .info-item
                      .bar(style="width:70%") 293
                      .caption Факт
                .orb__grid-cell 
                  p.orb__text.orb__text-S Количество специалистов, освоивших цифровые компетенции по программам повышения квалификации,<br>человек
                  .orb-report-infographics 
                    .info-item
                      .bar.planning(style="width:70%") 116
                      .caption План
                    .info-item
                      .bar(style="width:70%") 116
                      .caption Факт
                .orb__grid-cell 
                  p.orb__text.orb__text-S Количество учащихся, охваченных мероприятиями профориентации,<br>человек
                  .orb-report-infographics 
                    .info-item
                      .bar.planning(style="width:25%;") 131&thinsp;550
                      .caption План
                    .info-item
                      .bar(style="width:70%") 448&thinsp;988
                      .caption Факт
              p.orb__text-S Значения плановых показателей по состоянию на 01.12.2021
            
        section.orb__bottom-space-L.print__new-page-break
          h2 Связь и телекоммуникации
          .orb__text
            p Обеспечение повсеместной доступности современных услуг связи — одно из важнейших направлений стратегии развития региона. 
            p В регионе создана транспортная сеть телекоммуникационной инфраструктуры. Она состоит из волоконно-оптических линий связи общей протяженностью более 20 тыс. километров, не считая внутригородских и внутрипоселковых сетей.
          
          section
            h4 Участники сферы связи и коммуникаций<br>на территории Оренбургской области
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 560
                p.orb__text предприятий с лицензиями на предоставление услуг связи
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 48
                p.orb__text интернет-провайдеров
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 52
                p.orb__text операторов местной проводной связи
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 11
                p.orb__text операторов мобильной связи (с учетом виртуальных)

            .orb__text
              p На скорость организации повсеместных сетей связи влияют особенности региона, а именно:
              ul
                li большая протяженность области;
                li приграничные зоны и действующие в них ограничения по прокладке кабельных линий ВОЛС;
                li разветвленная транспортная сеть;
                li большое количество малонаселённых пунктов, расположенных на большом расстоянии друг от друга;
                li сложный рельеф местности в части территорий — наличие лесистых и гористых местностей.
          
          section.print__new-page-break
            h4 Телефонная связь 
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                img(src="/images/orb-report/tel svaz.png")
              .orb__grid-cell
                p Начиная с 2016 года в Оренбургской области происходит сокращение устройств фиксированной связи и увеличение доли сотовой связи. 
                p К причинам сокращения количества телефонных аппаратов фиксированной связи относятся:
                  ul 
                    li распространение качественной мобильной связи, которая охватывает <mark>93,9% Оренбургской области</mark>;
                    li масштабное развертывание сетей связи стандарта 4G (LTE); 
                    li cнижение стоимости услуг мобильной связи;
                    li увеличение стоимости организации фиксированной телефонной связи,что делает эту услугу все более невыгодной.
          section
            h4 Мобильная связь
            .orb__text
              p Мобильная связь остается приоритетным видом связи — 60% предоставляемых телекоммуникационных услуг приходится на долю мобильной связи и мобильного интернета.
              p За последние пять  лет зона покрытия Оренбургской области мобильной голосовой связью увеличилась с 75% до 93,9%. 98,5% населения имеют доступ к стабильной мобильной связи.
              p На территории области услуги мобильной связи предоставляют ПАО «Вымпелком», ПАО «Мегафон», ПАО «МТС» и ООО «Т2 Мобайл».
              p В 2021 году операторы мобильной связи увеличивали территорию покрытия мобильным интернетом — сетей стандарта 4G (LTE). За год операторы модернизировали  <mark>935 базовых станций</mark>. Построили и запустили в эксплуатацию  <mark>282 новых базовых станций</mark> сотовой связи, из них 70 в малых населенных пунктах, в которых проживает до 1 000 человек.
              p Зона покрытия мобильной связью:
            
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                img(src="/images/orb-report/zona pokritiya mobil.jpg")

          section.print__new-page-break
            h4 Интернет
            p.orb__text По данным Росстата за 2020 год, Оренбургская область занимает  <mark>2 место</mark> в ПФО по проникновению широкополосного доступа к интернету в домохозяйствах. 
            
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 95%
                p.orb__text жилых территорий находятся в зоне покрытия интернетом
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 48
                p.orb__text интернет-провайдеров
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 72
                p.orb__text узла связи построено в 2021 году «с нуля»
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 11
                p.orb__text операторов мобильной связи (интернета)
          
          section
            h4 ТВ и радио
            .orb__text
              p С 2019 года в Российской Федерации телевещание ведется в цифровом стандарте. Все жители Оренбургской области имеют бесплатный доступ к 20 обязательным общедоступным телевизионным каналам.
              p Вещание 20 бесплатных обязательных общедоступных телевизионных каналов обеспечивает ФГУП «РТРС». Вставки программ ГТРК «Оренбург» и АО «ТВЦ «Планета» смотрят 98% жителей области. 
           
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 38
                p.orb__text радио передатчиков ФГУП «РТРС» переведены в FM-диапазон
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 98%
                p.orb__text населенных пунктов охвачены цифровым телевидением
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 5 398
                p.orb__text радиоточек проводного вещания действует на территории области
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 206
                p.orb__text цифровых эфирных телевизионных передатчиков действует на территории области
            .orb__text    
              p С 2018 года 99% населения имеют доступ к хотя бы 1 радиоканалу. 96% населения области могут слушать 3 радиоканала: «Радио России», «Маяк» и «Вести FM». 
              p Также во всех районах Оренбургской области осуществляется вещание коммерческих радиоканалов FM диапазона.
            
                
        section.orb__bottom-space-L.print__new-page-break
          .orb-report-picture-heading
            img(src="/images/orb-report/e-government.jpg")
            .bg
              h1 Электронное правительство
          
          section.orb__bottom-space-L.print__new-page-break
            p На территории Оренбургской области функционирует инфраструктура электронного правительства. Она включает в себя информационные системы и сервисы, направленные на обеспечение взаимодействия граждан и организаций с государством, а также различных органов власти между собой.
            p Среди них:
              ul
                li Портал государственных услуг — <a href="http://gosuslugi.ru">gosuslugi.ru</a>;
                li Региональная система межведомственного электронного взаимодействия;
                li Государственная информационная система оказания услуг в многофункциональных центрах области;
                li Система электронного документооборота органов исполнительной власти и органов местного самоуправления;
                li Ведомственные государственные информационные системы органов власти Оренбургской области;
                li Центр обработки данных Правительства Оренбургской области;
                li Единая информационно-телекоммуникационная сеть.
            
          section.orb__top-space-L.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/portal gosuslugi.jpg")
              .bg
                h2 Портал госуслуг
            
            section.orb__top-space-M.print__new-page-break
              p Оренбургская область не создает региональный портал государственных услуг. Вместо этого все региональные и муниципальные услуги и сервисы выводятся на федеральный портал. Так граждане получают доступ ко всем электронным государственным услугам на одной платформе — вне зависимости, органами какого уровня они предоставляются.       
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                  span.number 16 
                  p.orb__text место из 85 среди субъектов РФ занимает регион по количеству принятых заявлений на оказание услуг органов исполнительной власти и органов местного самоуправления области
                .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                  span.number 2,2 млн
                  p.orb__text заявлений на получение всех видов услуг, включая федеральные, подано на портале Госуслуг за 2021 год 
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                  span.number 162
                  p.orb__text из 247 госуслуг, оказываемых органами исполнительной власти, органов местного самоуправления и подведомственных учреждений переведены в электронный вид
                .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                  span.number 97%
                  p.orb__text жителей Оренбургской области в возрасте старше 14 лет зарегистрированы на портале Госуслуг
            
            h3 Популярные услуги
            section.orb__top-space-M.print__new-page-break
              h4 Топ-3 популярных услуг:
                .orb-report-report-50-percent-width-illustration
                  img(src="/images/orb-report/stat top 3 gosuslugi.jpg")
              section.orb__top-space-L.print__new-page-break
                h4 Детализация по типам и сумме платежей:
                  .orb-report-report-50-percent-width-illustration
                    img(src="/images/orb-report/stat tip plategey.jpg")
              section.orb__top-space-L.print__new-page-break
            h3 Портрет посетителя
            section.orb__top-space-M.print__new-page-break
              h4 Возраст и пол посетителей
                .orb-report-report-50-percent-width-illustration
                  img(src="/images/orb-report/stat vosrast posetiteley.jpg")
            section.orb__top-space-L.print__new-page-break
              h4 Типы устройств
                .orb-report-report-50-percent-width-illustration
                  img(src="/images/orb-report/stat tip ustroystv.jpg")
              h4 Детализация по типам и сумме платежей:
            .orb-report-report-50-percent-width-illustration
            img(src="/images/orb-report/stat tip plategey.jpg")
          section.orb__top-space-L.print__new-page-break  
            h2 Единая система межведомственного электронного взаимодействия
          section.orb__top-space-M.print__new-page-break
          p Единая система межведомственного электронного взаимодействия (СМЭВ)  — государственная информационная система, предназначенная для организации информационного взаимодействия между информационными системами федеральных органов исполнительной власти, государственных внебюджетных фондов, исполнительных органов государственной власти субъектов РФ, органов местного самоуправления, государственных и муниципальных учреждений, многофункциональных центров, а также иных органов и организаций.
          p Цель СМЭВ — повышение качества предоставления государственных и муниципальных услуг и исполнения государственных и муниципальных функций за счет использования общих информационных ресурсов, уменьшения времени на поиск и обработку информации в электронной форме.
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
            .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
              span.number 28 
              p.orb__text место среди 85 регионов РФ занимает Оренбургская область по количеству направленных межведомственных запросов через СМЭВ версии 2
            .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
              span.number 40
              p.orb__text место среди 85 регионов РФ занимает Оренбургская область по количеству направленных межведомственных запросов через СМЭВ версии 3.хх 
          .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
            .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
              span.number 77
              p.orb__text информационных систем органов исполнительной власти и местного самоуправления Оренбургской области подключено к СМЭВ 
            .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
              span.number 108,8 млн
              p.orb__text документов (сведений) направленно через СМЭВ за 2021 год
            section.orb__top-space-S.print__new-page-break
              p В Оренбургской области используется СМЭВ версии 2.х. 
              p С 2019 года регион приступил к переходу на новую версию — СМЭВ 3.х. Преимущество СМЭВ 3.х перед версией второго поколения — возможность асинхронного взаимодействия. Благодаря этому сообщения гарантированно доходят до адресатов, хранятся дольше — до 15 дней, могут занимать до 1ГБ.
              p В планах в течение 2022 года полностью перевести регион на работу в СМЭВ 3.х.
            section.orb__top-space-S.print__new-page-break
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb-report-report-50-percent-width-illustration
                  img(src="/images/orb-report/SMEV.jpg")
                .orb-report-report-50-percent-width-illustration
                  img(src="/images/orb-report/SMEV 2.jpg")
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb-report-report-50-percent-width-illustration
                  img(src="/images/orb-report/SMEV 3.jpg")
                .orb-report-report-50-percent-width-illustration
                  img(src="/images/orb-report/SMEV 4.jpg")
          section.orb__top-space-L.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/MFC.jpg")
              .bg
                h2 Информационная система МФЦ
          section.orb__top-space-S.print__new-page-break
          p В 43 многофункциональных центрах и 360 обособленных подразделениях внедрены: 
            ul 
              li единая государственная информационная система многофункциональных центров Оренбургской области — ИС «МФЦ»;
              li информационная система Росреестра ПК ПВД;
              li система электронной очереди. 
          p Системы обеспечивают прием и обработку заявлений граждан на оказание государственных услуг. 
          p Минцифра Оренбургской области определена государственным заказчиком на создание и доработку ИС «МФЦ». ГКУ «ЦИТ» выполняет функции оператора системы
            section.orb__top-space-M.print__new-page-break
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                  span.number 1 716 
                  p.orb__text операторов МФЦ работает в ИС «МФЦ»
                .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                  span.number 1,2 млн
                  p.orb__text заявлений подано в МФЦ за 2021 год
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                  span.number 233,8 млн ₽
                  p.orb__text госпошлины оплачено через МФЦ
              .orb-report-report-50-percent-width-illustration
                  img(src="/images/orb-report/MFC diagram.jpg")
          section.orb__top-space-L.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/SED cover.jpg")
              .bg
                h2 Система электронного документооборота
          section.orb__top-space-S.print__new-page-break
            p Система электронного документооборота Оренбургской области (СЭД) — государственная информационная система, предназначенная для обмена корреспонденцией в электронном виде между федеральными, региональными и муниципальными органами власти, Законодательным Собранием и различными учреждениями. 
            p Система построена полностью на отечественном программном обеспечении, с применением технологии тонкого клиента, и адаптирована под мобильные устройства. 
            p Министерство определено государственным заказчиком системы. ГКУ «ЦИТ» — оператор системы, на базе которого создана служба технической поддержки.
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 14 140 
                p.orb__text пользователей СЭД
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 458
                p.orb__text участников СЭД (общее количество органов власти и учреждений) 
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number >1,3 млн
                p.orb__text документов создано за 2021 год 
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 55,7 тыс.
                p.orb__text обращений граждан обработано в 2021 году
            section.orb__top-space-S.print__new-page-break
          section.orb__top-space-L.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/SED cover.jpg")
              .bg
                h2 Автоматизация контрольно-надзорной деятельности
          section.orb__top-space-S.print__new-page-break
            p В 2021 году в регионе настроена и внедрена в повседневную  деятельность органов власти государственная информационная система «Типовое облачное решение по автоматизации контрольной (надзорной) деятельности» (ГИС ТОР КНД) 
            p В рамках федеральной субсидии для проведения контрольно-надзорных мероприятий приобретены планшеты, которые оснащены:
            ul
              li средства криптографической защиты информации;
              li настроенным мобильным приложением «Инспектор»;
              li цифровыми контрольными листами, по которым вносимые данные передаются в ГИС ТОР КНД. 
            p Кроме того, для оснащения АРМ инспекторов КНО приобретены стационарные компьютеры и «тонкие клиенты», созданные на базе отечественного программного и аппаратного обеспечения. 
            p На базе архива Оренбургского района реализован пилотный проект по использованию системы промышленного интернета вещей (IoT) с целью цифровизации сбора данных и их последующей передачи в ГИС ТОР КНД.
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 11 ОИВ 
                p.orb__text ведут контрольно-надзорную деятельности в ГИС ТОР КНД по 15 видам контроля
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 94%
                p.orb__text проверок 11 контрольно-надзорных органов области в декабре 2021 г. направлены в прокуратуру электронно с использованием ГИС ТОР КНД 
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 150
                p.orb__text личных кабинетов ОИВ и ОМСУ настроены в ГИС ТОР КНД для работы с подсистемой досудебного обжалования  
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 50
                p.orb__text инспекторов ОИВ обеспечены планшетами,  оснащенными СКЗИ и настроенным мобильным приложением «Инспектор»
            section.orb__top-space-M.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/COD cover.jpg")
              .bg
                h2 Центр обработки данных Оренбургской области
            section.orb__top-space-S.print__new-page-break
            p Центр обработки данных (ЦОД) — это технологически и территориально обособленные серверные комплексы, включая рабочие станции, предназначенные для обслуживающего персонала, и технологическое оборудование (инженерные системы), обеспечивающие функционирование серверов: стойки, система гарантированного и бесперебойного питания, система кондиционирования и вентиляции, система пожарной безопасности, коммутационное оборудование, кабельные системы и т.д.
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 471 
                p.orb__text виртуальных машин 
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 8
                p.orb__text серверных стоек
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 2,6 тыс.
                p.orb__text виртуальных процессорных ядер вычислительных ресурсов ЦОД
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 500 
                p.orb__text суммарное количество сетевых интерфейсов серверов в ЦОД
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 2,06 ПБ  
                p.orb__text уммарная емкость систем хранения данных на шпиндельных дисках (HDD) 
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 76 ТБ 
                p.orb__text cуммарная емкость систем хранения данных на флеш-дисках (SSD)
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 105
                p.orb__text систем расположены в ЦОД Правительства Оренбургской области
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 14,6 ТБ 
                p.orb__text суммарный объем оперативной  памяти вычислительных ресурсов ЦОД
            p В 2020 году в рамках создания инженерной инфраструктуры центра обработки данных Правительства Оренбургской области (РЦОД) производились работы по подбору площадок под строительство и размещение инженерно-технических сооружений РЦОД. Был произведен перерасчет затрат с учетом изменения цен и принятия дополнительных новых ГОСТов.
            p При подборе площадок, помимо создания РЦОД за счет средств областного бюджета, рассматривались также варианты совместного строительства с федеральными органами исполнительной власти и крупными коммерческими организациями на условиях государственно-частного партнерства. Но климатические и географические особенности нашей области не позволили пока найти точки соприкосновения с данными организациями. 
            p С учетом полученного опыта работы будут продолжены в 2021 году.
            section.orb__top-space-M.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/EITKC.jpg")
              .bg
                h2 Единая информационно-телекоммуникационная сеть
            section.orb__top-space-S.print__new-page-break
            p Доступ к информационным ресурсам и государственным информационным системам осуществляется через единую информационно-телекоммуникационную сеть Правительства Оренбургской области (ЕИТКС).
            p Пользователями ЕИТКС являются все органы исполнительной власти, органы местного самоуправления муниципальных образований Оренбургской области, подведомственные им учреждения, а также автоматизированные рабочие места сотрудников.
            p ЕИТКС предназначена для:
            ul
              li информационного взаимодействия пользователей;
              li хранения, обмена и использования информации в электронном виде;
              li взаимодействия информационных систем;
              li предоставления пользователям доступа к информационным системам, размещенным в ЦОД;
              li предоставления организациям и населению доступа к информационным системам Оренбургской области в соответствии с законодательством РФ.
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 888 узлов 
                p.orb__text связи включает ЕИТКС 
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 6,8 тыс. 
                p.orb__text пользователей объединены ЕИТКС
            section.orb__top-space-M.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/EITKC.jpg")
              .bg
                h2 Обеспечение деятельности органов государственной власти Оренбургской области 
            section.orb__top-space-S.print__new-page-break
            p С целью повышения эффективности системы государственного управления Минцифра осуществляет техническую поддержку органов исполнительной власти и органов местного самоуправления региона на основе использования информационных технологий и реализации мероприятий по централизованной обработке информации, ее безопасному хранению, оперативному доступу к информационным ресурсам и сервисам, в том числе и при оказании государственных услуг в электронном виде.
            section         
              h5 В 2020 году по ЕИТКС:
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell
                  p Осуществлена эксплуатация и техническая поддержка  <b>более 888 координаторов</b> и  <b>более 6,8 тыс. клиентов</b>
                  p Запущен сервис web application firewall (WAF)   
                  p Подписано <b>421 новых соглашений</b> на подключение к ЕИТКС 
                  p Подключено к ресурсам ЕИТКС через OpenVPN <b>791 учетных записей</b> 
                  p Удостоверяющим центром выдано 
                  p <b>1,2 тыс. сертификатов ключей</b> подписей
                .orb__grid-cell  
                  p Выполнено:
                  p <mark>Более 45 настроек</mark> программно-аппаратных комплексов ViPNet HW     
                  p <mark>Более 1185 установок</mark> средств криптографической защиты информации 
                  p <mark>Более 3,8 тыс. заявок</mark> по технической поддержке пользователей защищенной сети  
            p <b>Дополнительно организовано межсетевое взаимодействие:</b>
            ul
              li между сетью Правительства Оренбургской области и сетью Федеральной службы по труду и занятости для подключения к ИАС ОБВ «Работа в России»
              li между сетью Правительства Оренбургской области и сетью ФГБУ «РЭА» Минэнерго
              li между сетью Правительства Оренбургской области и сетью НЦКИ
            section.orb__top-space-M.print__new-page-break
            aside  
              .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell
                  p Проведено <b>291 оперативное совещание</b> с использованием сервисов правительственной видеоконференцсвязи через ЕИТКС общей продолжительностью <b>230 часов</b>                                 
                  p Обслуживается <b>12 мобильных клиентов</b> системы видеоконференцсвязи
                .orb__grid-cell  
                  p Эксплуатируется <b>6 сервисов облачных видеоконференций</b> (общедоступные и закрытого типа)
                  p Эксплуатируется <b>3 зала видеоконференцсвязи</b>:  министерства здравоохранения и министерства социального развития Оренбургской области, Главного управления МЧС России
            
            section.orb__top-space-L.print__new-page-break
            h2 Специальные программы и проекты
            .orb__top-space-M.print__new-page-break
            
            section.orb__top-space-M.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/portal gosuslugi.jpg")
              .bg
                h2 Цифровизация социальной сферы 
            .orb__top-space-M.print__new-page-break
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
                .orb__grid-cell
            h3 Цифровизация образования
            h4 АИС «Цифровое образование Оренбуржья»
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                p Система автоматизирует деятельность по предоставлению услуг в сфере дошкольного, начального, общего и среднего специального образования.
                p АИС «Цифровое образование Оренбургской области»» подключено к 2-ум концентраторным услугам:
                ul
                  li «Запись в дошкольную организацию (детский сад)» - <mark>11 126 заявок</mark> принято.
                  li «Запись на обучение по образовательным программам среднего профессионального образования» - <mark>563 заявки</mark> принято.
                p Также через подсистему <b>«Навигатор дополнительного образования детей в Оренбургской области»</b> осуществляется запись на программы дополнительного образования – зачислено <mark>279 337 детей</mark>.
              .orb__grid-cell                
                p <b>Мобильное приложение «Цифровое образование Оренбуржья»</b> содержит в себе электронный журнал успеваемости и электронных дневник школьника.
                p Реализация дополнительного модуля отчетности в АИС «Цифровое образование Оренбургской области» позволила оцифровать <mark>более 200 листов отчётности</mark>, формируемой образовательными организациями.
                p Через модуль «Премия Губернатора Оренбургской области в сфере науки и техники» в АИС «Цифровое образование Оренбургской области» было подано <mark>75 заявок</mark> на участие в конкурсе.
                p К суперсевису «Поступление в ВУЗ онлайн» подключены <mark>7 ВУЗов</mark> Оренбургской области и ведут прием документов в электронном виде через портал Госуслуг.
            
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 12 421 176 
                p.orb__text Обращений к электронному дневнику 
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 10 515 
                p.orb__text заявлений подано на предоставление доступа к электронному дневнику
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 8 593 
                p.orb__text ответов о текущей успеваемости учащегося предоставлено через единый портал Госуслуг
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 23 778 
                p.orb__text количество учителей
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 17 432 
                p.orb__text количество электронных журналов
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 239 676 
                p.orb__text количество обучающихся
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 17 432 
                p.orb__text количество электронных журналов
              .orb__grid-cell.orb__right-inner-space-M.orb-report-factoid
                span.number 509 
                p.orb__text образовательных организаций, использующих электронные журналы в АИС «Цифровое образование Оренбуржья»
            
            .orb__top-space-M.print__new-page-break
            h3 Цифровизация здравоохранения
            p Разработана дорожная карта по внедрению на территории Оренбургской области QR-кодов, подтверждающих вакцинацию лиц от COVID-19. Подготовлены необходимые информационные материалы о порядке их использования. Материалы направлены в адрес РОИВ, ОМСУ и размещены на информационных ресурсах Правительства.
            
            .orb__top-space-M.print__new-page-break
            h3 Сервисы сферы физической культуры и спорта
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                p <b>АИС «Мой спорт»</b>
                p Cистема предназначена для автоматизации процесса спортивной подготовки. Используется тренерами, родителями и спортсменами как в рамках тренировочного процесса, так и для оперативного анализа индивидуальных спортивных показателей.
                p В 2021 году подключено <mark>16 спортивных организаций</mark>, <mark>232 сотрудников и тренеров</mark>, <mark>6 482 спортсменов</mark> и <mark>2 995 родителей</mark> (законных представителей).
              .orb__grid-cell
                p <b>ГИС «Единая цифровая платформа «Физическая культура и спорт»</b>
                p Система предназначена для реализации сервисов оказания услуг населению и организации физической культуры и спорта, в том числе, запись в организации спортивной подготовки, присвоение спортивных разрядов и званий, планирование спортивных мероприятий, сбор статистической отчётности физкультурно-спортивной сферы.
                p Оренбургская область вошла в 13 пилотных регионов, приступивших в 2021 году к опытной эксплуатации системы, которая уже содержит 6 подсистем, автоматизирующих процесс спортивной подготовки.
            
            .orb__top-space-M.print__new-page-break            
            h3 Социальная поддержка
            p В целях реализации программы поддержки и повышения качества жизни граждан старшего поколения в ГАИС «ЭСРН» реализована подсистема долговременного ухода.  Целевая группа -  около 22 тысяч маломобильных или немобильных больных в Оренбургской области.
            p Для апробации новых технологий в области определено 4 пилотных учреждения. С октября 2021 года к ним прибавилось еще три.
            p В результате разработан межведомственный реестр получателей и участников долговременного ухода, с возможностью автоматического наполнения и ведения реестра.
            
            .orb__top-space-M.print__new-page-break            
            h3 Типовое автоматизированное рабочее место госслужащего
            p Для достижения показателя импортозамещения Регионального проекта «Цифровое государственное управление» проведено тестирование отечественных программного и аппаратного обеспечения. Протестированы 5 дистрибутивов ОС, прикладное ПО, платформа виртуализации, а также аппаратные платформы на основе процессоров Байкал и Эльбрус.
            
            section.orb__top-space-M.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/UCO.jpg")
              .bg
                h2 Универсальная карта жителя Оренбургской области
            .orb__top-space-L.print__new-page-break
            p Универсальная карта жителя Оренбургской области — инструмент, объединяющий функционал банковской карты и нефинансовых инструментов в сфере здравоохранения, оказания социальных и транспортных услуг и т.д.
            section.orb__top-space-M.print__new-page-break
            .orb-report-picture-heading
              img(src="/images/orb-report/AG_cover.png")
              .bg
                h2 «Активный гражданин» Оренбургской области
            .orb__top-space-M.print__new-page-break
            p Государственная информационная система «Активный гражданин» — портал для связи граждан с властью. С его помощью жители региона  участвуют в решении вопросов городского развития, рассказывают о проблемах в области и оценивают качество проведенных работ.
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                p <b>Функционал платформы:</b>
                ul
                  li участие в решении вопросов территориального развития;
                  li отправка сообщений о проблемах в области и оценка качества проведенных работ;
                  li представление проблем на интерактивной карте;
                  li публикация итогов работы Правительства;
                  li публикация новостей о мероприятиях, проводимых на территории Оренбургской области, новостей, связанных с работой портала.
              .orb__grid-cell
                p <b>Польза для граждан:</b>
                ul
                  li ускоренный срок рассмотрения сообщений (до 10 рабочих дней);
                  li упрощенная процедура опровержения гражданином ответа органа власти;
                  li возможность гражданина дать оценку качеству устранения проблемы или качеству ответа органа власти;
                  li возможность высказать свое мнение по различным вопросам путем участия в опросах/ голосованиях;
                  li информативность о деятельности органов власти региона.
            .orb__top-space-S.print__new-page-break
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-S
              .orb__grid-cell
                p <b>Достигнутые показатели</b>
                ul
                 li зарегистрировано <mark>55 700 пользователей</mark>;
                 li подписано <mark>83 заявления</mark> о присоединении к Соглашению об использовании АГ;
                 li открыты <mark>82 проблемные темы</mark> для подачи сообщений;
                 li поступило <mark>2 800 сообщений</mark> от жителей региона;
                 li опубликовано <mark>32 опроса/ голосования</mark> 19-ю органами/ организациями;
                 li в опросах/ голосованиях приняли участие <mark>46 600 пользователей</mark>;
                 li размещены Итоги работы Правительства Оренбургской области за 2019 и 2020 годы;
                 li опубликовано <mark>33 новости</mark>.   
                  
              .orb__grid-cell
               aside 
                p <b>Достижения - 2021</b>
                p <mark>Победа в номинации «Народное признание»</mark> Всероссийского конкурса ПРОФ-IT.2021 (номинантами 2021 являлись 48 проектов из 23 регионов)
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-S
              .orb__grid-cell
               img(src="/images/orb-report/AG_stat.png")
              .orb__grid-cell
               img(src="/images/orb-report/AG_OMSU.png")
            section.orb__top-space-M.print__new-page-break
             h3 АПК «Безопасный город»
             p АПК «Безопасный город» используется для улучшения безопасности среды пребывания людей, а также общественной безопасности, благодаря использованию инновационных информационных систем, которые проводят мониторинг, прогнозируют и в случае возникновения возможных угроз, предупреждают население.
             p <b>Задача</b>
             p Прогнозирование угроз, отслеживание возникших чрезвычайных ситуаций и происшествий, а также предупреждение населения об угрожающих ситуациях
             .report-50-percent-width-illustration
                img(src="/images/orb-report/BG_1.png") 
             p <b>Реализация проекта</b> 
             p За 2021 год в рамках проекта Минцифрой Оренбургской области:
             ul
               li Проведена корректировка технического задания на проектирование АПК «Безопасный город» на территории Оренбургской области.
               li Советом главных конструкторов АПК «Безопасный город» согласовано техническое задание на проектирование АПК «Безопасный город» на территории Оренбургской области.
             p <b>Техническим задание предусмотрено проектирование комплекса средств автоматизации «Региональная интеграционная платформа» и единого центра оперативного реагирования Оренбургской области в следующем составе</b>
             .report-sm-illustration
                img(src="/images/orb-report/BG_2.png") 
             h3 ГИС «Обеспечение градостроительной деятельности»
             p 
            h2#covid Работа в период CoVID-19
            .orb__grid.orb__grid-size-XXL.orb__grid-inset-L
              .orb__grid-cell
                .orb-report-steps
                  h4 Перевод Правительства области на удаленную работу
                  ul 
                    li Настройка удаленного доступа для работы
                    li Создание необходимых условий для бесперебойной работы 
                    li Обеспечение защищенного доступа к сервисам Правительства
                  .result 
                    span.result-number 700 
                    <b>рабочих мест</b>
                    p.result-text Менее двух недель понадобилось для отработки мероприятий и создания условий по переводу сотрудников на дистанционную работу
              .orb__grid-cell
                .orb-report-steps
                  h4 Поддержка граждан за рубежом
                  ul 
                    li Организована «горячая линия» для обращения граждан
                    li Обеспечена «обратная связь» с Оренбуржцами, находящимися в сложной ситуации за рубежом
                    li Обеспечено взаимодействие с федеральными и региональными органами исполнительной власти
                  .result 
                    span.result-number 150 
                    <b>оренбуржцам</b>
                    p.result-text помогли вернуться из-за рубежа
              .orb__grid-cell
                .orb-report-steps
                  h4 Создание портала CoVID-19
                  ul 
                    li Министерство стало частью команды по созданию портала «Стопкоронавирус56» и отладке работы единого круглосуточного колл-центра по вопросам режима самоизоляции и противодействия CoVID-19 «8-800-302-50-50».<br>Создание портала заняло 48 часов.
                  .result 
                    b
                      a(href="стопкоронавирус56.рф") стопкоронавирус56.рф
              .orb__grid-cell
                .report-big-illustration.shift-top
                  img(src="/images/orb-report/screen_covid.png")
    include /designs/_dd-footer


block footer