include /mixins/a

footer
  .orb__wrapper.shift-right
    section
      if page === '/'
        figure.marten
          include /partials/marten
      p.orb__text-S C любыми вопросами о дизайн-системе и продуктах Минцифры Оренбургской области вы можете обратиться к начальнику отдела мониторинга интернет-ресурсов Центра информационных технологий Оренбургской области Юлии Хрипковой: <a href="mailto:udh@mail.orb.ru">udh@mail.orb.ru</a>, <a href="https://t.me/Uliya_Hripkova">@Uliya_Hripkova</a>.
      p.orb__text-S Сделано <a href="https://intuition.team">с Интуицией</a> в 2020 году.

