include /mixins/a

footer
  .nav.main-nav
    +a.nav-link.logo-link(href="/")
      img(src="/images/swg-logo-h.svg")
    +a.nav-link.games-link(href="/games") Игры
    +a.nav-link.about-link(href="/about") Компания
    +a.nav-link.jobs-link(href="/jobs") Вакансии
  .nav.side-nav
    +a.nav-link.EN-link(href="/about_EN") English