.small-at-1000 {
  @media screen and (max-width: 1200px) {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 17px;
    @include orb__normalize-line-height;
  }
}

.ag-widget {
  position: relative;
  // margin: 4em;
  padding: 1em;
  background-color: var(--surface-color);
  width: 50%;
  height: 18em;

  background-color: rgba(0, 22, 86, 1);
  color: var(--background-color);
  overflow: hidden;

  .bg-logo {
    position: absolute;
    top: -6em;
    left: 10em;
    width: 80%;

    img {
    }
  }

  h3 {
    position: relative;
    font-weight: normal;
  }
  .content {
    position: relative;
  }

  .buttons {
    position: absolute;
    left: 1em;
    bottom: 2em;
  }

  .button {
    margin: 0.5em 0;
  }

  .orb__button-link {
    display: inline-block;
    // font-size: 1.4em;
    @include orb__normalize-line-height;
    // margin-bottom: .5em;

    &.red {
      border: 0;
      background-color: rgba(var(--error-RGB), 0.9);
      color: white;

      &:hover {
        border: 0;
        background-color: var(--error-color);
      }
    }
    &.light {
      // background-color: var(--accent-color);
      color: white;
      border-color: rgba(255, 255, 255, 0.4);

      &:hover {
        border-color: rgba(255, 255, 255, 0.6);
        // background-color: rgba(var(--accent-RGB), .8);
      }
    }
  }

  .badge {
    position: relative;
    display: block;
    border: 0;

    &:hover {
      border: 0;

      img {
        box-shadow: 0 0px 30px 0px var(--accent-color);
        position: relative;
        z-index: 1;
      }
    }

    img {
      height: 2em;
      border-radius: 0.2em;
    }
  }
}

.apps {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;

  p {
    font-size: 0.8em;
    @include orb__normalize-line-height;
  }
}
