.small-at-1000 {
  @media screen and (max-width: 1200px) {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    @include orb__normalize-line-height;
  }
  @media #{$mobile} {
    font-size: 15px;
    @include orb__normalize-line-height;
  }
}

.wrapper.full-at-1000 {
  width: 84%;
  @media screen and (max-width: 1200px) {
    width: 96%;
  }
  @media #{$mobile} {
    width: 100%;
    padding: 0 0.9em 0 1em;
  }
}

.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .banners-column {
    width: 66%;

    &.narrow {
      width: 32%;
    }
  }
}

.ag-widget {
  position: relative;
  margin-top: 1.4em;
  padding: 1.2em 1.5em;
  background-color: #f7f7f7;
  // width: 50%;
  height: 15em;
  color: var(--text-color);
  overflow: hidden;

  .bg-logo {
    position: absolute;
    z-index: 0;
    top: -2em;
    // left: 17.3em;
    left: 46%;
    width: 19.5em;

    img {
    }
  }

  h4 {
    position: relative;
    // font-weight: normal;
  }
  .content {
    position: relative;
  }

  .buttons {
    position: absolute;
    left: 1.5em;
    bottom: 1.2em;
  }

  .button {
    margin: 0.5em 0;
  }

  .orb__button-link {
    display: inline-block;
    @include orb__normalize-line-height;
  }
}

.apps {
  position: absolute;
  bottom: 1.4em;
  right: 1em;

  p {
    font-size: 0.8em;
    @include orb__normalize-line-height;
  }
}

.orb {
  .badge {
    position: relative;
    display: block;
    border: 0;
    margin: 0.3em;

    &:hover {
      border: 0;

      img {
        // box-shadow: 0 0px 10px 4px var(--accent-color);
        position: relative;
        z-index: 1;
        filter: brightness(0.8) invert(0.1);
      }
    }

    img {
      width: auto;
      height: 2em;
      border-radius: 0.2em;
    }
  }
}

.problem-form {
  display: flex;
  font-size: 1.2em;

  @media #{$mobile} {
    flex-wrap: wrap;
  }

  input {
    margin-right: 0.3em;

    @media #{$mobile} {
      width: 100%;
      margin-bottom: 0.5em;
    }
  }
}

a.vote-promo {
  display: block;
  padding: 1em 3em 1em 1em;
  // margin: 1em 0;
  background-color: rgba(var(--surface-RGB), 0.5);
  color: var(--text-color);
  border-bottom: 0;
  height: 100%;

  .fake-button {
    margin-top: 0.3em;

    display: inline-block;
    padding: 0.3em 1em 0.4em;
    background-color: var(--accent-color);
    color: var(--background-color);
    border-radius: 0.3em;

    &.big {
      font-size: 1.3em;
      @include orb__normalize-line-height;
    }
  }

  &:hover {
    background-color: rgba(var(--surface-RGB), 0.7);
    // color: rgba(var(--surface-RGB), 1);
    color: var(--text-color);
    border-bottom: 0;

    .fake-button {
      background-color: var(--hover-color);
    }
  }
}

.orb__window {
  position: relative;
  background-color: var(--background-color);
  border-radius: 0.3em;
  padding: 1.2em 1.5em 1.5em 1.2em;
  box-shadow: 0 0.5em 1.5em 0 rgba(var(--text-RGB), 0.1);

  &:after {
    content: "×";
    position: absolute;
    font-size: 1.5em;
    @include orb__normalize-line-height;
    opacity: 0.4;
    top: 0.15em;
    right: 0.4em;
    z-index: 1;
  }
}

.report-nav {
  .orb__grid {
    &.orb__grid-size-M {
      .orb__grid-cell {
        width: calc(100% / 5);

        @media #{$mobile} {
          width: calc(100% / 2);
        }
      }
    }
  }
  .orb__grid-cell {
    @media #{$desktop} {
      &:nth-child(1) {
        .orb__nav-card {
          border-radius: 0.8em 0 0 0;
        }
      }
      &:nth-child(5) {
        .orb__nav-card {
          border-radius: 0 0.8em 0 0;
        }
      }
      &:nth-child(6) {
        .orb__nav-card {
          border-radius: 0 0 0 0.8em;
        }
      }
      &:nth-child(10) {
        .orb__nav-card {
          border-radius: 0 0 0.8em 0;
        }
      }
    }
    @media #{$mobile} {
      &:nth-child(1) {
        .orb__nav-card {
          border-radius: 0.8em 0 0 0;
        }
      }
      &:nth-child(2) {
        .orb__nav-card {
          border-radius: 0 0.8em 0 0;
        }
      }
      &:nth-child(9) {
        .orb__nav-card {
          border-radius: 0 0 0 0.8em;
        }
      }
      &:nth-child(10) {
        .orb__nav-card {
          border-radius: 0 0 0.8em 0;
        }
      }
    }
  }

  .orb__nav-card {
    position: relative;
    height: 10em;
    padding-right: 5em;
    color: white;
    background-image: linear-gradient(
      135deg,
      rgba(0, 100, 220, 1),
      rgba(0, 0, 100, 1)
    );
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
        -45deg,
        rgba(0, 220, 100, 1),
        rgba(0, 100, 200, 1)
      );
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    &:hover {
      color: white;

      &:after {
        opacity: 1;
        transition: opacity 0s ease;
      }
    }

    .orb__nav-card__caption {
      position: relative;
      z-index: 1;
    }

    .orb__nav-card__image {
      position: absolute;
      bottom: 0.7em;
      right: 1em;
      z-index: 1;

      img {
        width: 5em;
      }
    }

    &.tourism-design {
      &:after {
        background-image: linear-gradient(
          -45deg,
          rgba(0, 200, 250, 1),
          rgba(0, 100, 200, 1)
        );
      }
      .orb__nav-card__image {
        img {
          // width: 7em;
        }
      }
    }

    &.school-design {
      .orb__nav-card__image {
        bottom: 1.3em;
        img {
          transform: rotate(-7deg);
        }
      }
    }
    &.trolley-design {
      .orb__nav-card__image {
        img {
          width: 4.5em;
        }
      }
    }
    &.med-design {
      &:after {
        background-image: linear-gradient(
          -45deg,
          rgba(220, 0, 100, 1),
          rgba(0, 100, 200, 1)
        );
      }
    }
    &.music-design {
      .orb__nav-card__image {
        bottom: 1.5em;
        right: -1.8em;

        img {
          transform: rotate(70deg);
          width: 8em;
        }
      }
    }

    &.sport-design {
      .orb__nav-card__image {
        img {
          width: 6em;
        }
      }
    }
    &.city-design {
      .orb__nav-card__image {
        img {
          width: 6em;
        }
      }
    }

    &.eco-design {
      .orb__nav-card__image {
        right: 1.5em;

        img {
          width: 3em;
        }
      }
    }
  }
}

.report-big-illustration {
  position: relative;
  top: -1em;
  padding-right: 3em;
  margin-bottom: 3em;

  &.shift-left {
    left: -4em;

    @media #{$mobile} {
      left: 0;
    }
  }
}
.report-sm-illustration {
  width: 60%;
  margin-bottom: 2em;
}
.report-big-icon {
  margin: 1em 0;
  width: 6em;
}
.report-sm-icon {
  margin: 1em 0;
  width: 3.5em;
}

.report-plate {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1em 3em 2em 1em;
  border-radius: 0.5em;
}

.eco-projects-table {
  display: flex;
  flex-wrap: wrap;

  .eco-project {
    width: 33%;
    background-color: rgba(var(--surface-RGB), 0.5);

    &:nth-child(1) {
      border-radius: 0.5em 0 0 0.5em;
    }
    &:nth-child(3) {
      border-radius: 0 0.5em 0.5em 0;
    }
  }
}
