.small-at-1000 {
  @media screen and (max-width: 1200px) {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 17px;
    @include orb__normalize-line-height;
  }
}

.ag-widget {
  position: relative;
  // margin: 4em;
  padding: 1em;
  background-color: var(--surface-color);
  width: 50%;
  height: 18em;

  background-color: rgba(0, 22, 86, 1);
  color: var(--background-color);
  overflow: hidden;

  .bg-logo {
    position: absolute;
    top: -6em;
    left: 10em;
    width: 80%;

    img {
    }
  }

  h3 {
    position: relative;
    font-weight: normal;
  }
  .content {
    position: relative;
  }

  .buttons {
    position: absolute;
    left: 1em;
    bottom: 2em;
  }

  .button {
    margin: 0.5em 0;
  }

  .orb__button-link {
    display: inline-block;
    // font-size: 1.4em;
    @include orb__normalize-line-height;
    // margin-bottom: .5em;

    &.red {
      border: 0;
      background-color: rgba(var(--error-RGB), 0.9);
      color: white;

      &:hover {
        border: 0;
        background-color: var(--error-color);
      }
    }
    &.light {
      // background-color: var(--accent-color);
      color: white;
      border-color: rgba(255, 255, 255, 0.4);

      &:hover {
        border-color: rgba(255, 255, 255, 0.6);
        // background-color: rgba(var(--accent-RGB), .8);
      }
    }
  }
}

.apps {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;

  p {
    font-size: 0.8em;
    @include orb__normalize-line-height;
  }
}

.orb {
  .badge {
    position: relative;
    display: inline-block;
    border: 0;
    margin-right: 0.5em;

    &:hover {
      border: 0;

      img {
        box-shadow: 0 0px 0px 4px var(--mark-color);
        position: relative;
        z-index: 1;
      }
    }

    img {
      width: auto;
      height: 2em;
      border-radius: 0.2em;
    }
  }
}

.problem-form {
  display: flex;
  font-size: 1.2em;

  @media #{$mobile} {
    flex-wrap: wrap;
  }

  input {
    margin-right: 0.3em;

    @media #{$mobile} {
      width: 100%;
      margin-bottom: 0.5em;
    }
  }
}

a.vote-promo {
  display: block;
  padding: 1em 3em 1em 1em;
  // margin: 1em 0;
  background-color: rgba(var(--surface-RGB), 0.5);
  color: var(--text-color);
  border-bottom: 0;
  height: 100%;

  .fake-button {
    margin-top: 0.3em;

    display: inline-block;
    padding: 0.3em 1em 0.4em;
    background-color: var(--accent-color);
    color: var(--background-color);
    border-radius: 0.3em;

    &.big {
      font-size: 1.3em;
      @include orb__normalize-line-height;
    }
  }

  &:hover {
    background-color: rgba(var(--surface-RGB), 0.7);
    // color: rgba(var(--surface-RGB), 1);
    color: var(--text-color);
    border-bottom: 0;

    .fake-button {
      background-color: var(--hover-color);
    }
  }
}
