.letters-header {
  padding: 1em 1.1em;
  background-color: var(--surface-color);

  .orb-logo {
    display: flex;
    .orb-emblem {
      width: 3em;

      .st0 {
        fill: var(--text-color);
      }
    }

    .orb-caption {
      margin: 0.35em 0.6em;
    }
  }
}

.promo-auth {
  position: absolute;
  top: 1em;
  right: 2em;
  width: 15em;
  z-index: 1000;

  padding: 1em;
  border-radius: 0.5em;
  border-bottom: 0;

  background-color: var(--background-color);
  box-shadow: 0 1em 2em 0 rgba(var(--accent-RGB), 0.1);

  @media #{$mobile} {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    margin-top: -2em;
    left: 1em;
  }

  .gosuslugi {
    margin: 0.8em 0.05em;
    width: 10em;
  }

  .fake-button {
    margin-top: 0.3em;
    font-size: 0.75em;

    display: inline-block;
    padding: 0.2em 0.8em 0.3em;
    background-color: var(--accent-color);
    color: var(--background-color);
    border-radius: 0.3em;
  }

  &:hover {
    border-bottom: 0;
    box-shadow: 0 1em 2em 0 rgba(var(--hover-RGB), 0.2);

    .fake-button {
      background-color: var(--hover-color);
    }
  }
}

.letters-promo {
  position: relative;
  padding: 1em 1em 2em 1em;
  background-color: var(--surface-color);

  @media #{$mobile} {
    padding: 0.5em 0.5em 3em 0.5em;
  }

  .promo-cta {
    padding: 1em 2em;
    width: 65%;

    @media #{$mobile} {
      padding: 0.5em 0.6em;
      width: 100%;
    }

    h2 {
      @media #{$mobile} {
        font-size: 2em;
      }
    }

    .buttons {
      margin: 1em 0;
    }
  }
}

.letters-content {
  padding: 1em 25% 4em 3em;

  @media #{$mobile} {
    padding: 1em 1.1em;
    width: 100%;
  }
}

.letters-footer {
  padding: 1em;
}

.ag-frame {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: -0.5em;
    bottom: -0.5em;
    left: -0.8em;
    right: -0.5em;
    border: 1px solid rgba(var(--text-RGB), 0.2);
    border-radius: 0.3em;
  }
}

.orb {
  .orb__button-link {
    &.ag-logo-bg {
      position: relative;
      background-image: url("/images/ORB_AG-logo-box.svg");
      background-size: 8em auto;
      background-position: 80% 60%;
      background-repeat: no-repeat;
      background-color: rgba(0, 20, 120, 1);
      padding: 0.35em 1em 0.45em;

      border: 0;

      &:hover {
        border: 0;
      }
    }
  }
}
.ag-badges {
  margin-top: 0.3em;
}

.orb__link-icon {
  position: relative;
  top: 0.1em;
  display: inline-block;
  margin: 0 0.2em 0 0;
  img {
    // display: inline;
    width: 1em;
  }
}
