.orb-report-header {
  padding: 1em 1.1em;
  // background-color: rgba(var(--surface-RGB), 0.5);

  .orb-logo {
    display: flex;
    .orb-emblem {
      width: 3em;

      .st0 {
        fill: rgba(var(--text-RGB), 1);
      }
    }

    .orb-caption {
      margin: 0em 0.6em;
    }
  }
}

.orb-report-2021-cover {
  position: relative;
  background-color: rgba(var(--text-RGB), 1);
  height: 30em;
  border-radius: 0.8em;
  overflow: hidden;

  background-image: url("/images/orb-report/future-bg-1.png");
  background-size: contain;

  @media print {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .orb-future-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 35em;

    @media print {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    &.future-bg1 {
      background-image: url("/images/identity/ORB_O-logo.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 55%;

      @media #{$mobile} {
        background-size: 115%;
        background-position: 50% 30%;
      }
    }

    &.future-bg2 {
      background-image: url("/images/orb-report/future-bg-2.png");
      background-size: contain;
    }

    &.future-bg3 {
      background-image: url("/images/orb-report/2021.svg");
      background-repeat: no-repeat;
      background-position: 50% 42%;
      background-size: 58%;
      @media #{$mobile} {
        background-size: 90%;
        background-position: 50% 40%;
      }
    }

    &.future-bg4 {
      background-image: url("/images/orb-report/future-bg-3.png");
      background-size: contain;
    }
  }
}
.orb-report-person-block {
  height: 8em;
  color: white;
  display: flex;
  flex-direction: row;
  width: 80%;

  @media #{$mobile} {
    width: 100%;
    font-size: 0.8em;
  }
  @media print {
    width: 100%;
  }

  &.order__1 {
    .info {
      background-color: #264582;
    }
  }
  &.order__2 {
    .info {
      background-color: #2457c5;
    }
  }
  &.order__3 {
    .info {
      background-color: #4979d1;
    }
  }
  &.order__4 {
    .info {
      background-color: #70a3e7;
    }
  }

  .qr-code {
    @media print {
      margin-left: $orb__density;
    }
  }

  img {
    object-fit: cover;
    width: 8em;
  }
  .info {
    padding: 1em 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 1;

    @media #{$mobile} {
      padding: 0.6em 1em;
    }

    @media print {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
  .orb-report-link-inverted {
    border-bottom: 1px solid rgba(var(--background-RGB), 0.2);
    color: rgba(var(--background-RGB), 0.9);

    &:hover {
      border-bottom: 1px solid rgba(var(--background-RGB), 0.4);
      color: rgba(var(--background-RGB), 1);
    }
  }
}

.orb-report-picture-heading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 20em;
  overflow: hidden;

  @media #{$mobile} {
    height: 14em;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .bg {
    padding: 2em 1.8em;
    background-color: rgba(var(--accent-RGB), 0.6);
    height: 100%;
    display: flex;
    align-items: end;
    width: 60%;

    @media #{$mobile} {
      padding: 1.6em 1.4em;
      width: 70%;
    }

    @media print {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    h2,
    h3 {
      color: white;
      font-weight: 600;
      margin: 0;
    }
  }
}

.orb-report-factoid {
  color: var(--brand-color-2);

  .number {
    font-size: 4em;
    line-height: 1em;
    font-weight: 600;

    @media #{$mobile} {
      font-size: 2.2em;
    }
  }
}

.orb-report-infographics {
  margin-bottom: 1em;

  .info-item {
    display: flex;
    align-items: baseline;

    .bar {
      width: 50%;
      padding: 0.2em 0.5em;
      color: white;
      margin-right: 0.3em;
      text-align: right;
      white-space: nowrap;
      transition: width 0.3s ease;
      background-image: linear-gradient(
        to right,
        rgba(var(--accent-RGB), 1),
        rgba(var(--link-RGB), 1)
      );

      @media print {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }

      &.sleep {
        width: 10% !important;
      }

      &.planning {
        background-image: linear-gradient(to right, #65a3ea, #3c8be4);
      }
    }

    .caption {
      color: rgba(var(--text-RGB), 0.5);
    }
  }
}

.orb-report-steps {
  width: 80%;

  ul {
    li {
      list-style-type: none;
      padding-left: calc(#{$orb__density} * 1.4);
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        content: " \2193";
        top: 0.1em;
      }
    }
  }
  .result {
    position: relative;
    padding-left: calc(#{$orb__density} * 1.4);
    margin-top: calc(#{$orb__density} * 1.4);

    &::before {
      position: absolute;
      content: "";
      background-image: url("/images/orb-report/check_circle_outline_black_24dp.svg");
      left: -0.3em;
      width: 1.5em;
      height: 1.5em;
      background-size: 100%;

      @media print {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
    }

    &-number {
      color: rgba(var(--accent-RGB), 1);
      font-size: 2em;
      font-weight: 600;
    }
    &-text {
      margin-top: calc(#{$orb__density} * 0.2);
    }
  }
}

.orb-report-full-img {
  width: 75%;
  margin-bottom: 2.5em;
}

.orb-report-fix-height-img {
  height: 12em;
  margin-bottom: 1em;

  img {
    height: 100%;
    object-fit: contain;
    width: inherit;
  }
}

.orb__identity.orb-report-2021 {
  margin-top: 0.6em;
}

.orb-report-chapter-title {
  height: 80vh;
  display: flex;
  background: radial-gradient(
      67.96% 70.03% at 56.85% 86.42%,
      rgba(229, 237, 246, 0.8) 0%,
      rgba(232, 230, 239, 0) 100%
    ),
    linear-gradient(317.51deg, #71a5ec 28.16%, #2564d2 83.83%);
  border-radius: 50px;
  padding: 4em 3em;
  margin-bottom: 5em;
  color: white;
  border-radius: 0.8em;

  @media print {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.print {
  &__new-page-break {
    page-break-before: always;
  }
  &__visible {
    display: none !important;
    @media print {
      display: block !important;
    }
  }
  &__hidden {
    @media print {
      display: none !important;
    }
  }
}
.mobile {
  &__hidden {
    @media #{$mobile} {
      display: none !important;
    }
  }
  &__visible {
    display: none !important;
    @media #{$mobile} {
      display: block !important;
    }
  }
}

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.pie-chart {
  &__pie,
  &__legend {
    display: inline-block;
    vertical-align: top;
  }

  &__pie {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px auto 35px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 100px;
      height: 100px;
      background: #eee;
      border-radius: 50%;
      top: 50px;
      left: 50px;
    }
  }
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;

  @media print {
    animation: none;
    transform: rotate(0deg) translate3d(0, 0, 0);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
  }
}

.pie-chart__legend {
  display: block;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  padding: 0.75em 0.75em 0.05em;
  font-size: 0.8em;
  text-align: left;
  width: 65%;
  list-style-type: none;

  li {
    line-height: 1.25em;
    border-left: 1.25em solid black;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "" !important;
    }
  }
}
.pie-conic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  // background: conic-gradient(#655 var(--p,50%), yellowgreen 0);
  background: conic-gradient(
    #2357c5 var(--p1, 10%),
    #4979d1 0,
    var(--p2, 20%),
    #769ee5 0,
    var(--p3, 0%),
    #aac2f0 0,
    var(--p4, 0%),
    #ccd9f5 0
  );

  @media print {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
