.orb-report-header {
  padding: 1em 1.1em;
  // background-color: rgba(var(--surface-RGB), 0.5);

  .orb-logo {
    display: flex;
    .orb-emblem {
      width: 3em;

      .st0 {
        fill: rgba(var(--text-RGB), 1);
      }
    }

    .orb-caption {
      margin: 0em 0.6em;
    }
  }
}

.orb-report-2021-cover {
  position: relative;
  background-color: rgba(var(--text-RGB), 1);
  height: 30em;
  border-radius: 0.8em;
  overflow: hidden;

  background-image: url("/images/orb-report/future-bg-11.png");
  background-size: contain;

  @media print {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .orb-future-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 35em;

    @media print {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    &.future-bg1 {
      background-image: url("/images/identity/ORB_O-logo.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 55%;

      @media #{$mobile} {
        background-size: 115%;
        background-position: 50% 30%;
      }
    }

    &.future-bg2 {
      background-image: url("/images/orb-report/future-bg-2.png");
      background-size: contain;
    }

    &.future-bg3 {
      background-image: url("/images/orb-report/2021.svg");
      background-repeat: no-repeat;
      background-position: 50% 42%;
      background-size: 58%;
      @media #{$mobile} {
        background-size: 90%;
        background-position: 50% 40%;
      }
    }

    &.future-bg4 {
      background-image: url("/images/orb-report/future-bg-3.png");
      background-size: contain;
    }
  }
}
.orb-report-scroll-top {
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  font-size: 0.8em;
  background-color: rgba(var(--background-RGB), 1);
  padding: 0.1em 1em;
  border-radius: 1em;
}

.orb-report-container {
  display: flex;
  align-items: flex-start;

  @media #{$mobile} {
    display: block;
  }
}

.orb-report-side-menu {
  position: sticky;
  top: 0px;
  width: 12em;
  margin-right: 3em;
  margin-left: calc(#{$orb__density} * -3.5);
  flex-shrink: 0;
  p,
  h5,
  h6 {
    font-size: 0.65em;
    line-height: 1.3em;
  }

  @media screen and (max-width: 1200px) {
    margin-left: 0;
  }

  @media #{$mobile} {
    position: relative;
    margin: 0;
    width: 100%;
  }
}

.orb-report-person-block {
  min-height: 8em;
  color: white;
  display: flex;
  flex-direction: row;
  width: 85%;

  @media #{$mobile} {
    width: 100%;
    font-size: 0.8em;
  }
  @media print {
    width: 100%;
  }

  &.order__1 {
    .info {
      background-color: #264582;
    }
  }
  &.order__2 {
    .info {
      background-color: #2457c5;
    }
  }
  &.order__3 {
    .info {
      background-color: #4979d1;
    }
  }
  &.order__4 {
    .info {
      background-color: #70a3e7;
    }
  }

  .qr-code {
    @media print {
      margin-left: $orb__density;
    }
  }

  img {
    object-fit: cover;
    width: 8em;
  }
  .info {
    padding: 1em 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 1;

    @media #{$mobile} {
      padding: 0.6em 1em;
    }

    @media print {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
  .orb-report-link-inverted {
    border-bottom: 1px solid rgba(var(--background-RGB), 0.2);
    color: rgba(var(--background-RGB), 0.9);

    &:hover {
      border-bottom: 1px solid rgba(var(--background-RGB), 0.4);
      color: rgba(var(--background-RGB), 1);
    }
  }
}

.orb-report-organization-block {
  display: flex;
  width: 90%;

  @media #{$mobile} {
    width: 100%;
  }

  img {
    margin-top: 0.3em;
    object-fit: cover;
    width: 8em;
    height: 8em;
    flex-shrink: 0;
  }
}

.orb-report-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  img {
    width: 22%;
    margin-top: -1.2em;
    object-fit: contain;

    &.width-S {
      width: 28%;
    }
    &.width-M {
      width: 35%;
    }
    &.no-margin-top {
      margin-top: 0;
    }

    @media #{$mobile} {
      display: none;
    }
  }
}

.orb-report-picture-heading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 20em;
  overflow: hidden;

  @media #{$mobile} {
    height: 14em;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .bg {
    padding: 2em 1.8em;
    background-color: rgba(var(--accent-RGB), 0.6);
    height: 100%;
    display: flex;
    align-items: end;
    width: 60%;

    @media #{$mobile} {
      padding: 1.6em 1.4em;
      width: 70%;
    }

    @media print {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    h2 {
      color: white;
      font-weight: 500;
      margin: 0;
    }
  }
}

.orb-report-factoid {
  color: var(--brand-color-2);

  .number {
    font-size: 3.8em;
    line-height: 1em;
    font-weight: 600;

    .less {
      font-size: 0.78em;
    }

    @media #{$mobile} {
      font-size: 2.2em;
    }
  }
}

.orb-report-infographics {
  margin-bottom: 1em;

  .info-item {
    display: flex;
    align-items: baseline;

    .bar {
      width: 50%;
      padding: 0.2em 0.5em;
      color: white;
      margin-right: 0.3em;
      text-align: right;
      white-space: nowrap;
      transition: width 0.3s ease;
      background-image: linear-gradient(
        to right,
        rgba(var(--accent-RGB), 1),
        rgba(var(--link-RGB), 1)
      );

      @media print {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }

      &.sleep {
        width: 10% !important;
      }

      &.planning {
        background-image: linear-gradient(to right, #65a3ea, #3c8be4);
      }
    }

    .caption {
      color: rgba(var(--text-RGB), 0.5);
      width: 5em;
    }
  }
}

.orb-report-steps {
  width: 80%;

  ul {
    li {
      list-style-type: none;
      padding-left: calc(#{$orb__density} * 1.4);
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        content: " \2192";
        top: 0.1em;
      }
    }
  }
  .result {
    position: relative;
    padding-left: calc(#{$orb__density} * 1.4);
    margin-top: calc(#{$orb__density} * 1.4);

    &::before {
      position: absolute;
      content: "";
      background-image: url("/images/orb-report/check_circle_outline_black_24dp.svg");
      left: -0.3em;
      width: 1.5em;
      height: 1.5em;
      background-size: 100%;

      @media print {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
    }

    &-number {
      color: rgba(var(--accent-RGB), 1);
      font-size: 2em;
      font-weight: 600;
    }
    &-text {
      margin-top: calc(#{$orb__density} * 0.2);
    }
  }
}

.orb-report-img-75 {
  width: 75%;
  margin-bottom: 2.5em;
}
.orb-report-container-85 {
  width: 85%;

  @media #{$mobile} {
    width: 100%;
  }
}
.orb-report-container-90 {
  width: 90%;

  @media #{$mobile} {
    width: 100%;
  }
}
.aside-shadow {
  box-shadow: 0 0.5em 1.5em 0 rgba(var(--link-RGB), 0.1);
  background: white;
  padding: 1.8em 3em 2em 2em;
  margin: 3em -2em;
  border-radius: 0.5em;

  &.small {
    margin: 0;
    padding: calc(1.3em * 0.75);
    padding-top: calc(1.3em * 0.6);
    padding-right: calc(1.3em * 2);
    border-radius: 0.2em;
  }

  @media #{$mobile} {
    margin: 2em 0em;
  }
}

.orb-report-fix-height-img {
  height: 5em;
  margin-bottom: 1em;

  img {
    height: 100%;
    object-fit: contain;
    width: inherit;
  }
}

.orb__identity.orb-report-2021 {
  margin-top: 0.6em;
}

.orb-report-chapter-title {
  display: flex;
  flex-direction: column;
  background: #2457c5;
  padding: 1.6em 2em 3em 2em;
  margin-bottom: 5em;
  color: white;
  border-radius: 0.2em;

  @media #{$mobile} {
    padding: 1em 1.2em 2em 1.2em;
  }

  h1 {
    font-size: 3.6em;
    font-weight: 500;

    @media #{$mobile} {
      font-size: 1.8em;
    }
  }

  a {
    border-bottom: 1px solid rgba(var(--background-RGB), 0.2);
    color: rgba(var(--background-RGB), 0.9);

    &:hover {
      border-bottom: 1px solid rgba(var(--background-RGB), 0.4);
      color: rgba(var(--background-RGB), 1);
    }
  }

  @media print {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.print {
  &__new-page-break {
    page-break-before: always;
  }
  &__visible {
    display: none !important;
    @media print {
      display: block !important;
    }
  }
  &__hidden {
    @media print {
      display: none !important;
    }
  }
}
.mobile {
  &__hidden {
    @media #{$mobile} {
      display: none !important;
    }
  }
  &__visible {
    display: none !important;
    @media #{$mobile} {
      display: block !important;
    }
  }
}

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.pie-chart {
  &.horizontal {
    display: flex;
    align-items: center;

    .pie-chart__legend {
      margin-left: 2em;
    }

    @media #{$mobile} {
      display: block;

      .pie-chart__legend {
        margin-left: 0;
      }
    }
  }
  &__pie,
  &__legend {
    display: inline-block;
    vertical-align: top;
  }

  &__pie {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px auto 35px;

    &::before {
      content: attr(data-total);
      display: flex;
      position: absolute;
      z-index: 1;
      width: 120px;
      height: 120px;
      background: rgba(var(--background-RGB), 1);
      border-radius: 50%;
      top: 40px;
      left: 40px;
      line-height: 100px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 0.9em;
    }
  }
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;

  @media print {
    animation: none;
    transform: rotate(0deg) translate3d(0, 0, 0);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
  }
}

.pie-chart__legend {
  display: block;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  padding: 0.75em 0.75em 0.05em;
  font-size: 0.8em;
  text-align: left;
  width: 65%;
  list-style-type: none;

  li {
    line-height: 1.25em;
    border-left: 1.25em solid black;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "" !important;
    }

    span:last-child {
      flex-shrink: 0;
    }
  }
}
.orb-report-table {
  border-collapse: collapse;
  font-size: 0.8em;
  table-layout: fixed;
  text-align: left;
  width: 100%;

  thead {
    background-color: rgba(var(--link-RGB), 0.1);
  }
  tr {
    border-bottom: 1px solid rgba(var(--link-RGB), 0.2);
  }
  td,
  th {
    padding: 0.4em;
    &.fix-width-centered {
      width: 6em;
      text-align: center;
    }
  }
  th {
    font-weight: 500;
    text-transform: uppercase;
  }
}

.orb-report-app-bage {
  img {
    margin: 0.4em;
    height: 2.4em;
    border-radius: 0.2em;
    width: inherit;
  }
}

.orb-report-footer-socials {
  a {
    border: none;
    &:hover {
      border: none;
    }
  }
  img {
    width: 2em;
    object-fit: contain;
  }
  display: flex;
  * + * {
    margin-left: 0.5em;
  }
}
