.poll-header {
  padding: 1em 1.1em;

  .orb-logo {
    display: flex;
    .orb-emblem {
      width: 3em;

      .st0 {
        fill: var(--text-color);
      }
    }

    .orb-caption {
      margin: 0.35em 0.6em;
    }
  }
}

.poll-card {
  margin: 0 0 2em 0;
  padding: 1em 3em 1em 1em;
  background-color: var(--surface-color);
  border-radius: 0.5em;

  .poll-progress {
    margin-bottom: 1em;
  }

  .poll-question {
    margin-bottom: 2em;
  }

  .poll-buttons {
    .orb__button-link {
      margin-right: 0.4em;
    }
  }
}

.poll-options {
  .poll-option {
    display: flex;
    align-items: baseline;
    overflow: hidden;

    background-color: rgba(var(--surface-RGB), 0.5);
    margin-bottom: 0.1em;

    &:hover {
      background-color: rgba(var(--surface-RGB), 0.7);
    }

    input {
      &:checked + label {
        font-weight: 600;
      }
    }

    label {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &.options-as-text-list {
    width: 80%;

    .poll-option {
      &:first-child {
        border-radius: 0.3em 0.3em 0 0;
      }
      &:last-child {
        border-radius: 0 0 0.3em 0.3em;
      }

      input {
        margin-left: 0.7em;
      }

      label {
        flex-grow: 1;
        padding: 0.5em 0.5em 0.5em 0.9em;
        margin-left: -0.5em;
      }
    }
  }

  &.options-as-icons-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .poll-option {
      position: relative;
      width: 11em;
      margin-right: 0.1em;

      justify-content: center;

      &:first-child {
        border-radius: 0;
      }
      &:last-child {
        border-radius: 0;
      }

      label {
        padding: 6.5em 0.5em 0.5em 0.9em;
        z-index: 1;
        margin-left: -0.5em;

        .label-icon {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          padding-top: 1.5em;

          img {
            width: 4.5em;
          }
        }
      }
    }
  }
}

.orb-poll-table {
  margin: 2em 0;

  .orb-poll-th {
    display: flex;
    flex-wrap: wrap;

    font-size: 0.85em;
    @include orb__normalize-line-height;

    border-bottom: 1px solid rgba(var(--text-RGB), 0.5);
    padding-bottom: 0.5em;

    .orb-poll-td {
      &:nth-child(1) {
        width: 35%;
      }

      &:nth-child(2) {
        width: 65%;
      }

      .orb-poll-th-columns {
        display: flex;

        .orb-poll-th-column {
          width: calc(100% / 4);
          text-align: center;
        }
      }
    }
  }

  .orb-poll-tr {
    display: flex;
    flex-wrap: wrap;

    .orb-poll-td {
      border-bottom: 1px solid rgba(var(--text-RGB), 0.2);

      &:nth-child(1) {
        width: 35%;
        padding: 0.3em 0 0.5em 0;
      }

      &:nth-child(2) {
        width: 65%;
      }

      .poll-options {
        display: flex;
        height: 100%;

        .poll-option {
          display: flex;
          align-items: stretch;

          width: calc(100% / 4);
          height: 100%;

          background-color: transparent;

          &:hover {
            background-color: rgba(var(--surface-RGB), 0.2);
          }

          label {
            display: flex;
            justify-content: center;
            align-items: center;

            flex-grow: 1;
            padding: 0.5em;
            // text-align: center;

            input {
            }
          }
        }
      }
    }
  }
}
