.poll-header {
  padding: 1em 1.1em;

  .orb-logo {
    display: flex;
    .orb-emblem {
      width: 3em;

      .st0 {
        fill: rgba(var(--text-RGB), 1);
      }
    }

    .orb-caption {
      margin: 0.35em 0.6em;
    }
  }
}

.orb {
  .orb-poll-block {
    display: block;
    height: 100%;
    padding: 1em 3em 1em 1em;

    background-color: rgba(var(--surface-RGB), 0.5);
    border-radius: 0.5em;
    border-bottom-width: 0.2em;

    &:hover {
      background-color: rgba(var(--hover-RGB), 0.1);
      border-bottom-width: 0.2em;
    }
  }
}

.poll-card {
  margin: 0 0 2em 0;
  padding: 1em 3em 1em 1em;
  background-color: rgba(var(--surface-RGB), 0.5);
  border-radius: 0.5em;

  @media #{$mobile} {
    padding: 1em;
  }

  .poll-progress {
    margin-bottom: 1em;
  }

  .poll-question {
    margin-bottom: 2em;
  }

  .poll-buttons {
    .orb__button-link {
      margin-right: 0.4em;
    }
  }

  .poll-summary {
    width: 80%;
    margin-bottom: 1.5em;

    @media #{$mobile} {
      width: 100%;
    }
  }

  .poll-result {
    width: 80%;
    margin-bottom: 2.2em;

    @media #{$mobile} {
      width: 100%;
    }
  }
}

.poll-options {
  .poll-option {
    display: flex;
    align-items: baseline;
    overflow: hidden;

    background-color: rgba(var(--surface-RGB), 0.5);
    margin-bottom: 0.1em;

    &:hover {
      background-color: rgba(var(--surface-RGB), 0.7);
    }

    input {
      &:checked + label {
        font-weight: 600;
      }
    }

    label {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &.options-as-text-list {
    width: 80%;

    @media #{$mobile} {
      width: 100%;
    }

    .poll-option {
      &:first-child {
        border-radius: 0.3em 0.3em 0 0;
      }
      &:last-child {
        border-radius: 0 0 0.3em 0.3em;
      }

      input {
        margin-left: 0.7em;
      }

      label {
        flex-grow: 1;
        padding: 0.5em 0.5em 0.5em 0.9em;
        margin-left: -0.5em;
      }
    }
  }

  &.options-as-icons-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .poll-option {
      position: relative;
      width: 11em;
      margin-right: 0.1em;
      justify-content: center;

      font-family: "Golos UI", sans-serif;

      @media #{$mobile} {
        font-size: 0.75em;
        line-height: 1;
        // width: 10em;
      }

      &:first-child {
        border-radius: 0;
      }
      &:last-child {
        border-radius: 0;
      }

      label {
        padding: 6.5em 0.5em 0.5em 0.9em;
        z-index: 1;
        margin-left: -0.5em;

        .label-icon {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          padding-top: 1.5em;

          img {
            width: 4.5em;
          }
        }
      }

      input {
        @media #{$mobile} {
          position: relative;
          top: 0.15em;
        }
      }
    }
  }
}

.orb-poll-table {
  margin: 2em 0;

  .orb-poll-th {
    display: flex;
    flex-wrap: wrap;

    border-bottom: 1px solid rgba(var(--text-RGB), 0.5);
    padding-bottom: 0.5em;

    font-size: 0.85em;
    @include orb__normalize-line-height;

    @media #{$mobile} {
      font-size: 0.75em;
      line-height: 1;
    }

    .orb-poll-td {
      &:nth-child(1) {
        width: 35%;
      }

      &:nth-child(2) {
        width: 65%;
      }

      .orb-poll-th-columns {
        display: flex;

        .orb-poll-th-column {
          width: calc(100% / 4);
          text-align: center;
        }
      }
    }
  }

  .orb-poll-tr {
    display: flex;
    flex-wrap: wrap;

    .orb-poll-td {
      border-bottom: 1px solid rgba(var(--text-RGB), 0.2);

      @media #{$mobile} {
        font-size: 0.9em;
        line-height: 1.2;
      }

      &:nth-child(1) {
        width: 35%;
        padding: 0.3em 0 0.5em 0;
      }

      &:nth-child(2) {
        width: 65%;
      }

      .poll-options {
        display: flex;
        height: 100%;

        .poll-option {
          display: flex;
          align-items: stretch;

          width: calc(100% / 4);
          height: 100%;

          background-color: transparent;

          &:hover {
            background-color: rgba(var(--surface-RGB), 0.2);
          }

          label {
            display: flex;
            justify-content: center;
            align-items: center;

            flex-grow: 1;
            padding: 0.5em;
            // text-align: center;

            input {
            }
          }
        }
      }
    }
  }
}

.poll-infographics {
  margin-bottom: 1em;

  .info-item-caption {
    margin: 0.5em 0 0.2em;
  }

  .info-item {
    display: flex;
    // margin-bottom: 0.5em;
    align-items: baseline;

    font-family: "Golos UI", sans-serif;

    .bar {
      width: 50%;
      padding: 0.2em 0.5em;
      color: white;
      margin-right: 0.3em;
      text-align: right;
      white-space: nowrap;
      transition: width 0.3s ease;
      background-image: linear-gradient(
        to right,
        rgba(var(--accent-RGB), 1),
        rgba(var(--link-RGB), 1)
      );

      &.sleep {
        width: 10% !important;
      }
    }

    .caption {
      color: rgba(var(--text-RGB), 0.5);
    }

    &.colors {
      &:nth-child(1) {
        .bar {
          background-image: linear-gradient(
            to right,
            rgba(var(--link-RGB), 1),
            rgba(200, 0, 0, 1)
          );
        }
      }
      &:nth-child(2) {
        .bar {
          background-image: linear-gradient(
            to right,
            rgba(var(--link-RGB), 1),
            rgba(0, 0, 0, 0.4)
          );
        }
      }
      &:nth-child(3) {
        .bar {
          background-image: linear-gradient(
            to right,
            rgba(var(--link-RGB), 1),
            rgba(0, 200, 50, 1)
          );
        }
      }
      &:nth-child(4) {
        .bar {
          background-image: linear-gradient(
            to right,
            rgba(var(--link-RGB), 1),
            rgba(0, 0, 0, 0.7)
          );
        }
      }
    }
  }
}

.legend {
  font-size: 0.75em;
  margin-bottom: 1em;

  .legend-item {
    display: inline;
    margin-right: 0.7em;

    &:nth-child(1) {
      color: rgba(200, 0, 0, 1);
    }
    &:nth-child(2) {
      color: rgba(0, 0, 0, 0.4);
    }
    &:nth-child(3) {
      color: rgba(0, 200, 50, 1);
    }
    &:nth-child(4) {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
