@import "node_modules/normalize.css/normalize";

$mobile: "(max-width: 767px)";
$desktop: "(min-width: 768px)";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Golos Text", sans-serif;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  color: rgba(var(--text-RGB), 1);
  background-color: rgba(var(--background-RGB), 1);

  @media #{$mobile} {
    min-width: auto;
  }
}
